/*------------------------------------*\
    #SITE-NAV
\*------------------------------------*/

// Internal variables.
$logo-height:   64px;


.menu__list {
    padding: 0;
    margin: 0;
    list-style-type: none;
@include media-query(lg) {
    display: flex;
    max-width: 864px;
    margin: 0 auto;
    flex-direction: row;
    }
}

.menu-item {
        padding: 0;
@include media-query(lg) {
    border: none;
    }
}

.menu__list a {
    height: 50px;
    padding: 17px 20px;
    line-height: 1.4;
    display: block;
    text-decoration: none;
    white-space: nowrap;
}

