.footer {
  background-color: rgba($colorGray, 0.8);
  color: #fff;
  padding: .5em;
  .Footer-top {
justify-content: space-around;
//padding-top: 1em;
background: none;
.widget {
flex: 1 1 200px;
flex-wrap: wrap;
margin: .5em;
background-color: rgba($colorGray, 0.95);
}
}

  .copyright {

  }
  .credit {

  }
  a {
    color: $colorGrayKeyline;
    &:hover {

    }
  }
}

.Footer-bottom {
justify-content: space-between;
}

.credit {
padding: 0;
margin: auto;
}

.menu-social {
margin: auto;
display: flex;
}

.menu-social-items {
display: flex;
margin: auto;
padding: 1em;
}