.footer {

  .copyright {

  }
  .credit {

  }
  a {

    &:hover {

    }
  }
}


.Footer-top {
justify-content: space-around;
background-color: $concrete;
}

.Footer-bottom {
justify-content: space-between;
background-color: $clouds;
}

.credit {
padding: 0;
margin: auto;
}

.menu-social {
margin: auto;
display: flex;
}

.menu-social-items {
display: flex;
margin: auto;
padding: 1em;
}