/**
*
* Sidebar
*
**/


.widget-title {
	font-size: 18px;
	font-size: 1.15rem;
}

.subsidiary-item {
flex: 1;
padding: 1.5em;
background-color: $footer-widget-color;
margin: 1em;
border-radius: $base-border-radius;
}