        .main-container {
      @extend .grid;
      max-width: $huge;
      margin: 0 auto;
      padding: .5em;
      padding-top: 60px;
       @include wider {
        padding-top: 20px;
      }

      .Sidebar,
      .site-main {
        padding: .5em;
        display: flex;
        flex-direction: column;
      }

    }



    .site-main {
      // padding-right: .7em;
      // padding-left: .7em;
    } 

    // .Sidebar-primary, .Sidebar-secondary {
    //   background-color: rgba($colorYellow, 0.7);
    // }

    .layout-1c {
      .Sidebar,
      .site-main {
          width: 100%;
    }
      .Sidebar{
       // margin-top: 1em;
      }

    }
    .layout-2c-l {
      .site-main {
        @extend .u-size-2of3;
      }
      .Sidebar-primary {
        @extend .u-size-1of3;
      }
      .Sidebar-secondary {
        @extend .u-size-1of1;
        //margin-top: 1em;
      }
      @include small-only {
        .site-main, .Sidebar-primary, .Sidebar-secondary {
          width: 100%; 
      }
      .Sidebar-primary {
        //margin-top: 1em;
      }
    }
    }

    .layout-2c-r {
      .site-main {
        @extend .u-size-2of3;
        order: 2;
      }
      .Sidebar-primary {
        @extend .u-size-1of3;
        order: 1;
      }
      .Sidebar-secondary {
        @extend .u-size-1of1;
        order: 3;
      }
      @include small-only {
        .site-main, .Sidebar-primary, .Sidebar-secondary {
          width: 100%; 
      }
    }
    }
    .layout-3c-l {
            .site-main {
        @extend .u-size-12of24;
      }
      .Sidebar-primary {
        @extend .u-size-6of24;
      }
      .Sidebar-secondary {
        @extend .u-size-6of24;
      }
      @include small-only {
        .site-main, .Sidebar-primary, .Sidebar-secondary {
          width: 100%; 
      }
    }
    }
    .layout-3c-r {
      .site-main {
        @extend .u-size-12of24;
        order: 3;
      }
      .Sidebar-primary {
        @extend .u-size-6of24;
        order: 1;
      }
      .Sidebar-secondary {
        @extend .u-size-6of24;
        order: 2;
      }
      @include small-only {
        .site-main, .Sidebar-primary, .Sidebar-secondary {
          width: 100%; 
      }
    }
    }
    // .layout-3c-c {
    //   .site-main {
    //     @extend .u-size-12of24;
    //   }
    //   .Sidebar-primary {
    //     @extend .u-size-6of24;
    //   }
    //   .Sidebar-secondary {
    //     @extend .u-size-6of24;
    //   }
    // }



    .layout-3c-c {
      .site-main {
        flex: 1 100%;
      }
      .Sidebar-primary {
        flex: 1 100%;
      }
      .Sidebar-secondary {
        flex: 1 100%;
      }
      @include medium {
        .Sidebar-primary { flex: 1 50%; }
        .Sidebar-secondary { flex: 1 50%; }
      }
      @include wide {
         .site-main {
        flex: 2 0px;
      }
      .Sidebar-primary {
        flex: 0 1 27%;
        order: 1;
      }
      .site-main {
        flex: 2 0px;
        order: 2;
      }
      .Sidebar-secondary {
        flex: 0 1 23%;
        order: 3;
      }
    }

    @include wider {
         .site-main {
      }
    }
          @media screen and (min-width: $wide) and (max-width: $wider){
         .Sidebar-secondary {
        flex: 1 100%;
      }
    }
  }



    // .main-container {
    //  // background-color: $clouds;
    // }

    // .Sidebar-primary {
    //   background-color: $colorGrayBackground;
    //  // border: 5px solid $base-font-color;
    // }

    // .Sidebar-secondary {
    //   background-color: $colorGrayKeyline;
    // //  border: 5px solid $base-font-color;
    // }

    // .site-main {
    //   background-color: $colorGrayLight;
    //  // border: 5px solid $base-font-color;
    //   border-top: none;
    //   border-bottom: none;
    // }

.comments-template,
.entry, 
.widget {
box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.36);
margin-bottom: .7em;
padding: 1em;
background-color: #fff;
width: 100%;
border-radius: $base-border-radius;

&:last-child {
  margin-bottom: 0;
}

@include wide {
  margin-bottom: 1em;
  }
}

body.custom-background {
background-size: cover;
}