/*------------------------------------*\
    #BUTTONS
\*------------------------------------*/

/**
 * Extends `.btn` in _objects.buttons.scss.
 */

.btn,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    background-color: $color-btn-background;
    color: $color-btn-text;

    a {
    	color: $color-btn-text;
    	&:hover,
    	&:active,
    	&:focus {
        color: $color-btn-text;
    }
    }

    &:hover,
    &:active,
    &:focus {
        background-color: lighten($color-btn-background,5);
    }

}
