/*------------------------------------*\
    #FOOTER
\*------------------------------------*/

.footer-layout {
background-color: $color-page-foot-bg;
color: $color-page-foot;
a {
	color: $dark-bg-color-links;
	&:hover {
		color: $dark-bg-color-links-hover;
	}
}
.sidebar {
	margin: 0 auto;
}
}
