/*------------------------------------*\
    #MESSAGE-BOARD
\*------------------------------------*/

.board-topic {
flex-direction: column;
justify-content: space-between;
padding-right: 30px;
	}

.layout__topics {
align-items: stretch;
}

.topic-title {
	@include typo-display-1;
}

.post-num {
	position: absolute;
	top: 0;
	right: 0;
	}

.num {
	float: right;
	color: #fff;
	position: relative;
	width: 30px;
	height: 26px;
	border-radius: 50%;
	//color: #fff;
	background: $color-brand-secondary-light;
	font-weight: bold;
	line-height: 1.8;
	text-align: center;
	text-decoration: none;
	@include shadow-z1();
	}


.num:before {
	position: absolute;
	top: 13px;
	right: 85%;
	width: 0;
	height: 0;
	border-top: 8px solid transparent;
	border-right: 10px solid $color-brand-secondary-light;
	border-bottom: 2px solid transparent;
	content: "";
	}

// .topic-link {
// @include card(true);
// 	}

.loop-description {
	//background-color: #ecf0f1;
	justify-content: space-between;
	align-items: center;
	}


.comment-list {
	margin-left: 0;
}
.avatar {
	border-radius: 50%;
	max-width: 60px;
	height: auto;
	}

.comment-author {
	max-width: 100px;
	text-align: center;
	}

.topic-post {
@include card;
margin-bottom: 10px;
	}


.topic-info {
background-color: #ddd;
padding: .5em 1em;
border-radius: $base-radius;
}

.comment-permalink {
position: absolute;
right: 5px;
top: 5px;
color: $color-gray;
}

textarea#mb_post_content {
min-height: 250px;
}

