/*------------------------------------*\
    #SIDE NAV
\*------------------------------------*/

.toggle-btn {
    position: relative;
    display: block;

}
.toggle-btn,
.toggle-btn:before,
.toggle-btn:after {
    background-color: $color-btn-text;
    width: 25px;
    margin: 0 auto;
    height: 3px;
    transition: all 0.4s;

}
.toggle-btn:before,
.toggle-btn:after {
    position: absolute;
    left: 0;
    top: -6px;
    content: " ";

}
.toggle-btn:after {
    top: 6px;

}
.open .toggle-btn {
    background: transparent;

}
.open .toggle-btn:before {
    transform: rotate(45deg) translate(5px, 4px);

}
.open .toggle-btn:after {
    transform: rotate(-45deg) translate(4px, -4px);

}

.navdrawer {
  z-index: 1;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 250px;
  height: 100%;
  background-color: $color-brand-dark;
  color: #fefefe;
  transform: translate(-250px, 0);
  overflow-y: auto;
}

.navdrawer.open {
    transform: translate(0, 0);
}

.navdrawer.opened {
  -webkit-transition: -webkit-transform 0.3s ease-out;
          transition: transform 0.3s ease-out;
}

.navdrawer h4,
.menu__items--secondary li a {
  height: 60px;
  padding: 17px 20px;
  line-height: 1.4;
}

.navdrawer h4 {
  background-color: white;
  color: #3367D6;
}

.menu__items--secondary {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.menu__items--secondary li a {
  display: block;
  text-decoration: none;
  color: white;
  transition: background-color 0.2s ease-out;
  white-space: nowrap;

  &:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }

  &:focus {
    background-color: rgba(255, 255, 255, 0.3);
    outline: 0;
  }

  &:active {
    background-color: rgba(255, 255, 255, 0.4);
  }

}

.menu__items--secondary li {
  border-bottom-style: solid;
  border-width: 1px;
  border-color: white;
  padding: 0;

  &::before {
  content: none;
}

}

@include media-query(lg) {
  .navdrawer {
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 0;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    -webkit-transition: none;
            transition: none;
    overflow-y: auto;
  }

  .navdrawer h4 {
    display: none;
  }

  .menu__items--secondary {
    display: flex;
    max-width: 864px;
    margin: 0 auto;
    flex-direction: row;
  }

  .menu__items--secondary li {
    border: none;
  }
}
