/*------------------------------------*\
    #HEADER
\*------------------------------------*/

.app-bar {
  display: block;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $color-brand;
  overflow: hidden;
  z-index: 1;
  transition: transform 0.3s ease-out;
}

.app-bar__container {
  display: flex;
  width: 100%;
  height: 60px;
  position: relative;
  flex-direction: row;
  margin: 0 auto;
}

.app-bar.open,
.app-bar.open ~ .main-container {
  transform: translate(250px, 0);
}

.site-title {
  flex: 1;
  @include typo-display-1;
  //font-size: 2em;
  line-height: 60px;
  //margin: 0 16px;
  //padding: 0;
  color: #fefefe;
  float: none;
  max-width: none;
  //font-weight: 300;
  display: initial;
}

.site-title a {
  text-decoration: none;
  color: inherit;
  font-weight: normal;
}

.app-bar__actions {
  display: flex;
  flex-direction: row;
  z-index: 2;
}

.navdrawer__toggle {
  width: 60px;
  height: 60px;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  display: inline-block;
  transition: background-color 0.2s ease-out;
  -webkit-tap-highlight-color: transparent;
}

.branding {
	height: 100%;
}

.site-logo-link {
align-self: center;
}

.navdrawer__toggle:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.navdrawer__toggle:focus {
  background-color: rgba(255, 255, 255, 0.2);
  outline: 0;
}

.navdrawer__toggle:active {
  background-color: rgba(255, 255, 255, 0.4);
}

@include media-query(lg) {
  .app-bar {
    position: relative;
  }

  .app-bar.open,
  .app-bar.open ~ .main-container {
    transform: translate(0px, 0);
  }

  .app-bar__container {
    display: block;
    height: 130px;
    padding: 0 16px;
    background-color: $color-brand;
  }

  .site-title {
  	@include typo-display-2;
    //float: left;
    //margin: 0;
    //padding: 0;
    line-height: 130px;
    //font-size: 46px;
  }

  .app-bar__actions {
    float: right;
  }

  .app-bar::after {
    content: ' ';
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
  }

  .navdrawer__toggle {
    display: none;
  }

}
