/*------------------------------------*\
    #CARDS
\*------------------------------------*/

.card {
	@include card;
}

.card--link {
	@include card($hover: true);
	flex: 1 100%;
}


.card__details {
	flex: 1;
}

.staff-info {
    display: inline;
    margin: 0;
    li {
      &:hover {
        //background: $color-tint;
      }
      height: $list-container-item-height;
    }
a {
	color: inherit;
	font-weight: inherit;
	vertical-align: middle;
}
}

.middle--info {
	margin-bottom: 0;
}

.entry.department {
padding: 0 $base-spacing-unit-sm 0 0;
}
