/*------------------------------------*\
    #SHARED
\*------------------------------------*/






/**
 * Drop v6.0.0
 * Simple, mobile-friendly dropdown menus, by Chris Ferdinandi.
 * http://github.com/cferdinandi/drop
 *
 * Free to use under the MIT License.
 * http://gomakethings.com/mit/
 */


/*  Styling for the dropdown content.
 *  Hides the content by default. */
.dropdown-menu-basic {
  max-height: 0;
  overflow: hidden;
  //min-width: 10em;
  margin: 0;
  //background-color: $color-box-highlight-background;
  //border-radius: $base-radius;
  transition: max-height 0.5s ease-in-out;
}

.sub-menu li {
	float: left;
}

/*  Remove list-style and margin-left
 *  from dropdown menu lists */
.dropdown-menu-basic ul,
.dropdown-menu-basic ol {
  margin: 0;
  list-style: none;
  //padding: 0.5em;
}

/*  When a dropdown is active, display it. */
.dropdown-menu-basic.active {
  display: flex;
  max-height: 600px;
  //visibility: visible;

}

/*  If dropdown link is near the right edge of the screen,
 *  shift the dropdown menu position to avoid content clipping. */
.dropdown-menu-basic.dropdown-right {
  right: 0;
  left: auto;
}


.js-drop .dropdown-basic > a:after {
content: "\f055";
padding-left: 10px;
display: inline-block;
font: normal normal normal 14px/1 FontAwesome;
font-size: inherit;
text-rendering: auto;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}







.facetwp-facet-dept_type.facetwp-type-radio {
@extend .layout;
margin: 0;
margin-bottom: $base-spacing-unit;
background-color: $color-brand-secondary-light;
@include shadow-z2();
border-radius: $base-radius;
}

.site {
	.facetwp-radio {
		@extend .layout__item;
		@extend .flex-fit;
		width: 25%;
		background: none;
		text-align: center;
		position: relative;
display: block;
padding: 10px 15px;
@include typo-button();
		font-weight: bold;
	}

	.facetwp-radio.selected {
		background: none;
		border-bottom: 3px solid $color-yellow;
	}
}

span.counts {
	display: none;
}