/*------------------------------------*\
    #COLORS
\*------------------------------------*/

$color-brand:               #1E8CBE;
$color-brand-dark:          darken($color-brand, 10);
$color-brand-light:         lighten($color-brand, 10);
$color-brand-secondary:     #4F9C70;
$color-brand-secondary-light:         lighten($color-brand-secondary, 10);
$color-pink:                $color-brand;
$color-gray:                #4e5758;
$color-gray-light:          #f2f2f2;
$color-gray-ui:             #bdc3c7;
$color-green:               #73C395;
$color-highlight:           #FBFCFC;
$color-tint:                #ecf0f1;
$color-positive:            #3f990f;
$color-negative:            #9f102e;

// Page
$base-background-color:   $color-gray-ui;
$base-text-color:         $color-gray;
$base-minor-color:        lighten($base-text-color, 20);
$base-background-color:   $color-gray-ui;

// Links
$color-links:           $color-brand-dark;
$color-links-hover:     darken($color-links, 10);
$dark-bg-color-links:           lighten($color-links, 10);
$dark-bg-color-links-hover:     lighten($dark-bg-color-links, 10);

// Lists
$list-container-height: 500px;
$list-container-width: 400px;
$list-container-item-height: $base-line-height * 1.5;
$list-container-item-border-color: $color-gray-light;
$list-container-view-background: rgba(255,255,255,1);

// Text
$color-code:            #BDC3C7;
$color-pre-background:  #34495E;
$color-pre:             #ECF0F1;
$color-text:            $base-text-color;

// Buttons
$color-btn:     $color-links;

// Iconic
$color-iconic:  $color-gray-ui;

// Page head
$color-masthead:                #fff;
$color-appbar-background:       #fff;
$color-page-head-border:        $color-links-hover;
$color-page-head:               #fff;
$color-page-head-background:    $color-gray-light;

// Site nav
$color-site-nav:    $base-text-color;

// Page foot
$color-page-foot:               $color-highlight;
$color-page-foot-bg:            $color-gray;

// Headings
$color-headings:    $color-pink;
$color-heading-sub: $color-gray;

// Quotes
$color-quote:           $color-gray-light;
$color-quote--banner:   $color-gray;

// Boxes
$color-box-highlight-background:    $color-highlight;
$color-box-highlight-border:        $color-gray-ui;
$color-box-tint-background:         $color-gray-light;

// Bands
$color-band-highlight-background:   $color-highlight;
$color-band-tint-background:        $color-tint;

// Buttons
$color-btn-text:        #fff;
$color-btn-background:  $color-pink;
