/*------------------------------------*\
    #HEADINGS
\*------------------------------------*/

h1 {
  @include typo-display-3();
}

h2 {
  @include typo-display-2();
}

h3 {
  @include typo-display-1();
}

h4 {
  @include typo-headline();
}

h5 {
  @include typo-title();
}

h6 {
  @include typo-subhead();
}



// WordPress Type

h1.entry-title {
    @include typo-display-1();
}

h2.entry-title {
    @include typo-headline();
}

.entry-byline,
.entry-footer {
    @include typo-caption();
}

.widget-title, .comments-number, #reply-title, .attachment-meta-title {
    @include typo-subhead();
}
.format-chat cite {
    @include typo-caption();
}

.page-links,
.loop-pagination,
.loop-nav,
.loop-pagination .page-numbers,
.page-links .page-numbers,
.page-links a {
    @include typo-body-1();
}

.loop-pagination .current {
    @include typo-body-2();
}

.comment-meta {
    @include typo-caption();
}

.comment-author {
    @include typo-subhead();
    font-style: normal;
}

.comment-reply-link,
.comment-reply-login {
    @include typo-button();
}

.site-footer {
    //font-size:   0.9375rem;
}

#site-title {
    //font-size: 2.125rem;
}

#site-description {
    //font-size:    1.125rem;
    //font-weight:  400;
    opacity: 0.7;
}

blockquote {
    font-size: 1em;
    font-style: normal;
}

blockquote cite {
    font-size: 0.875em;
    font-variant: small-caps;
}

.wp-caption .wp-caption-text {
    font-size: 0.9375rem;
}

.gallery .gallery-caption {
    font-size: 0.9375rem;
}

.menu__sub-terms li a {
    //font-size:   0.8125rem;
    font-weight: 400;
}

    .menu-toggle {
//font-size:      0.8125rem;
}

    .menu__primary .search-form input[type="search"] {
        //font-size: 1rem;
        opacity: 1;
    }

    .menu__primary li a,
    .menu__secondary li a {
        display: block;
        //font-size:       0.8125rem;
        //line-height:     1;
        text-transform: uppercase;
    }

    .menu__primary li li a,
    .menu__secondary li li a {
        //font-size:      0.75rem;
        font-weight: 400;
        //line-height:    1.5;
    }

    .menu__primary .search-field {
        //font-size:   0.9375rem;
        opacity: 1;
    }

.title-wrap h1 {
    @include typo-headline;
}

.title-wrap h2 {
    @include typo-title(true);
}

.home {
    .title-wrap h1 {
        @include typo-display-2;
    }

    .title-wrap h2 {
        @include typo-display-1(true);
    }
}


/* Recent posts widget and Entry Views plugin. */

.widget_recent_entries .post-date,
.widget-entry-views .entry-view-count {
    font-size: 0.875em;
}

// .loop-title {
//  @include scut-side-lined(0.1em, .5em, $color-gray-ui, $v-adjust: 0.1em);
//  margin-bottom: $base-spacing-unit;
// }
