/*------------------------------------*\
    #HEADER
\*------------------------------------*/
/**
 * Handles the output of the header content.
 */

#site-title {
    margin: 0;
    padding: 0;
    //font-size: 2.125rem;
}

#site-title a:hover,
#site-title a:focus {
    opacity: 0.75;
}

#site-description {
    padding: 0;
    margin: 0;
}

.en #site-description {
    font-style: italic;
}

.header-image {
    opacity: 0.5;
    position: absolute;
    z-index: 1;
    width: 100%;
    margin: 0 auto;
}

.content-wrap {
    z-index: 2;
    position: relative;
}

.site-branding {
    width: 100%;
    max-width: 100%;
    display: flex;
    align-items: center;
}


.logo img {
    max-width: 80px;
}

.home {
    .content-wrap {
        margin-top: 300px;
    }

    .site-branding {
        position: absolute;
        margin-top: -213px;
        justify-content: center;
    }

    .logo img {
        max-width: 150px;
    }
}
