/*------------------------------------*\
    #CODE
\*------------------------------------*/

pre {
  background-color: $grey-800;
  border: 1px solid $grey-900;
  @include font-size(15px);
  margin-bottom: $base-spacing-unit;
  max-width: 100%;
  overflow: auto;
  border-radius: $base-radius;
  padding: 3% 10% 3% 5%;
  color: $grey-50;
  position: relative;
  tab-size: 4;
}

code {
  background-color: $grey-800;
  color: $grey-50;
  padding: 0 2px;
  display: inline-block;
  border-radius: $base-radius;
  border: 1px solid $grey-900;
  tab-size: 4;
}

kbd {
  background-color: $grey-100;
  margin: 0 0.25em;
  border: 1px solid $grey-300;
  border-radius: $base-radius;
  padding: 0.3334em 0.5em;
  box-shadow: inset 0 1px 0 #fff;
}

.form-allowed-tags {
  color: $color-text-light;
  code {
    color: $color-text-light;
    border: 0;
    background-color: $grey-50;
    @include padding-space($base-spacing-unit-sm / 2);
  }
}
