/*------------------------------------*\
    #CARDS
\*------------------------------------*/

.card {
	@include card;
}

.card--link {
	@include card($hover: true);
	flex: 1 100%;
}

.card--staff {
	padding: 0;
	align-self: flex-start;
}

.staff--detail {
margin: auto $base-spacing-unit-sm;
}

.info-btn__center {
width: 34px;
height: 34px;
border-radius: 50%;
background-color: $color-gray-light;
text-align: center;
line-height: 1.5;
font-size: 24px;
@include shadow-z1();
transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
&:hover {
	@include shadow-z2();
}
&:active,
&:focus {
	@include shadow-z1();
}
}

.info-btn {
position: absolute;
right: 5px;
top: 5px;
}

.entry.department {
padding: 0 $base-spacing-unit-sm 0 0;
}

img.thumbnail.dept-thumb {
width: 100px;
height: 100px;
}

.btn.card__department {
background-color: $color-brand-secondary;
&:hover {
	background-color: $color-brand-secondary-light;
}
}

.contact-info__list a {
color: $base-text-color;
}


.js-drop .dropdown-basic > .info-btn:after {
content: none;
}