/*------------------------------------*\
    #FOOTER
\*------------------------------------*/
/**
 * Handles the output of the footer content.
 */

.site-footer {
    overflow: hidden;
    padding: $base-spacing-unit-sm 0 0;
    //font-size:   0.9375rem;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

@media only screen and ( min-width: 950px) {
    .layout-1c .site-footer .credit,
    .layout-2c-l .site-footer .credit,
    .layout-2c-r .site-footer .credit {
        max-width: 60%;
    }

    .ltr.layout-1c .site-footer,
    .ltr.layout-2c-l .site-footer,
    .ltr.layout-2c-r .site-footer {
        text-align: left;
    }

    .rtl.layout-1c .site-footer,
    .rtl.layout-2c-l .site-footer,
    .rtl.layout-2c-r .site-footer {
        text-align: right;
    }
}
