/*------------------------------------*\
    #BREADCRUMBS
\*------------------------------------*/

.breadcrumbs {
  text-transform: uppercase;
  overflow: hidden;
  @include margin-space($base-spacing-unit-tiny *-.3 n $base-spacing-unit-tiny);
  list-style: none;
  border-radius: $base-radius;
  cursor: default;
  font-weight: 500;
  @include font-size($base-font-size - 1);


  &>span {
  display: inline-block;
  }

  a {
  text-decoration: none;
  color: $color-text;
  font-weight: inherit;
  opacity: .7;
  transition: opacity 0.2s ease;
  &:hover {
    opacity: 1;
  }
  }

  .sep {
    padding: 0 5px;
    color: $grey-700;
  }

  .trail-end {
    font-weight: 500;
    color: $color-text-light;

  }
}


// .breadcrumbs {
// height: 40px;
// display: flex;
// align-items: center;
// padding: 0 16px;
// margin-bottom: 16px;
// }
