/*------------------------------------*\
    #BLOCKQUOTES
\*------------------------------------*/


blockquote {
  font-family: Georgia, Times, "Times New Roman", serif;
  color: $color-text-light;
  margin: $base-spacing-unit;
}

blockquote cite {
  display: block;
  font-family: $font-body;
  font-style: normal;

  margin-top: $base-spacing-unit-sm;
}

blockquote cite::before {
  content: "\2014";
  padding-right: 10px;
}
