/*------------------------------------*\
    #BREADCRUMBS
\*------------------------------------*/
/**
 * Breadcrumbs
 */

.breadcrumb-trail {
    margin-bottom: $base-spacing-unit;

    .trail-end {
        opacity: 0.5;
    }

    .sep {
        display: inline-block;
        padding: 0 5px;
        opacity: 0.75;
    }

    a {
        display: inline-block;
        opacity: 0.75;

        &:hover,
        &:focus {
            opacity: 1;
        }
    }
}
