/*------------------------------------*\
    #PLUGINS
\*------------------------------------*/
/**
 * Clean My Archives
 * @link http://themehybrid.com/plugins/clean-my-archives
 */

.clean-my-archives .month-year a {
    border: none;
}
.clean-my-archives ul {
    list-style: none;
}
.ltr .clean-my-archives ul {
    margin-left: 10px;
}
.rtl .clean-my-archives ul {
    margin-right: 10px;
}
.clean-my-archives li {
    position: relative;
    line-height: 1.75;
}
.ltr .clean-my-archives li {
    padding-left: 40px;
}
.rtl .clean-my-archives li {
    padding-right: 40px;
}
.clean-my-archives .day {
    position: absolute;
    display: inline-block;
    font-weight: 600;
}
.ltr .clean-my-archives .day {
    left: 0;
}
.rtl .clean-my-archives .day {
    right: 0;
}
.clean-my-archives .comments-number {
    display: inline-block;
    font-size: 1rem;
    font-style: italic;
}
.clean-my-archives .day-duplicate .day {
    text-indent: -9999em;
    border-left: 1px solid;
}
.ltr .clean-my-archives .day-duplicate .day {
    margin-left: $base-spacing-unit-sm;
}
.rtl .clean-my-archives .day-duplicate .day {
    margin-right: $base-spacing-unit-sm;
}
/**
 * Whistles
 * @link http://themehybrid.com/plugins/whistles
 */

.whistles {
    clear: both;
    width: 100%;
    margin: 0 0 $base-spacing-unit;
}
.whistle-title:hover {
    cursor: pointer;
}
.whistle-content {
    overflow: hidden;
}
/* === Tabs === */
/* Unordered list. */

.whistles-tabs .whistles-tabs-nav {
    position: relative;
    z-index: 1;
    list-style: none;
    margin: 0;
}
/* Individual list item. */

.whistles-tabs-nav li {
    display: inline;
}
.rtl .whistles-tabs-nav li {
    float: right;
}
/* Link within list item. */

.whistles-tabs-nav li a {
    display: inline-block;
    padding: $base-spacing-unit-sm $base-spacing-unit;
    font-size: 0.9375rem;
    font-weight: 700;
    border: 1px solid;
}
.ltr .whistles-tabs-nav li a {
    border-right-width: 0;
}
.rtl .whistles-tabs-nav li a {
    border-left-width: 0;
}
.ltr .whistles-tabs-nav li:last-child a {
    border-right-width: 1px;
}
.rtl .whistles-tabs-nav li:last-child a {
    border-left-width: 1px;
}
/* Wraps all of the tab content panels. */

.whistles-tabs .whistles-tabs-wrap {
    position: relative;
    clear: both;
    top: -1px;
    padding: $base-spacing-unit $base-spacing-unit 0;
    border: 1px solid;
}
/* === Toggle / Accordion === */
/* Title for individual section. */

.whistles-toggle .whistle-title,
.whistles-accordion .whistle-title {
    margin: 0;
    padding: $base-spacing-unit-sm $base-spacing-unit;
    font-size: 0.9375rem;
    font-weight: 700;
    border: 1px solid;
    border-top-width: 0;
}
.whistles-toggle .whistle-title:first-child,
.whistles-accordion .whistle-title:first-child {
    border-top-width: 1px;
}
/* Individual toggle section content. */

.whistles-toggle .whistle-content,
.whistles-accordion .whistle-content {
    margin: -1px 0 0;
    padding: $base-spacing-unit $base-spacing-unit 0 $base-spacing-unit;
    border: 1px solid;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
