/*------------------------------------*\
    #SHARED
\*------------------------------------*/

/**
 * Where `margin-bottom` is concerned,this value will be the same as the
 * base line-height. This allows us to keep a consistent vertical rhythm.
 * As per: csswizardry.com/2012/06/single-direction-margin-declarations
 */
h1, h2, h3, h4, h5, h6, hgroup,
ul, ol, dl,
blockquote, p, address,
table,
fieldset, figure,
pre,
%margin-bottom {
    margin-bottom: $base-spacing-unit;
}

/* === Clearing Floats === */

.site-header::after,
.site-branding::after,
.menu__secondary::after,
.menu__primary .wrap::after,
.menu__secondary .wrap::after,
.site-main::after,
.sidebar__subsidiary::after,
.site-footer::after,
.comment-respond::after,
.entry::after,
.entry-content::after,
.entry-summary::after,
.loop-meta::after,
li.comment::after,
li.comment > article::after,
li.ping::after,
.loop-nav::after,
.attachment-meta::after,
.media-info::after,
.media-info ul li::after,
.media-shortcode-extend::after,
.wp-playlist-current-item::after,
.widget::after,
.whistles::after,
.whistle-content::after {
    content: "";
    display: table;
    clear: both;
}



body.custom-background {
background-size: cover;
background-color: $color-brand;
//background-blend-mode: color-dodge;
}

.site-container {
background-color: rgba(255, 255, 255, 0.69);
}