


.widget {
  background-color: #fff;
  //border: 1px solid $grey-300;
  border-radius: $base-radius;
  @include padding-space($base-spacing-unit-tiny $base-spacing-unit-sm $base-spacing-unit-tiny);
  @include margin-space(n n $base-spacing-unit-sm);
  overflow: hidden;
  width: 100%;
  hyphens: auto;
  word-wrap: break-word;
}

.widget-title {
	@include padding-space(n n $base-spacing-unit-tiny / 2);
	@include margin-space(n n $base-spacing-unit-tiny / 2);
	border-bottom: 1px solid $color-grey-ui;
	line-height: 1;
}

.sidebar {
ul {
  list-style: none;
}
li {
border-bottom: 1px dotted $grey-300;
margin-bottom: 10px;
padding-bottom: 10px;
}
}
