/*------------------------------------*\
    #FORMS
\*------------------------------------*/

input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="week"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="color"],
input:not([type]),
select,
textarea {
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    background-color: $grey-200;
    border: 1px solid $grey-300;
    height: $base-spacing-unit-lg;
    padding: 7px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
    border-radius: $base-radius;
    box-shadow: none;
    background: #fff;

    &:focus {
    outline: thin dotted \9; /* IE6-9 */
    border-color: lighten($color-links, 20);
    outline: 0;
    background-color: #fff;
    }

    &[disabled] {
    cursor: not-allowed;
    background-color: $color-grey-lighter;
    color: $color-gray;
    }
}

textarea {
  min-height: $base-spacing-unit-lg * 3;
}

input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
    outline: thin dotted $color-gray;
    outline: 1px auto lighten($color-links, 20);
}

input[readonly],
select[readonly],
textarea[readonly] {
    background: $color-grey-lighter;
    color: $color-text;
    border-color: $color-grey-lighter;
}

input:invalid,
textarea:invalid,
select:invalid,
input:hover:invalid,
textarea:hover:invalid,
select:hover:invalid,
input:focus:invalid,
textarea:focus:invalid,
select:focus:invalid {
    color: #b94a48;
    border-color: $color-error;
}

input:focus:invalid:focus,
textarea:focus:invalid:focus,
select:focus:invalid:focus {
    border-color: $color-error;
}

input[type="file"]:focus:invalid:focus,
input[type="radio"]:focus:invalid:focus,
input[type="checkbox"]:focus:invalid:focus {
    outline-color: $color-error;
}

select {
    border: 1px solid $color-grey-lighter;
    background-color: white;
}

select[multiple] {
    height: auto;
}

label,
legend {
  display: block;
  font-weight: 500;
  color: $color-text-light;
}

fieldset {
  border-width: 0;
  padding: 0;
}

input[type="checkbox"],
input[type="radio"] {
  display: inline;
}

label > .label-body {
  display: inline-block;
  font-weight: normal;
  margin-left: $base-spacing-unit-sm;
}

.search-form {
position: relative;
}

.widget_search {
padding: $base-spacing-unit-tiny;
}

input[type=search] {
font-size: $base-font-size;
margin: 0;
padding: $base-spacing-unit-tiny;
width: 100%;
appearance: none;
}

input[type="submit"].search-submit {
border-bottom-left-radius: 0;
border-top-left-radius: 0;
outline: 0;
padding: 0 $base-spacing-unit-sm;
position: absolute;
top: 0;
right: 0;
bottom: 0;
}
