/*------------------------------------*\
    #ARTICLES
\*------------------------------------*/

.entry {
  background-color: #fff;
  //border: 1px solid $grey-300;
  border-radius: $base-radius;
  position: relative;
  @include padding-space($base-spacing-unit-sm $base-spacing-unit-sm $base-spacing-unit-tiny);
  @include margin-space(n n $base-spacing-unit-sm);
  overflow: hidden;
  //@include shadow-z1();
  &:first-of-type {

}
}


.loop-meta {
  border-radius: $base-radius;
  @include margin-space(n n $base-spacing-unit-sm);
  @include padding-space($base-spacing-unit-tiny $base-spacing-unit-sm);
  text-align: center;
  border: 2px solid $grey-500;

  p {
    margin: 0;
  }
}

.loop-title {
  font-weight: 400;
  color: $grey-600;
}

.loop-description p {
  font-weight: 500;
}

.entry-summary {
position: relative;
}

.read-more__fade {
display: block;
position: absolute;
width: 100%;
bottom: 0;
height: 6rem;
padding-top: 6rem;
padding-right: 2rem;
text-align: center;
background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.7), #fff);

a {
font-weight: 500;
text-transform: uppercase;
@include font-size($base-font-size - 1, false);
line-height: 2.5;
color: $color-text;
opacity: .6;
transition: opacity 0.2s ease;
border-bottom: 0;
&:hover {
  opacity: 1;
  border-bottom: 0;
}
}
}



.post-navigation {
  @include margin-space(n n $base-spacing-unit-sm);
  span {
display: block;
}
  .meta-nav {
display: block;
color: $color-text-light;
letter-spacing: 0.04em;
text-transform: uppercase;
line-height: 1.5;
font-weight: 700;
@include font-size(14px, false);
}
.post-title {
  @include font-size($base-font-size * 1.5, false);
  line-height: 1.2;
  font-weight: 400;
  color: $color-text;
}
}

.nav-previous {
text-align: left;
width: 100%;
opacity: 0.7;
transition: opacity 0.2s ease;
&:hover {
  opacity: 1;
}
span {
  margin: 0 auto;
}
@include md {
width: auto;
max-width: 350px;
float: left;
}
}
.nav-next {
text-align: right;
width: 100%;
opacity: 0.7;
transition: opacity 0.2s ease;
&:hover {
  opacity: 1;
}
@include md {
width: auto;
max-width: 350px;
float: right;
}
span {
  margin: 0 auto;
}
}

  .nav-links {
  max-width: 700px;
  margin: 0 auto;
  overflow: hidden;
  @include clearfix();
}

.pagination {
  display: block;
  text-align: center;

  .nav-links {
  max-width: 350px;
  margin: 0 auto;
}

  .page-numbers {
    background: $white;
    border: 1px solid $grey-300;
    border-radius: 50%;
    display: inline-block;
    line-height: 40px;
    width: 40px;
    height: 40px;
    text-align: center;
    transition: all 0.2s ease-in-out;
    vertical-align: top;

    &.prev, &.next {
      font-size: 2.5rem;
      background: none;
      border-color: transparent;

    }

    &.next {
  width: 0;
  height: 0;
  border-radius: 0;
  border-top: 20px solid transparent;
  border-left: 40px solid $grey-500;
  border-bottom: 20px solid transparent;
  float: right;
  &:hover {
        border-left: 40px solid $grey-700;
      }
    }

  &.prev {
  width: 0;
  height: 0;
  border-radius: 0;
  border-top: 20px solid transparent;
  border-right: 40px solid $grey-500;
  border-bottom: 20px solid transparent;
  float: left;
  &:hover {
        border-right: 40px solid $grey-700;
      }
    }
  }

  .current {
    background: none;
    cursor: default;
    border-color: transparent;
    font-weight: 700;
  }

  .dots {
    border: 0;
    background: none;
    cursor: default;
    font-size: 1.5rem;
    color: $grey-500;
  }

  a {
    color: $grey-500;

    &:hover,
    &:focus {
    background: $grey-50;
    //border: 1px solid #e8e8e8;
    }
  }
}
