/*------------------------------------*\
    #SITE-HEADER
\*------------------------------------*/

body.open {
  overflow: hidden;
}

.site-header {
  display: block;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $color-primary;
  overflow: hidden;
  z-index: 1;
}

.site-description {
  opacity: .8;
}

.site-branding {
  display: flex;
  width: 100%;
  height: 60px;
  position: relative;
  flex-direction: row;
  margin: 0 auto;
}

.site-header.open,
.site-header.open ~ .site-container {
  transform: translate(250px, 0);
  cursor: default;
}

.site-title {
  flex: 1;
  padding: 0;
  float: none;
  max-width: none;
  display: initial;
}

.site-title a {
  text-decoration: none;
  color: inherit;
}

.app-bar-actions {
  display: flex;
  flex-direction: row;
  z-index: 2;
}

.site-header,
.menu.opened,
.site-container {
  transition: transform 0.3s ease-out;
}

.site-container {
  //padding-top: 60px;
  min-height: 100%;
}

/** Larger Screens - desktops and tablets **/
@include md {
  .site-header {
    position: relative;
  }

  .site-header.open,
  .site-header.open ~ .site-container {
    transform: translate(0px, 0);
  }

  .site-branding {
    display: block;
    height: auto;
    max-width: $site-width;
  @include padding-space($base-spacing-unit-sm);
    box-sizing: border-box;
    background-color: $color-primary;
  }

  .app-bar-actions {
    float: right;
  }

  .site-header::after {
    content: ' ';
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
  }
}

@include sm-only {
  .site-description {
    display: none;
  }
}
