/*------------------------------------*\
    #COMMENTS
\*------------------------------------*/

.comments {
  background-color: #fff;
  border-radius: $base-radius;
  max-width: 95%;
  @include padding-space($base-spacing-unit-sm $base-spacing-unit-sm $base-spacing-unit-tiny);
  @include margin-space(n n $base-spacing-unit-sm);
  overflow: hidden;

  @include lg {
    max-width: 100%;
  }

  ol {
    list-style: none;
    margin: 0;
  }

  .comment-meta {
  text-align: left;

    .avatar {
      float: left;
      margin-right: 1rem;
      margin-left: 1rem;
      border-radius: 50%;
      max-width: 50px;
    }
  }

  .depth-1 {
      @include margin-space(n n $base-spacing-unit-sm);
  }
}

.comment-meta {
margin-left: 15px;
}

li.comment, li.ping {
clear: both;
}

li.ping, .comment-content {
margin-top: 5px;
border: 0;
background: $grey-200;
border-radius: 2px;
position: relative;
@include padding-space($base-spacing-unit-sm $base-spacing-unit-sm $base-spacing-unit-tiny);
}

li.ping:before, .comment-content:before {
position: absolute;
top: -20px;
left: 10px;
width: 0;
height: 0;
border-bottom: 20px solid $grey-200;
border-left: 15px solid transparent;
border-right: 0px solid transparent;
content: "";
}

.children .comment.even > article > .comment-content:before {
left: auto;
right: 10px;
border-bottom: 20px solid $grey-200;
border-left: 0px solid transparent;
border-right: 15px solid transparent;
}

.children .comment.even > article > .comment-bottom, .children .comment.even > article > .comment-meta {
text-align: right;
margin-left: auto;
margin-right: 15px;
}

.children .comment.even > article .avatar {
float: right;
}

.comment-reply-link, .comment-reply-login {
  @extend .btn;
}

.comments-nav {
display: inline-block;
width: 100%;
}

.comments__page-count {
  width: 100%;
  display: inline-block;
  text-align: center;
}

.comment-bottom {
  width: 100%;

  .comment-reply-link, .comment-reply-login {
  border-radius: 0 0 2px 2px;
  padding: 8px 12px;
  color: $white;
  text-transform: capitalize;
  font-weight: 300;
  @include font-size($base-font-size, false);
  margin: 0 20px;
}
}


.comment-list .comment .comment {
margin-left: 20px;
margin-top: 20px;
}