/*------------------------------------*\
    #MAIN-LAYOUT
\*------------------------------------*/

body.open {
  overflow: hidden;
}

.main-container {
  margin: 0 auto;
  /* Height of the header */
  padding: 60px 16px 16px 16px;
  min-height: 100%;
  transition: transform 0.3s ease-out;
  justify-content: center;
}
