/*------------------------------------*\
    #MEDIA
\*------------------------------------*/

/**
 * Attachment meta
 *
 * Attachment meta is shown on attachment pages and along with the WordPress media player.
 */

.attachment-meta .media-info,
.attachment-meta .image-gallery { margin-bottom: $base-spacing-unit; }

	@media only screen and ( min-width: 800px ) {

		.attachment-meta .image-info,
		.attachment-meta .image-gallery { width: 47.5%; }

		.rtl .attachment-meta .image-info,
		.ltr .attachment-meta .image-gallery { float: right; }

		.ltr .attachment-meta .image-info,
		.rtl .attachment-meta .image-gallery { float: left; }
	}

	.media-info ul {
		margin:     0 0 $base-spacing-unit;
		list-style: none;
	}

			.media-info li {
			display:       block;
			padding:       $base-spacing-unit-sm / 2 $base-spacing-unit-sm;
			//font-size:     1rem;
			border-bottom: 1px dotted;
		}

			.media-info li:last-child { border: none; }

			.media-info .prep,
			.media-info .data {
				display:    block;
				text-align: center;
			}

			.media-info .prep {
				font-size:      0.9375rem;
				text-transform: capitalize;
			}

						@media only screen and ( min-width: 700px ) {

				.media-info .prep { max-width: 30%; }
				.media-info .data { max-width: 70%; }

				.ltr .media-info .data { float: right; text-align: right; }
				.rtl .media-info .data { float: left; text-align: left; }

				.ltr .media-info .prep { float: left; text-align: left; }
				.rtl .media-info .prep { float: right; text-align: right; }
			}

/**
 * Audio/Video shortcode extend
 *
 * This feature adds a toggle button to the WordPress media player for showing/hiding additional meta
 * information about the media.
 */

.media-shortcode-extend {
	margin-top: -$base-spacing-unit;
	text-align: center;
}

	.media-shortcode-extend .media-info {
		overflow:   hidden;
		display:    none;
		padding:    $base-spacing-unit $base-spacing-unit 0;
	}

	.media-shortcode-extend .audio-info { border-top: 1px solid; }

	.media-shortcode-extend a,
	.media-shortcode-extend a:hover,
	.media-shortcode-extend a:focus { border: none; }

	.media-shortcode-extend a:hover,
	.media-shortcode-extend a:focus { text-decoration: underline; }

	.media-info-toggle,
	.entry-content .media-info-toggle {
		position:        relative;
		display:         inline-block;
		margin:          0 auto $base-spacing-unit;
		padding:         $base-spacing-unit-sm $base-spacing-unit;
		//font-size:       0.9375rem;
		//line-height:     16px;
		border:          none;
		text-decoration: none;
	}

		@media only screen and (min-width: 700px) {
			.ltr .media-info-toggle { float: right; margin-right: $base-spacing-unit-lg; }
			.rtl .media-info-toggle { float: left;  margin-left: $base-spacing-unit-lg;  }
		}

/**
 * WordPress playlist
 *
 * Customizes the output of the media playlist.  For the full media playlist styles, see the
 * `css/mediaelement/medialement.css` stylesheet.
 */

.wp-playlist {
	padding: 0;
	border:  none;
}

	.wp-playlist-dark  { padding-top: $base-spacing-unit; }
	.wp-video-playlist { padding-top: 0;      }

	/* Currently playing. */
	.wp-playlist-current-item {
		padding: 0 $base-spacing-unit $base-spacing-unit-sm;
	}

		.wp-playlist-current-item img { max-width: 75px; }

		.wp-playlist-item-meta {
			//font-size: 1rem;
		}

	/* Media player. */
	.wp-playlist-dark .mejs-controls {
		border-top:    1px solid;
		border-bottom: 1px solid;
	}

		/* Playlist tracks (list of items). */

	.wp-playlist-tracks {
		margin-top: 0;
		padding:    $base-spacing-unit-sm $base-spacing-unit;
		border:     1px solid;
	}

		.wp-playlist-dark .wp-playlist-tracks { border: none; }

		.wp-playlist-item {
			margin:        0;
			padding:       0.5rem 0;
			//font-size:     1rem;
			border-bottom: 1px dotted;
		}

			.wp-playlist-item a { color: inherit; border: none; }

			.wp-playlist-item-title { text-transform: capitalize; }

		.wp-playlist-playing { font-weight: normal; }

/**
 * WordPress media player.
 *
 * This overwrites various elements of the media player styles included.  For the full media player styles,
 * see the `css/mediaelement/medialement.css` stylesheet.
 */

.mejs-container { margin-bottom: $base-spacing-unit; }

	.wp-audio-shortcode.mejs-container { min-height: 100px !important; }

	.mejs-controls {
		width:           100%;
		height:          50px;
		padding:         0 $base-spacing-unit-sm;
		-moz-box-sizing: border-box;
		     box-sizing: border-box;
	}

	.wp-video-shortcode .mejs-controls {
		border-top:    1px solid;
		border-bottom: 1px solid;
		opacity:       0.8;
	}

	.wp-audio-shortcode .mejs-controls { top: 25px; }

	.mejs-controls > div { margin-top: $base-spacing-unit-sm; }

		/* Fix for last item dropping below the controls. */
		.mejs-controls > div:last-of-type {
			position: relative;
			clear:    both;
			float:    right;
			top:      -41px;
		}

		.wp-audio-shortcode .mejs-mediaelement {
			position: relative;
			top:      0;
			left:     0;
			width:    100%;
			height:   100%;
		}

		.mejs-overlay-loading span {
			background: transparent url( 'css/mediaelement/images/loading.gif' ) 50% 50% no-repeat;
		}

		.mejs-button button {
			height:     16px;
			width:      16px;
			background: transparent url( 'css/mediaelement/images/controls.png' ) no-repeat;
		}

			.mejs-fullscreen-button button,
			.mejs-playpause-button button,
			.mejs-volume-button button { background: none; }

			.mejs-button button:focus { outline: 1px solid; }

		.mejs-time .mejs-currenttime,
		.mejs-time .mejs-duration {
			//font-size: 0.875rem;
		}

				.mejs-volume-button .mejs-volume-slider {
			width:       40px;
			margin-left: -$base-spacing-unit-sm;
		}

			.mejs-volume-button .mejs-volume-slider .mejs-volume-total,
			.mejs-volume-button .mejs-volume-slider .mejs-volume-current {
				top:    $base-spacing-unit-sm;
				left:   50%;
				width:  4px;
				margin: 0 0 0 -2px;
			}

			.mejs-volume-button .mejs-volume-slider .mejs-volume-handle {
				left:   50%;
				width:  20px;
				height: 4px;
				margin: 0 0 0 -$base-spacing-unit-sm;
			}

		.mejs-overlay-button {
			width:  112px;
			height: 112px;
			margin: -56px 0 0 -56px;
		}

					.mejs-overlay-play .mejs-overlay-button::after {
				content:       '\f452';
				padding:       18px;
				font-size:     64px;
				line-height:   64px;
				border-radius: 50%;
				opacity:       0.85;
			}

		.mejs-time-rail .mejs-time-float {
			top:         -38px;
			height:      27px;
			width:       50px;
			margin-left: -25px;
			border:      1px solid;
		}

		.mejs-time-rail .mejs-time-float-current {
			width:      100%;
			margin:     8px 0;
			//font-size:  0.75rem;
			box-sizing: border-box;
		}

		.mejs-time-rail .mejs-time-float-corner {
			top:  28px;
			left: 20px;
		}

	/* Wrapper added when the audio player has an accompanying image. */

	.audio-shortcode-wrap {
		position:      relative;
		max-height:    136px;
		overflow:      hidden;
		margin-bottom: $base-spacing-unit;
	}

		.audio-image {
			position:    relative;
			border:      none;
			margin:      0;
			padding:     8px 0 0;
			max-width:   20%;
			max-height:  131px;
			height:      auto;
		}

			.ltr .audio-image { left: 0;  padding-left: 8px; }
			.rtl .audio-image { right: 0; padding-right: 8px; }

		.audio-shortcode-wrap .wp-audio-shortcode {
			position:   absolute !important;
			top:        50%;
			margin-top: -$base-spacing-unit;
			clear:      none;
			width:      79% !important;
		}

				.audio-shortcode-wrap .wp-audio-shortcode .mejs-controls { top: 0; }

			.ltr .audio-shortcode-wrap .wp-audio-shortcode { left: 20%; }
			.rtl .audio-shortcode-wrap .wp-audio-shortcode { left: 0; }

