/*------------------------------------*\
    #POSTS
\*------------------------------------*/
/**
 * Posts
 */

.entry {
    overflow: hidden;
    margin: 0 0 $base-spacing-unit-lg;
    padding: 0 0 $base-spacing-unit;
    border-bottom: 1px solid;
}
.entry:last-of-type {
    margin: 0 0 $base-spacing-unit;
    padding: 0;
    border: none;
}
.plural .content .entry-title {
    margin: 0 0 $base-spacing-unit-sm;
    padding: 0;
    border: none;
}
.plural .content .entry-byline {
    margin: 0 0 $base-spacing-unit-sm;
}
.entry-byline,
.entry-footer {
    //font-size: 1rem;
}
.entry-byline,
.entry-footer,
.comment-meta {
    margin: 0 0 $base-spacing-unit;
    //font-weight: 400;
    font-style: normal;
}
.entry-footer,
.comment-meta {
    clear: both;
}
.image-sizes a {
    margin: 0 3px;
}
/* Elements */

.ltr .entry-author, .ltr .entry-published, .ltr .comments-link, .ltr .post-edit-link, .ltr .entry-permalink, .ltr .entry-terms, .ltr .post-format-link, .ltr .entry-views {
    margin-right: 1rem;
    display: inline-block;
}
.rtl .entry-author, .rtl .entry-published, .rtl .comments-link, .rtl .post-edit-link, .rtl .entry-permalink, .rtl .entry-terms, .rtl .post-format-link, .rtl .entry-views {
    margin-left: 1rem;
    display: inline-block;
}
/* Output from comments_popup_link() when no comments are found or off. */

.ltr span.comments-link,
.rtl span.comments-link {
    display: none;
}
.format-standard .post-format-link {
    display: none;
}
/* === Chats === */

.format-chat .chat-text {
    margin-left: 1.125rem;
}
.format-chat .chat-author {
    margin-top: -$base-spacing-unit-sm;
    padding-top: $base-spacing-unit-sm;
    border-top: 1px dotted;
}
.format-chat .chat-row:first-child .chat-author {
    margin: 0;
    padding: 0;
    border: none;
}
.format-chat cite {
    //font-size:   1rem;
    font-style: normal;
    //font-weight: 700;
}
/* === Images === */

.format-image > img,
.format-image > a img,
.format-image > .wp-caption {
    margin-bottom: $base-spacing-unit;
}
/**
 * Loop Meta
 *
 * This displays the archive, blog, and search title + description.
 */

.loop-meta {
    margin: 0 0 $base-spacing-unit;
}
.loop-description {
    margin: 0 0 $base-spacing-unit;
    padding: $base-spacing-unit $base-spacing-unit 0;
    border: 1px solid;
}
/**
 * Pagination
 */
/* === Single posts using <!--nextpage--> === */

.page-links {
    clear: both;
    //font-size: 1rem;
}
.loop-pagination .page-numbers,
.page-links .page-numbers,
.page-links a {
    display: inline-block;
    margin: 0 $base-spacing-unit-sm / 2;
    //font-size: 1.25rem;
}
.loop-pagination .dots {
    margin: 0;
}
.loop-pagination .current {
    //font-weight: 700;
}
.page-links a {
    padding: 0 $base-spacing-unit-sm;
    border: none;
}
/* === Single post navigation (between different posts) === */

.loop-pagination,
.loop-nav {
    margin: 0 0 $base-spacing-unit-lg;
    padding: $base-spacing-unit-lg$base-spacing-unit 0 0;
    //font-size:  1.125rem;
    border-top: 1px solid;
}
