///*------------------------------------*\
//    #GLOBAL
//\*------------------------------------*/

// Fonts
$base-font-size:    16px;
$base-line-height:  24px;

$font : 'Fira Sans', sans-serif;
$font-mono : 'Fira Mono', monospace;

// Border-Radius
$base-round:  3px;

// Reassign some internal variables.
$base-spacing-unit: $base-line-height;
