/* #BREADCRUMBS
\*------------------------------------*/
.breadcrumbs {

	li {
		display: inline-block;
		display: flex;
		flex-wrap: wrap;
		align-items: center;

		+ li:before {
			padding: 0.5em;
			background-size: cover;
			width: 1em;
			height: 1em;

			@mixin icon chevron-right, #fff, #444, 2% ;
		}
	}
}

.breadcrumbs a {
	color: inherit;
	opacity: 1;

	&:hover {
		opacity: 0.8;
	}
}

.trail-items {
	display: flex;
	justify-content: center;
}

body:not(.search) .trail-end > span,
.search .archive-title {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
