/* #PAGE
\*------------------------------------*/


* {
	flex-basis: auto;
	flex-grow: 0;
	flex-shrink: 1;
	vertical-align: middle;
}

/* specify the root styles of the document */
html {
	background-color: var(--root-background-color);
	box-sizing: var(--root-box-sizing);
	color: var(--root-color);
	cursor: var(--root-cursor);
	font: var(--root-font-size)/var(--root-line-height) var(--root-font-family);

	@media (--sm) {
		font-size: var(--mobile-font-size);
	}
}

body {
	font-family: inherit;
}

span,
i,
a {
	vertical-align: initial;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary,
legend {
	display: block;
	position: relative;
}

.site {
	max-width: 100%;
	width: 100%;
	overflow-x: hidden;
	word-wrap: break-word;
}

hr {
	margin-top: 1.5em;
	margin-bottom: 1.5em;
	border: 0;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: var(--grey-nuetral);
}

article p,
article li {
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}

article h1,
article h2,
article h3,
article h4,
article h5,
article h6 {
	max-width: 848px;
	margin-left: auto;
	margin-right: auto;
}

/* Embedded content
========================================================================== */
canvas {
	-ms-touch-action: double-tap-zoom;
}

iframe[src*="google.com/maps"] {
	width: 100%;
	max-width: 100%;
}
