.btn,
.button,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	color: inherit;
	background-color: transparent;
	vertical-align: middle;
	display: inline-block;
	text-decoration: none;
	text-align: center;
	margin: 0;
	opacity: 1;
	height: auto;
	cursor: pointer;
	padding: 0.5rem 1rem;
	border: 1px solid transparent;
	transition: all $transition-time, $animation-curve-default;

	&:hover {
		opacity: 1;
		text-decoration: none;
		box-shadow: inset 0 0 0 20rem $darken1;
	}

	&:active,
	&.is-active {
		box-shadow: inset 0 0 0 20rem $darken2;
	}

	&:focus {
		outline: none;
		border-color: $darken2;
	}
}
