/* #PAGE
\*------------------------------------*/


* {
	flex-basis: auto;
	flex-grow: 0;
	flex-shrink: 1;
}

@media (--sm) {
	:root {
		font-size: 90%;
		line-height: 1.2
	}
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary,
legend {
	display: block;
	position: relative;
}

.site {
	max-width: 100%;
	width: 100%;
	overflow-x: hidden;
	word-wrap: break-word;
}

hr {
	margin-top: 1.5em;
	margin-bottom: 1.5em;
	border: 0;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: var(--grey-nuetral);
}

/* Embedded content
========================================================================== */
canvas {
	-ms-touch-action: double-tap-zoom;
}

iframe[src*="google.com/maps"] {
	width: 100%;
	max-width: 100%;
}
