.btn,
.button,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	color: inherit;
	background-color: transparent;
	vertical-align: middle;
	display: inline-block;
	text-align: center;
	margin: 0;
	height: auto;
	min-height: var(--form-element-min-height);
	cursor: pointer;
	padding: 0.5rem 1rem;
	border-radius: var(--border-radius);
	border: 1px solid transparent;
	transition: all var(--transition-time), var(--animation-curve);

	&:hover {
		box-shadow: inset 0 0 0 20rem color(var(--grey-nuetral) a(30%));
	}

	&:focus,
	&:active,
	&.is-active {
		box-shadow: inset 0 0 0 20rem color(var(--grey-nuetral) a(50%));
		outline: none;
	}
}
