/* #LINKS
\*------------------------------------*/

a {
	color: #08b09b;
	text-decoration: none;
	opacity: 1;
	transition-duration: $transition-time;
	transition-timing-function: $animation-curve-default;
	transition-property: all;

	&:active,
	&:focus,
	&:hover {
		text-decoration: none;
	}
}

a:before,
a:after {
	background-size: contain;
	min-width: 1.1em;
	width: 1.1em;
	height: 1.1em;
}

a:before {
	margin-right: 0.2em;
}

a:after {
	margin-left: 0.2em;
}

a:not([class]) {

	&:active,
	&:focus,
	&:hover {
		background: color(#B7C6CD a(50%));
		box-shadow: 0 0 0 2px color(#B7C6CD a(50%));
		border-radius: 0.5px;
	}
}

a[class] {
	color: inherit;
	opacity: 0.8;
	display: inline-flex;
	align-items: center;

	&:hover {
		opacity: 1;
	}
}
