/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/

form {
  margin-bottom: $space2;
}

input,
select,
textarea {
    font-size: 1rem;
    vertical-align: middle;
	border: 1px solid color(#B7C6CD a(90%));
	padding: 0 $space1;
	margin-bottom: $space2;
	border-radius: $base-radius;
	transition-duration: $transition-time;
	transition-timing-function: $animation-curve-default;
	transition-property: color, background-color, border-color;

	&:focus {
		outline: 0;
		background-color: rgba($white, 0.95);
		border-color: $color-links-hover;
	}
}

legend {
  font-size: 1.25rem;
  font-weight: 700;
}

textarea {
  display: block;
  width: 100%;
}

label {
  font-size: .875rem;
  font-weight: 700;
  display: block;
  margin-bottom: $space1;
}

input[type=checkbox],
input[type=radio] {
  display: inline-block;
  vertical-align: middle;
  margin: 0 $space1 0 0;
}

select {
  @mixin icon select-arrows, #78909C;
  background-size: 1em;
  background-position: 98% 50%;
  padding-right: 1rem;
}
