/* #GRID
\*------------------------------------*/
:root {
	--cell-padding: calc(0.5 * var(--gutter));
}

.o-grid {
	display: flex;
	flex-flow: row wrap;
	margin-right: auto;
	margin-left: auto;
	align-items: stretch;
}

.o-cell {
	margin: 0 var(--cell-padding) var(--cell-padding);
	flex: 1 1 auto;
}
