.u-list-naked,
.u-list-reset {
	list-style: none;
	padding-left: 0;

	> ul,
	> li {
		list-style: none;
		padding-left: 0;
		margin-left: 0;
	}
}

.u-list-steps {
	list-style-type: none;
	padding-left: 0;

	li {
		counter-increment: step-counter;

		&:before {
			content: counter(step-counter);
			margin-right: 1rem;
			font-size: 1rem;
			line-height: 1;
			background-color: var(--color-grey-ui);
			color: #fff;
			font-weight: bold;
			padding: 5px 10px;
			border-radius: 50%;
		}
	}
}

.u-list-group {
	padding-left: 0;
	list-style-type: none;

	> li {
		letter-spacing: 0.02em;
		position: relative;
		display: block;
		padding: 0.75rem 1.25rem;
		background-color: #fff;
		border-bottom: 1px solid var(--color-grey-ui);

		&:last-child {
			border-bottom: 0;
		}

		&:before {
			width: 1em;
			height: 1em;
			min-width: 1em;
			background-size: contain;
			margin-right: 0.5em;
			margin-left: -1.5em;
		}
	}
}

.u-list-group.bullet-cross > li:before {
	@mixin icon cross;
}

.u-list-group.bullet-heart > li:before {
	@mixin icon heart;
}
