.v-icon {
	width: 1em;
	height: auto;
	vertical-align: -0.15em;
	fill: currentColor;
}

.o-cell > .v-icon {
	width: 100%;
	max-width: 50%;
}

.icon-xs {
	font-size: 1rem;
}

.icon-sm {
	font-size: 1.5rem;
}

.icon-md {
	width: 100%;
	max-width: 90px;
	max-height: 90px;

	svg {
		height: auto;
		width: 100%;
	}
}

.icon-lg {
	width: 100%;
	max-width: 210px;
	max-height: 210px;

	svg {
		height: auto;
		width: 100%;
	}
}

.icon-xl {
	width: 100%;
	max-width: 310px;
	max-height: 310px;

	svg {
		height: auto;
		width: 100%;
	}
}

.breadcrumbs li + li {
	@mixin icon chevron-right, #fff, #444, 2% ;
}

.icon-info {
	@mixin icon info ;
}

.icon-heart {
	@mixin icon heart ;
}

.icon-twitter,
a[href*="twitter.com"] {
	@mixin icon twitter, #1DA1F2 ;
}

.icon-facebook,
a[href*="facebook.com"] {
	@mixin icon facebook, #3B5998 ;
}

.icon-youtube,
a[href*="youtube.com"],
a[href*="youtu.be"] {
	@mixin icon youtube, #cd201f ;
}

.icon-instagram {
	@mixin icon instagram ;
}

.icon-pdf,
a[href*=".pdf"]:not(.btn) {
	@mixin icon file-pdf;
}

.icon-map,
a[href*="maps.google.com"] {
	@mixin icon map_pin ;
}

a[href*=".doc"]:not(.btn),
a[href*=".docx"]:not(.btn) {
	@mixin icon file-word;
}

a[href*=".xls"]:not(.btn),
a[href*=".xlsx"]:not(.btn) {
	@mixin icon file-excel;
}

a[href*="tel:"] {
	@mixin icon call ;
}

a[href*="mailto:"] {
	@mixin icon mail ;
}
