.menu-primary {

	ul {
		display: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			position: absolute;
			top: 1.5em;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}
}

.home #header.is-top {

	.menu-main-container,
	> .menu-primary {
		background-color: transparent;
	}
}
.menu-primary .v-icon {
	transition: all .3s;
}
.menu-primary.toggled .v-icon {
	transform: rotate(180deg);
}
/* Small menu. */
.menu-toggle,
.menu-primary.toggled ul {
	display: block;
}

@media (--md) {
	#menu-primary .menu-main-container {
		background-color: transparent;
	}

	.menu-toggle {
		display: none;
	}

	.menu-primary ul {
		display: flex;
	}
}
