@import "normalize.css";
@import "sanitize.css";


:root {
	--root-root-background-color: #fff;

	--root-root-box-sizing: border-box;

	--root-root-color: #fff;

	--root-root-cursor: default;

	--root-root-font-family: sans-serif;

	--root-root-font-size: 100%;

	--root-root-line-height: 1.5;

	--root-background-repeat: no-repeat;

	--root-form-element-background-color: transparent;

	--root-form-element-color: inherit;

	--root-form-element-min-height: 1.5em;

	--root-media-element-vertical-align: middle;

	--root-monospace-font-family: monospace;

	--root-nav-list-style: none;

	--root-selection-background-color: #b3d4fc;

	--root-selection-color: #fff;

	--root-selection-text-shadow: none;

	--root-small-font-size: 75%;

	--root-table-border-collapse: collapse;

	--root-table-border-spacing: 0;

	--root-textarea-resize: vertical;
}
