/*! sanitize.css v3.3.0 | CC0 1.0 Public Domain | github.com/10up/sanitize.css */

/* Latest tested: Android 6, Chrome 48, Edge 13, Firefox 44, Internet Explorer 11, iOS 9, Opera 35, Safari 9, Windows Phone 8.1 */

/*
* Normalization
*/

input {
	-webkit-border-radius: 0; /* iOS 8+ */
	&[type="button"],
	&[type="reset"],
	&[type="submit"] {
		-webkit-appearance: button; /* iOS 8+ */
	}

	&[type="number"] {
		width: auto; /* Firefox 36+ */
	}
}

pre {
	overflow: auto; /* Internet Explorer 11- */
}

/*
* Universal inheritance
*/
*,
::before,
::after {
	box-sizing: inherit;
}

* {
	font-size: inherit;
	line-height: inherit;
}

::before,
::after {
	text-decoration: inherit;
	vertical-align: inherit;
}

button,
input,
select,
textarea {
	font-family: inherit;
	font-style: inherit;
	font-weight: inherit;
}

/*
* Opinionated defaults
*/

/* specify the margin and padding of all elements */
* {
	margin: 0;
	padding: 0;
}

/* specify the border style and width of all elements */
/**,
::before,
::after {
	border-style: solid;
	border-width: 0;
}*/

/* remove the tapping delay from clickable elements */
a,
area,
button,
input,
label,
select,
textarea,
[tabindex] {
	touch-action: manipulation;
}

/* specify the standard appearance of selects */
select {
	-moz-appearance: none; /* Firefox 40+ */
	-webkit-appearance: none; /* Chrome 45+ */
	&::-ms-expand {
		display: none; /* Edge 12+, Internet Explorer 11- */
	}

	&::-ms-value {
		color: currentColor; /* Edge 12+, Internet Explorer 11- */
	}
}

/* use current current as the default fill of svg elements */
svg {
	fill: currentColor;
}

/* specify the progress cursor of updating elements */
[aria-busy="true"] {
	cursor: progress;
}

/* specify the pointer cursor of trigger elements */
[aria-controls] {
	cursor: pointer;
}

/* specify the unstyled cursor of disabled, not-editable, or otherwise inoperable elements */
[aria-disabled] {
	cursor: default;
}

/* specify the style of visually hidden yet accessible elements */
[hidden][aria-hidden="false"] {
	clip: rect(0 0 0 0);
	display: inherit;
	position: absolute;

	&:focus {
		clip: auto;
	}
}

/*
* Configurable defaults
*/

/* specify the background repeat of all elements */
* {
	background-repeat: var(--background-repeat);
}

/* specify the root styles of the document */
:root {
	background-color: var(--root-background-color);
	box-sizing: var(--root-box-sizing);
	color: var(--root-color);
	cursor: var(--root-cursor);
	font: var(--root-font-size)/var(--root-line-height) var(--root-font-family);
}

/* specify the alignment of media elements */
audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align: var(--media-element-vertical-align);
}

/* specify the coloring of form elements */
button,
input,
select,
textarea {
	background-color: var(--form-element-background-color);
	color: var(--form-element-color);
}

/* specify the minimum height of form elements */
button,
[type="button"],
[type="date"],
[type="datetime"],
[type="datetime-local"],
[type="email"],
[type="month"],
[type="number"],
[type="password"],
[type="reset"],
[type="search"],
[type="submit"],
[type="tel"],
[type="text"],
[type="time"],
[type="url"],
[type="week"],
select,
textarea {
	min-height: var(--form-element-min-height);
}

/* specify the font family of code elements */
code,
kbd,
pre,
samp {
	font-family: var(--monospace-font-family), monospace;
}

/* specify the list style of nav lists */
nav ol,
nav ul {
	list-style: var(--nav-list-style);
}

/* specify the font size of small elements */
small {
	font-size: var(--small-font-size);
}

/* specify the border styling of tables */
table {
	border-collapse: var(--table-border-collapse);
	border-spacing: var(--table-border-spacing);
}

/* specify the resizability of textareas */
textarea {
	resize: var(--textarea-resize);
}

/* specify the background color, font color, and drop shadow of text selections */
::selection {
	background-color: var(--selection-background-color); /* required when declaring ::selection */
	color: var(--selection-color);
	text-shadow: var(--selection-text-shadow);
}
