


@define-mixin icon $name: info, $fill: #36474f {
	&:before {
		content: " ";
		background-image: svg-load($name.svg, fill=$fill);
		background-repeat: no-repeat;
		width: 1.3em;
		height: 1.3em;
		background-position: center;
		display: inline-block;
		margin: 0 0.2em;
		border-radius: 50%;
		vertical-align: middle;
		background-color: #fff;
		border: .2em solid transparent;
	}
}
