.u-link-blend {
	text-decoration: none;
}

.u-link {
	color: var(--color-links-hover);
	text-decoration: none;
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: 100% 6px;
	background-image: linear-gradient(transparent, transparent 4px, currentColor 4px, currentColor);
	transition-duration: 0.15s;
	transition-timing-function: var(--animation-curve);
	transition-property: all;

	&:hover,
	&:focus {
		opacity: 0.5;
	}

	&:active {
		opacity: 0.8;
	}
}
