/**
*
* Variables
*
**/

/*==========  VARIABLES  ==========*/

  // Defining breakpoints
  $medium: 600px !default;
  $wide: 800px !default;
  $wider: 990px !default;
  $almostHuge: 1400px !default;
  $huge: 1600px !default;
  $mediumContainer: 688px !default;
  $wideContainer: 864px !default;

  // Defining grid sizes
  $mediumColCount: 3 !default;
  $mediumColWidth: 30.3% !default;
  $mediumGutterWidth: 4.5% !default;
  $wideColCount: 4 !default;
  $wideColWidth: 22.2% !default;
  $wideGutterWidth: 3.7% !default;

  // Defining colors

  // Flat UI Colors
$turquoise:                 #1abc9c;
$green-sea:                 #16a085;

$emerald:                   #2ecc71;
$nephritis:                 #27ae60;

$peter-river:               #3498db;
$belize-hole:               #2980b9;

$amethyst:                  #9b59b6;
$wisteria:                  #8e44ad;

$wet-asphalt:               #34495e;
$midnight-blue:             #2c3e50;

$sun-flower:                #f1c40f;
$orange:                    #f39c12;

$carrot:                    #e67e22;
$pumpkin:                   #d35400;

$alizarin:                  #e74c3c;
$pomegranate:               #c0392b;

$clouds:                    #ecf0f1;
$silver:                    #bdc3c7;

$concrete:                  #95a5a6;
$asbestos:                  #7f8c8d;

$base-bg-color: #e0e0e0 !default;

  $colorBlue: #0C7499 !default;
  $colorBlueSecondary: lighten($colorBlue, 30%) !default;
  $colorGreen: #73C395 !default;
  $colorGreenSecondary: lighten($colorGreen, 30%) !default;
  $colorRed: #B28953 !default;
  $colorRedSecondary: lighten($colorRed, 30%) !default;
  $colorYellow: #EAC16F !default;
  $colorYellowSecondary: lighten($colorYellow, 20%) !default;

  $colorRemember: #E7DAC9 !default;
  $colorLearning: #da2e75 !default;

  $colorGrayBackground: #bdc3c7 !default;
  $colorGrayKeyline: #e0e0e0 !default;
  $colorGray: $asbestos !default;
  $colorGrayLight: #ecf0f1 !default;
  $colorGrayDark: #414344 !default;

  $colorText: $colorGrayDark !default;
  $colorHighlight: $colorBlue !default;
  $colorWarning: $colorYellowSecondary !default;
  $colorMuted: $colorGray !default;
  $colorDanger: $colorRed !default;

  $colorLayouts: #297ea9 !default;
  $colorLayoutsSecondary: lighten($colorLayouts, 30%) !default;
  $colorUser: #2c8566 !default;
  $colorUserSecondary: lighten($colorUser, 30%) !default;
  $colorMedia: #cf423a !default;
  $colorMediaSecondary: lighten($colorMedia, 30%) !default;
  $colorPerformance: #7b5294 !default;
  $colorPerformanceSecondary: lighten($colorPerformance, 30%) !default;

  // Body Color
$base-body-color: white;
$base-bg-color: $colorGrayBackground;
// Font Colors
$base-font-color: $colorText;
$base-accent-color: $colorBlue;
$secondary-color: $colorRed;

// Link Colors
$base-link-color: $base-accent-color;
$hover-link-color: darken($base-accent-color, 10);
$base-button-color: $base-accent-color;
$hover-button-color: mix(black, $base-button-color, 15%);
$active-button-color: mix(black, $base-button-color, 35%);



  // Defining font family
  $fontDefault: Helvetica, Arial, sans-serif !default;
  $fontHighlight: "Roboto Condensed", Helvetica, sans-serif !default;
  $fontIcon: "icons" !default;

  // Defining font sizes
  $fontSmall: 13px !default;
  $fontBase: 16px  !default;
  $fontMedium: 20px !default;
  $fontLarge: 26px !default;
  $fontXLarge: 42px !default;
  $fontXXLarge: 68px !default;
  $fontHuge: 110px !default;

  // Sizes
$base-font-size: 1em;
$base-line-height: $base-font-size * 1.5;
$type-bottom-margin: $base-line-height * .5;
$unitless-line-height: $base-line-height / ($base-line-height * 0 + 1); // Strip units from line-height
$header-line-height: $base-font-size * 1.25;
$base-border-radius: 2px;

$base-transition-time: 0.1s;

  // Defining baseline line height
  $lineHeight: 26px !default;

  // Defining animation easings
  $animationEasing: cubic-bezier(0.455, 0.030, 0.515, 0.955) !default;

  // Defining sidebar stuff
  $sidebarWidth: 280px !default;


// Forms
$form-border-color: darken($colorGrayKeyline, 5);
$form-border-color-hover: darken($form-border-color, 10);
$form-border-color-focus: $colorBlue;
$form-border-radius: $base-border-radius;
$form-box-shadow: inset 0 1px 3px rgba(0,0,0,0.06);
$form-box-shadow-hover: inset 0 1px 3px rgba(0,0,0,0.03);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px rgba(darken($form-border-color-focus, 5), 0.7);
$form-font-size: $fontBase;
$form-font-family: $fontDefault;