/**
*
* Breadcrumb
*
**/

.crumb-container {
  display: none;
  @include wider {
    display: flex;
    max-width: $almostHuge;
    margin: 1em auto;
    //box-shadow: $shadow-small;
  }
}

.breadcrumbs {
 // background-color: #FBFCFC;
  position: relative;
  //padding: .2rem 1.5rem;
  width: 100%;
  @include wider {
   // border-radius: $base-border-radius;
    margin: 0 .5em;
  }
}

.breadcrumbs p {
  // @include type--small;
  // padding-top: $lineHeight;
}

// .breadcrumbs a, .trail-end, .breadcrumbs__link {
//   @include type--small;
//   font-weight: 400;
//   padding-top: 0;

//   @include medium {
//     padding-top: 0;
//   }
// }

.breadcrumbs {
    text-align: left;
    //color: $colorText;
    font-size: .9rem;
    .sep {
      color: $colorText;
      padding: 0 .4em;
    }
    a {
      //color: $base-link-color;
     //font-weight: bold;
    }
    .trail-end {
    //  color: #da2e75;
    }
  }



  .breadcrumb-trail {

    .trail-begin {

    }
    .trail-end {

    }
    a {

      &:hover {

      }
    }

  }

  body.open .crumb-container {
display: flex;
overflow-y: auto;
position: absolute;
z-index: 1;
width: 250px;
height: 60px;
align-items: center;
flex-wrap: wrap;
.breadcrumbs {
  margin-left: 0;
}
}