/**
*
* Breadcrumb
*
**/

.crumb-container {
  background-color: $colorGrayDark;
  display: none;
  @include wider {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
  }
}

.breadcrumbs {
  position: relative;
  max-width: $huge;
  margin: 0 auto;
  padding: .5em 1em;
}

.breadcrumbs p {
  @include type--small;
  padding-top: $lineHeight;
}

.breadcrumbs a, .trail-end, .breadcrumbs__link {
  @include type--small;
  color: #fff;
  font-weight: 400;
  padding-top: 0;

  @include medium {
    padding-top: 0;
  }
}

.main .breadcrumbs {
    text-align: left;
    color: $colorBlue;

    a {
      color: $colorBlue;
    }
    .trail-end {
      color: #da2e75;
    }
  }



  .breadcrumb-trail {

    .trail-begin {

    }
    .trail-end {

    }
    .sep {
      color: #fff;
    }
    a {

      &:hover {

      }
    }

  }

  body.open .crumb-container {
display: flex;
overflow-y: auto;
position: absolute;
z-index: 1;
width: 250px;
height: 60px;
align-items: center;
flex-wrap: wrap;
.breadcrumbs {
  margin-left: 0;
}
}