/**
*
* Icon Circle
*
**/

.icon-circle,
.icon-circle--large {
  height: 0;
  width: 0;
  background: $colorGray;
  display: block;
  position: relative;
  border-radius: 100%;
  //font-size: 0;
  padding: 22px; // Breaks baseline grid
  margin: 4px auto; // Adds margin top/bottom to fix baseline grid ;)

  i,
  span {
    position: absolute;
    line-height: 0px;
    top: 50%;
    width: 100%;
    left: 0;
    text-align: center;
    color: #ffffff;
    font-size: $fontLarge;
  }

  span {
    font-family: $fontHighlight;
    font-size: $fontLarge;
    font-weight: 700;

    @include medium {
      font-size: $fontXLarge;
    }
  }
}

.icon-circle--large {
  margin-top: 0;
  margin-bottom: 0;
  padding: $lineHeight;
  position: relative;

  i {
    font-size: $fontLarge;

    @include medium {
      font-size: $fontXLarge;
    }
  }

  @include medium {
    padding: ($lineHeight + $lineHeight/2) - 2;
    border: 2px solid #ffffff;

    a & {
      padding: ($lineHeight + $lineHeight/2) - 1;

      box-shadow: inset 0px 0px 0px 1px rgba(#ffffff, .42);
      border: 1px solid;

      // demo transition
      transition: all 100ms linear;
      transform: translateZ(0); // kick in hardware acceleration
    }

    .no-touch a:hover & {
      box-shadow: inset 0px 0px 0px 1px #ffffff;
      transform: scale(1.1);
    }
  }

}

.icon-circle--nav {
  height: 0;
  width: 0;
  background: $colorGray;
  display: block;
  position: relative;
  border-radius: 100%;
  font-size: 0;
  padding: $lineHeight/2;
  margin: 0 auto;

  @include medium {
    padding: 22px; // Breaks baseline grid
    margin-top: 4px; // Adds margin top/bottom to fix baseline grid ;)
    margin-bottom: 4px; // Adds margin top/bottom to fix baseline grid ;)
  }

  i {
    position: absolute;
    line-height: 1px;
    top: 50%;
    width: 100%;
    left: 0;
    text-align: center;
    color: #ffffff;
    font-size: $fontBase;

    @include medium {
      font-size: $fontLarge;
    }
  }
}

  /* Social menu */

  .menu-social li a {
  font-size: $fontLarge;
  }

  .menu-social li::before {
    display: none;
  }
  .menu-social li a::before {
    content: $fa-share-alt ;
    padding: 0 3px;
      display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  list-style: none;
   }
  .menu-social li a:hover::before,
  .menu-social li a:focus::befoe  { opacity: 0.75; }

  .menu-social li a[href*="codepen.io"]::before      { content: $fa-codepen ; color: #fff;    }
  .menu-social li a[href*="digg.com"]::before        { content: $fa-digg ; color: #fff;    }
  .menu-social li a[href*="dribbble.com"]::before    { content: $fa-dribbble ; color: #ea4c89; }
  .menu-social li a[href*="dropbox.com"]::before     { content: $fa-dropbox ; color: #007ee5; }
  .menu-social li a[href*="facebook.com"]::before    { content: $fa-facebook ; color: #3b5998; }
  .menu-social li a[href*="flickr.com"]::before      { content: $fa-flickr ; color: #ff0084; }
  .menu-social li a[href*="plus.google.com"]::before { content: $fa-google-plus ; color: #dd4b39; }
  .menu-social li a[href*="github.com"]::before      { content: $fa-github ; color: #4183c4; }
  .menu-social li a[href*="instagram.com"]::before   { content: $fa-instagram ; color: #3f729b; }
  .menu-social li a[href*="linkedin.com"]::before    { content: $fa-linkedin ; color: #0e76a8; }
  .menu-social li a[href*="pinterest.com"]::before   { content: $fa-pinterest ; color: #c8232c; }
  //.menu-social li a[href*="polldaddy.com"]::before   { content: $fa-polldaddy ; color: #bc0b0b; }
  //.menu-social li a[href*="getpocket.com"]::before   { content: $fa-getpocket ; color: #ee4056; }
  .menu-social li a[href*="reddit.com"]::before      { content: $fa-reddit ; color: #336699; }
  .menu-social li a[href*="skype.com"]::before,
  .menu-social li a[href*="skype:"]::before          { content: $fa-skype ; color: #00aff0; }
  .menu-social li a[href*="stumbleupon.com"]::before { content: $fa-stumbleupon ; color: #ff2618; }
  .menu-social li a[href*="tumblr.com"]::before      { content: $fa-tumblr ; color: #34526f; }
  .menu-social li a[href*="twitter.com"]::before     { content: $fa-twitter ; color: #33ccff; }
  .menu-social li a[href*="vimeo.com"]::before       { content: $fa-vimeo-square ; color: #1AB7EA; }
  .menu-social li a[href*="wordpress.org"]::before,
  .menu-social li a[href*="wordpress.com"]::before   { content: $fa-wordpress ; color: #21759b; }
  .menu-social li a[href*="youtube.com"]::before     { content: $fa-youtube ; color: #c4302b; }