/**
*
* Link
*
**/

a {
  color: $colorBlue;
  text-decoration: none;
  transition: color .1s linear;
}

a:hover {
  color: darken($colorBlue, 20);
  outline: 0;
}

td a, .cta--secondary {
  @include style-cta($colorBlue, false);
}
