/**
*
* Link
*
**/

a {
  color: $base-link-color;
  text-decoration: none;
  transition: color .1s linear;
}

a:hover {
  color: $hover-link-color;
  outline: 0;
}

td a, .cta--secondary {
  @include style-cta($base-link-color, false);
}
