body.open {
  overflow: hidden;
}

.app-bar {
  display: block;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $base-header-color;
  overflow: hidden;
  z-index: 1;
}

.app-bar-container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 60px;
  position: relative;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 auto;
}

.app-bar.open,
.app-bar.open ~ .main-container {
  -webkit-transform: translate(250px, 0);
          transform: translate(250px, 0);
}

.app-bar .site-title {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 2em;
  line-height: 60px;
  margin: 0 16px;
  padding: 0;
  color: #fefefe;
  float: none;
  max-width: none;
  font-weight: 300;
  line-height: 60px;
}

.app-bar .site-title a {
  text-decoration: none;
  color: inherit;
  font-weight: normal;
}

.app-bar-actions {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  z-index: 2;
}

.navdrawer-container {
  z-index: 1;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 250px;
  height: 100%;
  background-color: $nav-drawer-color;
  color: #fefefe;
  -webkit-transform: translate(-250px, 0);
          transform: translate(-250px, 0);
  overflow-y: auto;
}

.navdrawer-container.open {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.app-bar, .navdrawer-container, .main-container {
  -webkit-transition: -webkit-transform 0.3s ease-out;
          transition: transform 0.3s ease-out;
}

.navdrawer-container ul li a {
  height: auto;
  padding: 17px 20px;
  line-height: 1.4;
}

.navdrawer-container ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  flex-direction: column;
}

.navdrawer-container ul li a {
  display: block;
  text-decoration: none;
  color: white;
  -webkit-transition: background-color 0.2s ease-out;
          transition: background-color 0.2s ease-out;
  white-space: nowrap;
}

.navdrawer-container ul li {
  border-bottom-style: solid;
  border-width: 1px;
  border-color: white;
  padding: 0;
}

.navdrawer-container ul li::before {
  content: none;
}

.navdrawer-container ul li a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.navdrawer-container ul li a:focus,
.navdrawer-container ul li a:active {
  background-color: rgba(255, 255, 255, 0.3);
  outline: 0;
}

.navdrawer-container ul li.current-menu-item a {
  font-weight: bold;
}

/** Larger Screens - desktops and tablets **/
@media all and (min-width: 990px) {
  .app-bar {
    position: relative;
  }

  .app-bar.open,
  .app-bar.open ~ .main-container {
    -webkit-transform: translate(0px, 0);
            transform: translate(0px, 0);
  }

  .app-bar-container {
    display: block;
    height: 130px;
    max-width: $almostHuge;
    padding: 0 16px;
    display: flex;
    justify-content: space-between;
  }

  .app-bar .site-title {
    float: left;
    margin: 0;
    padding: 0;
    line-height: 130px;
    font-size: 32px;
    font-size: 2rem;
  }

$menu-button-color : rgba(255, 255, 255, 0.79);
  .app-bar-actions {
    float: right;
    margin: auto 0;

    .menu-items {
      padding: 0;
      li {
        &::before {
          display: none;
        }
      a {
        @include button($menu-button-color, $colorBlue)
        
      }
      }
      }
  }

  .app-bar::after {
    content: ' ';
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
  }

  .menu-link {
    display: none;
  }

  .navdrawer-container {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 130px;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    -webkit-transition: none;
            transition: none;
    overflow-y: auto;
  }

  .menu-header {
    display: none;
  }

  .app-bar-actions ul, .navdrawer-container ul {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    max-width: 864px;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .navdrawer-container ul li {
    border: none;
  }


  body {
    overflow-y: scroll;
  }

  .navdrawer-container {
    position: relative;
    margin-top: 0;
  }
}

.menu-link {
  width: 60px;
  height: 60px;
background-image: none;
background-color: transparent;
border: none;
padding: .4em;
  -webkit-transition: background-color 0.2s ease-out;
          transition: background-color 0.2s ease-out;
  -webkit-tap-highlight-color: transparent;
z-index: 5;
  outline: none;
  
&:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
&:focus {
  background-color: rgba(255, 255, 255, 0.2);
  outline: 0;
}
&:active {
  background-color: rgba(255, 255, 255, 0.4);
}
}

.menu-link span {
position: relative;
display: block;
}

.menu-link span, .menu-link span:before, .menu-link span:after {
background-color: $wet-asphalt;
width: 25px;
margin: 0 auto;
height: 3px;
-webkit-transition: all 0.4s;
-moz-transition: all 0.4s;
-ms-transition: all 0.4s;
-o-transition: all 0.4s;
transition: all 0.4s;
}

.menu-link span:before, .menu-link span:after {
position: absolute;
  left: 0;
top: -6px;
content: " ";
}

.menu-link span:after {
top: 6px;
}


.open .menu-link span {
background: transparent;
}

.open .menu-link span:before {
transform: rotate(45deg) translate(5px, 4px);
}

.open .menu-link span:after {
transform: rotate(-45deg) translate(4px, -4px);
}


.menu-header {
height: 60px;
background-color: #fff;
}


.navdrawer-container .search-form {
  position: absolute;
  right: 20px;
  top: 1px;
}

.navdrawer-container .search-field {
  font-size: 1rem;
  background-color: transparent;
  background-image: url(images/search.svg);
  background-position: 5px center;
  background-repeat: no-repeat;
  background-size: 24px 24px;
    border: none;
  cursor: pointer;
  height: 55px;
  margin: 0;
  padding: 0 0 0 34px;
  width: 0;
  border-radius: 0;
  color: $base-font-color;
    position: relative;
  -webkit-transition: width 400ms ease, background 400ms ease;
  transition:         width 400ms ease, background 400ms ease;
}

.navdrawer-container input[type="submit"].search-submit {
  display: none;
}

.navdrawer-container .search-field:focus {
  background-color: #fff;
  cursor: text;
  outline: 0;
  width: 230px;
}