/**
*
* Quote
*
**/

.quote__content {
  position: relative;
  font-family: $fontHighlight;
  @include type--medium;
  padding-top: $lineHeight * 4;
  padding-left: $lineHeight;

  @include medium {
    padding-top: $lineHeight * 2;
    padding-left: 0;
  }

  p {
    border-top: 1px solid $colorGrayKeyline;
    text-align: right;
    font-weight: 500;
    margin-top: $lineHeight/2 - 1;
    padding-top: $lineHeight/2;
  }

  &::before {
    content: open-quote;
    display: block;
    position: absolute;
    font-family: $fontHighlight;
    font-weight: 700;
    color: $colorGrayBackground;
    top: 90px;
    left: $lineHeight;
    font-size: 260px;

    @include medium {
      top: 225px;
      left: -210px;
      font-size: 540px;
    }
  }
}


/* === Blockquotes, quotes, and cites === */

blockquote {
display: flex;
  p {
width: 500px;
display: flex;
flex-direction: column;
  }

  &::before {
    content: open-quote;
    display: block;
    font-family: $fontHighlight;
    font-weight: 700;
    color: $colorGrayBackground;
    top: 90px;
    left: $lineHeight;
    font-size: 260px;

    @include medium {
font-size: 445px;
position: relative;
margin: auto 45px auto;
    }
  }

  cite {
    border-top: 1px solid #e0e0e0;
    text-align: right;
font-weight: 500;
margin-top: 12px;
padding-top: 13px;
font-style: normal;
  }
}