/*------------------------------------*\
    #HEADINGS
\*------------------------------------*/

// Predefine the variables below in order to alter and enable specific features.
$base-heading-size-1: 36px !default;
$base-heading-size-2: 30px !default;
$base-heading-size-3: 24px !default;
$base-heading-size-4: 20px !default;
$base-heading-size-5: 16px !default;
$base-heading-size-6: 14px !default;

h1 {
    @include font-size($base-heading-size-1);
    font-weight: 300;
    letter-spacing: -0.02em;
}

h2 {
    @include font-size($base-heading-size-2);
    font-weight: 300;
}

h3 {
    @include font-size($base-heading-size-3);
    font-weight: 300;
}

h4 {
    @include font-size($base-heading-size-4);
    font-weight: 300;
}

h5 {
    @include font-size($base-heading-size-5);
    font-weight: 400;
    letter-spacing: 0.02em;
}

h6 {
    @include font-size($base-heading-size-6);
    font-weight: 300;
    letter-spacing: 0.04em;
}

h1, h2, h3, h4, h5, h6, p {
    // margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    //margin: 0 0 $base-spacing-unit-tiny;
    color: $color-headings;

    a {
        text-decoration: none;
        font-weight: inherit;
        color: currentColor;
        transition: opacity $base-transition-speed ease, border-color $base-transition-speed;

        &:hover,
        &:focus,
        &:active {
            color: currentColor;
            opacity: .5;
            text-decoration: none;
        }
    }
}
