// /*------------------------------------*\
//  #SITE COLORS
// \*------------------------------------*/


// Brand

$color-primary:             $base-blue;
$color-primary-light:       lighten($color-primary, 10);
$color-primary-dark:        darken($color-primary, 10);
$color-secondary:           $green-800;




// Helpers

$color-grey-darker:         $grey-800;
$color-grey-dark:           $grey-700;
$color-gray:                $base-grey;
$color-grey-light:          $grey-300;
$color-grey-lighter:        $grey-200;
$color-grey-lightest:       $grey-100;
$color-grey-ui:             $grey-400;
$color-black:               $black;
$color-white:               $white;




// Text

$color-text-light:          $grey-500;
$color-text:                $grey-800;
$color-headings:            $grey-600;
$color-text-light-hover:    $grey-700;

$color-links:               $color-primary-dark;
$color-links-hover:         $color-primary-light;
$color-links-active:        $color-primary;




// Objects

$color-hr:                  $color-grey-ui;




// Sections
$color-header:              $color-primary;
$footer-bg:                 $color-primary;
$footer-widget-bg:          $color-primary-light;




// Buttons
$btn-text:                  $white;
$btn-bg:                    $color-primary;
$btn-bg-hover:              $color-primary-light;
$btn-bg-active:             $color-primary-dark;
$btn-primary-bg:            $color-primary;
$btn-primary-text:          $white;




//Alerts
$color-error:               $red-400;
$color-valid:               $green-400;
$color-warning:             $yellow-400;
$color-information:         $blue-400;




// Formats

$format-standard:           $indigo-300;
$format-image:              $teal-300;
$format-gallery:            $yellow-300;
$format-video:              $red-300;
$format-quote:              $green-300;
$format-audio:              $green-300;
