/*------------------------------------*\
    #BASE
\*------------------------------------*/

html {
    color: $color-text;
    font-size: $base-font-size;
    line-height: $base-line-height;
    @include sm-only {
      font-size: 14px;
    }
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

/*------------------------------------*\
    ##Box-Sizing
\*------------------------------------*/

html {
    box-sizing: border-box;
}

* {

    &,
    &:before,
    &:after {
        box-sizing: inherit;
        }

}


input[type="search"] {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


/**
 * Where `margin-bottom` is concerned,this value will be the same as the
 * base line-height. This allows us to keep a consistent vertical rhythm.
 * As per: csswizardry.com/2012/06/single-direction-margin-declarations
 */
h1, h2, h3, h4, h5, h6,
ul, ol, dl,
blockquote, p, address,
hr,
table,
fieldset, figure,
pre,
%margin-bottom {
  margin:0;
    margin-bottom: $base-spacing-unit-sm;
    margin-bottom: ($base-spacing-unit-sm / $base-font-size) * 1rem;
}





/**
 * Where `margin-left` is concerned we want to try and indent certain elements
 * by a consistent amount. Define that amount once,here.
 */
ul, ol, dd,
%margin-left {
  margin:0;
    margin-left: 2 * $base-spacing-unit-sm;
    margin-left: (2 * $base-spacing-unit-sm / $base-font-size) * 1rem;
}
