/*------------------------------------*\
    #LINKS
\*------------------------------------*/

/*
   links.css - v0.0.1 - "Smarter defaults for links"
   License MIT
*/

a,
a:visited {
  transition: color .3s, border-color .3s;
  color: $color-links;
  text-decoration: none;
}

a:hover   {
  color: $color-links-hover;
}
a:active  {
  transition: color .3s, border-color .3s;
  color: $color-links-active;
}

li:not(.menu-item) > a, p > a {
  border-bottom: 1px solid transparent;
  &:hover, &:active {
  border-bottom-color: currentColor;
  }
}

// .entry-content p a, .entry-summary p a, .comment-content a {
// border-bottom: 1px solid transparent;
// transition: color .3s, border-color .3s;
// &:hover {
// 	border-bottom-color: currentColor;
// }
// }
