/*------------------------------------*\
    #LINKS
\*------------------------------------*/

a:not(.button) {
    transition: color .3s, border-color .3s;
    color: $color-links;
    text-decoration: none;
    font-weight: bold;

    &:hover {
        color: $color-links-hover;
    }

    &:active {
        transition: color .3s, border-color .3s;
        color: $color-links-active;
    }
}

li:not(.menu-item) > a,
p > a {
    border-bottom: 1px solid transparent;

    &:hover, &:active {
        border-bottom-color: currentColor;
    }
}

footer.site-footer {
    a {
        transition: opacity .3s, border-color .3s;
        color: currentColor;

        &:visited, &:hover, &:active {
            opacity: .6;
        }
    }
}

.widget a {
    font-weight: normal;
}

.menu-item a {
    color: currentColor;
    font-weight: normal;

    &:hover, &.active {
        color: currentColor;
    }
}
