/*------------------------------------*\
    #BLOCKQUOTES
\*------------------------------------*/


blockquote {
  //font-family: Georgia, Times, "Times New Roman", serif;
  color: $color-text-light;
  margin: 0;
  border-left: 5px solid $color-grey-ui;
  padding-left: 20px;
}

blockquote blockquote {
  margin: 0;
  padding: 0;
  border: 0;
}

blockquote cite {
  display: block;
  font-family: $font-body;
  font-style: normal;
  font-size: 80%;
  font-weight: 500;
  margin-top: 12px;
  padding-top: 13px;

  margin-top: $base-spacing-unit-sm;
}

blockquote cite::before {
  content: "\2014";
  padding-right: 10px;
}

.pf-content {
  padding: $base-spacing-unit-sm;
}
