/*------------------------------------*\
    #BUTTONS
\*------------------------------------*/

.btn,
button,
.button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  background-color: $btn-bg;
  border: 0;
  border-radius: $base-radius;
  color: $btn-text;
  cursor: pointer;
  padding: $base-spacing-unit-sm $base-spacing-unit;
  width: auto;
  display: inline-block;
  outline: 0;

//   &:not(.search-submit) {
//   margin: .3em;
// }
  transition: background-color $base-transition-speed;

  &:hover {
  background-color: $btn-bg-hover;
  transition: background-color $base-transition-speed;
  }
  &:active {
  background-color: $btn-bg-active;
  }

}

.btn + .btn {
  margin-left: 10px;
}

.entry-terms a {
  @extend .btn;
  @include font-size($base-font-size - 2);
  padding: 4px 12px;
  text-transform: capitalize;
}

.button--form {

  &:before {
    content: $pencil-square-o;
    @include font-icon();
    padding-right: 5px;
  }
}

.button--info {

  &:before {
    content: $info-circle;
    @include font-icon();
    padding-right: 5px;
  }
}

.button--link-ext {

  &:before {
    content: $external-link;
    @include font-icon();
    padding-right: 5px;
  }
}