/*------------------------------------*\
    #ICONS
\*------------------------------------*/

/* Links */
a[href^="mailto:"]::before {
    content: $envelope-o;
    @include font-icon;
    padding-right: 5px;
}

a[href^="tel:"]::before {
    content: $phone;
    @include font-icon;
    padding-right: 5px;
}

a[href*="google.com/maps"]::before,
a[href*="maps.google.com"]::before {
    content: $map-marker;
    @include font-icon;
    padding-right: 5px;
}

.post-edit-link {
    font-weight: 400;

    &::before {
        content: $pencil;
        @include font-icon;
        margin-right: 3px;
    }
}

/* Posts */
.format-standard .post-format-link::before {
    content: $shield;
}

.format-aside .post-format-link::before {
    content: $indent;
}

.format-audio .post-format-link::before {
    content: $volume-up;
}

.format-chat .post-format-link::before {
    content: $comments;
}

.format-gallery .post-format-link::before {
    content: $file-photo-o;
}

.image-sizes::before,
.format-image .post-format-link::before {
    content: $photo;
}

.format-link .post-format-link::before {
    content: $link;
}

.format-quote .post-format-link::before {
    content: $quote-left;
}

.format-status .post-format-link::before {
    content: $line-chart;
}

.format-video .post-format-link::before {
    content: $youtube-play;
}

.post-format-link::before {
    @include font-icon;
    //color: $color-text-light;
    margin-right: 5px;
    //transition: color $base-transition-speed linear;
}

[class^="icon-"], [class*=" icon-"] {
    display: inline-block;
    color: #000000;
    fill: currentColor;
    height: 21px;
}

[class^="icon-"] .path1, [class*=" icon-"] .path1 {
    fill: $color-primary;
}

[class^="icon-"] .path2, [class*=" icon-"] .path2 {
    fill: $color-secondary;
}

[class^="icon-"] .path3, [class*=" icon-"] .path3 {
    fill: $color-grey-ui;
}

.menu-social__item {
    display: inline-block;

    a {
        background-color: #fff;
        border-radius: 50%;
        height: 30px;
        width: 30px;
        padding: 5px;
        text-align: center;
        margin: 0 3px;

        &:hover {
            background-color: $grey-100;
            opacity: 1;
        }

        &::before {
            @include font-icon;
        }

        &[href*="codepen.io"]::before {
            content: '\f216';
            color: #fff;
        }

        &[href*="digg.com"]::before {
            content: '\f221';
            color: #fff;
        }

        &[href*="dribbble.com"]::before {
            content: '\f201';
            color: #ea4c89;
        }

        &[href*="dropbox.com"]::before {
            content: '\f225';
            color: #007ee5;
        }

        &[href*="facebook.com"]::before {
            content: $facebook;
            color: #3b5998;
        }

        &[href*="flickr.com"]::before {
            content: '\f211';
            color: #ff0084;
        }

        &[href*="plus.google.com"]::before {
            content: $google-plus;
            color: #dd4b39;
        }

        &[href*="github.com"]::before {
            content: '\f200';
            color: #4183c4;
        }

        &[href*="instagram.com"]::before {
            content: $instagram;
            color: #3f729b;
        }

        &[href*="linkedin.com"]::before {
            content: $linkedin;
            color: #0e76a8;
        }

        &[href*="pinterest.com"]::before {
            content: $pinterest;
            color: #c8232c;
        }

        &[href*="polldaddy.com"]::before {
            content: '\f217';
            color: #bc0b0b;
        }

        &[href*="getpocket.com"]::before {
            content: '\f224';
            color: #ee4056;
        }

        &[href*="reddit.com"]::before {
            content: '\f222';
            color: #336699;
        }

        &[href*="skype.com"]::before,
        &[href*="skype:"]::before {
            content: '\f220';
            color: #00aff0;
        }

        &[href*="stumbleupon.com"]::before {
            content: '\f223';
            color: #ff2618;
        }

        &[href*="tumblr.com"]::before {
            content: '\f214';
            color: #34526f;
        }

        &[href*="twitter.com"]::before {
            content: $twitter;
            color: #33ccff;
        }

        &[href*="vimeo.com"]::before {
            content: '\f212';
            color: #1AB7EA;
        }

        &[href*="wordpress.org"]::before,
        &[href*="wordpress.com"]::before {
            content: '\f205';
            color: #21759b;
        }

        &[href*="youtube.com"]::before {
            content: $youtube;
            color: #c4302b;
        }
    }
}
