/*------------------------------------*\
    #TABLES
\*------------------------------------*/

table {
	margin: 0 0 $base-spacing-unit;
	width: 100%;
}

th {
	font-weight: bold;
}

th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid $color-grey-ui; 
}

th:first-child,
td:first-child {
  padding-left: 0; 
}

th:last-child,
td:last-child {
  padding-right: 0; 
}