/*------------------------------------*\
    #BUTTONS
\*------------------------------------*/

.btn,
button,
.button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  background-color: $btn-bg;
  border: 0;
  border-radius: $base-radius;
  color: $btn-text;
  cursor: pointer;
  padding: $base-spacing-unit-sm * 0.75 $base-spacing-unit-sm * 1.25;
  width: auto;
  display: inline-block;
  outline: 0;
  transition: background-color $base-transition-speed;
  margin-bottom: $base-spacing-unit-sm;

//   &:not(.search-submit) {
//   margin: .3em;
// }
  // &:link, &:visited {
  //   color: inherit
  // }
  &:hover {
  background-color: $btn-bg-hover;
  transition: background-color $base-transition-speed;
  }
  &:active {
  background-color: $btn-bg-active;
  }

}

.btn + .btn {
  margin-left: 10px;
}

.entry-terms a {
  @extend .btn;
  @include font-size($base-font-size - 2);
  padding: 4px 12px;
  text-transform: capitalize;
}




.button[class*="button--"]:before {
  @include font-size($base-font-size + 3, false);
  vertical-align: bottom;
}

.button--form {

  &:before {
    content: $pencil-square-o;
  }
}

.button--info {

  &:before {
    content: $info-circle;
  }
}

.button--donate {

  &:before {
    content: $dio-give;
    @include font-icon('diocons');
  }
}

.button--link-ext {

  &:before {
    content: $external-link;
  }
}
