/*------------------------------------*\
    #THUMBNAILS
\*------------------------------------*/

.featured-media {
    background-color: lighten($color-primary, 45);
    display: block;
    @include margin-space($base-spacing-unit-sm * -1 $base-spacing-unit-sm * -1 $base-spacing-unit-tiny);
    overflow: hidden;
    border-radius: $base-radius $base-radius 0 0;
}

.featured-media > a {
    display: block;
    line-height: 0;
}

.featured-media img {
    display: block;
    margin: 0 auto;
}

a img {
    opacity: 1;
    transition: opacity $base-transition-speed linear;
    backface-visibility: hidden;

    &:hover {
        opacity: .8;
        backface-visibility: hidden;
    }
}
