/* #BREADCRUMBS
\*------------------------------------*/
.breadcrumbs {

    //text-transform: uppercase;
    li {
        display: inline-block;
        + li:before {
            content: "\E5CC";
            opacity: $opacity;
            padding: .2em;
            font-family: 'Material Icons';
            vertical-align: middle;
            font-size: 1.5em;
            line-height: 1;
        }
    }

    a {
        color: inherit;
    }
}

body:not(.search) .trail-end > span,
.search .archive-title {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
