/* #LINKS
\*------------------------------------*/

a:not(.btn) {
	color: inherit;
}

a:not([class]) {
	font-weight: 500;
	color: #096eb0;
	text-decoration: none;
	transition-duration: $transition-time;
	transition-timing-function: $animation-curve-default;
	transition-property: all;

	&:hover {
		text-decoration: underline;

		&:before,
		&:after {
			text-decoration: none;
		}
	}

	&:active,
	&:focus,
	&:hover {
		color: #72b0d9;
	}
}

// a:not([class]) {
// 	border-bottom: 1px solid transparent;
// 	padding-bottom: 1px;
// }
// a:not([class]) {
// 	font-weight: 500;
// 	color: #096eb0;
// }
//
// a:not([class]):hover,
// a:not([class]):focus {
// 	color: #72b0d9;
// }

.site-branding {

	a {
		opacity: 1;

		&:hover {
			opacity: 0.8;
			text-decoration: none;
		}
	}
}

h2 > a:not([class]) {
	font-weight: inherit;
}

.entry-title.entry-title > a {
	color: inherit;
	opacity: 0.7;
	text-decoration: none;
	display: flex;
	align-items: center;

	&:hover {
		opacity: 1;
	}
}
