/* #LINKS
\*------------------------------------*/
a:not(.btn) {
	color: inherit;
	text-decoration: none;
	opacity: 0.8;
	transition-duration: $transition-time;
	transition-timing-function: $animation-curve-default;
	transition-property: all;

	&:focus,
	&:hover {
		text-decoration: underline;
		border-bottom-color: currentColor;
		opacity: 1;

		&:before,
		&:after {
			text-decoration: none;
		}
	}
}

// a:not([class]) {
// 	border-bottom: 1px solid transparent;
// 	padding-bottom: 1px;
// }

article a:not([class]) {
	font-weight: 700;
}

article p > a:not([class]) {
	color: #096EB0;
}

article p > a:hover,
article p > a:focus {
	color: #72B0D9;
}

.site-branding {

	a {
		opacity: 1;

		&:hover {
			opacity: 0.8;
			text-decoration: none;
		}
	}
}

h2 > a:not([class]) {
	font-weight: inherit;
}
