/* #LISTS
\*------------------------------------*/
li {
	margin-bottom: .25em;
}

ul,
ol,
dl {
	list-style-position: inside;
}

ol ol,
ul ul,
ol ul,
ul ol {
	padding-left: 2.5em;
	margin-bottom: 0;
}

ul:last-child {
	margin-bottom: 0;
}

/* specify the list style of nav lists */
nav ol,
nav ul,
nav li {
	list-style: none;
	padding: 0;
	margin: 0;
}

nav li a {
	margin: 0;
}
