/* #LINKS
\*------------------------------------*/

a:not(.btn) {
	color: inherit;
    text-decoration: none;
	line-height: inherit;
	cursor: pointer;
	opacity: .9;
	transition-duration: $transition-time;
    transition-timing-function: $animation-curve-default;
    transition-property: color, opacity;
	&:hover {
		opacity: 1;
	}
}

a:not([class]) {
	font-weight: 500;
}

a:not([class]):hover {
    color: inherit;
    text-decoration: none;
}

.entry-content a:not([class]), .entry-summary a:not([class]), .comment-content a:not([class]) {
  position: relative;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100% 6px;
  background-image: linear-gradient(transparent, transparent 5px, $blue-grey-100 5px, $blue-grey-100);

	&:hover,
	&:focus {
		color: inherit;
		opacity: 1;
		background-image: linear-gradient(transparent, transparent 4px, $blue-grey-500 4px, $blue-grey-500);
	}

	&:active {

	}
}

li,
h1,
h2,
h3,
h4,
h5,
h6 {
    > a[href]:not(.btn) {
		font-weight: inherit;
        color: inherit;
    }
    > a[href]:not(.btn):hover {
        //color: $color-text-light;
    }
}

.site-title > a {
	opacity: 1;
	transition-property: opacity;

	&:hover {
		opacity: $opacity;
	}
}
