blockquote {
	padding: $space1 $space2;
    font-size    : $h3;
    line-height  : 1.6;
	text-align: center;
	font-style: italic;
    margin-left: 0;

    p {
        // text-indent: -0.42em;

        &:last-of-type {
            margin-bottom: 0;
        }
    }
}

cite {
    text-align: right;
    width     : 100%;
    display   : inline-block;
}

blockquote cite {
    font-size  : $h6;
    font-weight: normal;
}

.blockquote {
    justify-content: center;
}
