/* #PAGE
\*------------------------------------*/
html {
	font-size: $base-font-size;

	@include sm {
		font-size: 15px;
		line-height: 1.6;
	}
}

body {
	color: $color-text;
	background-color: $base-background-color;
	font-family: $sans-serif;
	font-size: 1rem;
	line-height: $base-line-height;
	hyphens: auto;
	word-wrap: break-word;
}

.site {
	max-width: 100%;
	width: 100%;
	overflow-x: hidden;
}

hr {
	margin-top: 1.5em;
	margin-bottom: 1.5em;
	border: 0;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: $color-grey;
}
