/*------------------------------------*\
    #MENUS
\*------------------------------------*/

.menu__primary {
    z-index: 5;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 250px;
    height: 100%;
    background-color: $color-primary-dark;
    color: $grey-50;
    -webkit-transform: translate(-250px, 0);
    transform: translate(-250px, 0);
    overflow-y: auto;
    @include shadow-z1;

    @include md {
        position: relative;
        width: 100%;
        height: auto;
        margin-top: 0;
        transform: translate(0, 0);
        transition: none;
        overflow-y: visible;
    }

    &.open {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }

    &--items {
        padding: 0;
        margin: 0;
        list-style-type: none;
        font-size: 0;

        @include md {
            max-width: $site-width;
            margin: 0 auto;
            @include padding-space(0 $base-spacing-unit-sm);
        }

        > li {
            display: block;

            &:hover > .sub-menu {
                transition-delay: 0s;

                @include md {
                    display: block;
                    visibility: visible;
                }
            }

            @include md {
                display: inline-block;
                width: auto;
            }

            a {
                display: block;
                padding: 20px 20px;
                color: currentColor;
                background-color: transparent;
                transition: background-color .2s ease-out;
                line-height: $base-line-height;
                font-weight: normal;

                &:hover, &:active {
                    background-color: rgba($grey-300, 0.4);
                    border: 0;
                }
            }
        }
    }
}

.sidebar .menu-item {
    display: block;
    margin-bottom: 0;
    padding-bottom: 0;

    a {
        line-height: 40px;
        padding-bottom: 0;
        padding-top: 0;
    }
}

.menu-item-has-children {
    > a:after {
        content: $caret-right;
        @include font-icon;
        color: currentColor;
        padding-left: 5px;
        font-size: .8em;
        display: inline-block;
        font: normal 10px/1 FontAwesome;
        vertical-align: middle;
        width: 5px;
    }

    > a.active:after {
        content: $caret-down;
    }
}

.menu-toggle {
    width: 60px;
    height: 60px;
    background-image: none;
    background-color: transparent;
    border: none;
    padding: 20px;
    font-size: 11px;
    transition: background-color 0.2s ease-out;
    -webkit-tap-highlight-color: transparent;
    display: none;

    @include sm-only {
        display: inline-block;
    }

    span {
        position: relative;
        display: block;
        padding-right: 20px;
    }

    span, span:before, span:after {
        background-color: #fff;
        width: 100%;
        height: 2px;
        transition: all 0.4s;
    }

    span:before, span:after {
        position: absolute;
        top: -.55em;
        content: " ";
    }

    span:after {
        top: .55em;
    }

    &:hover {
        background-color: rgba($grey-800, 0.1);
    }

    &:focus:not(:active) {
        background-color: rgba($grey-800, 0.2);
        outline: 0;
    }

    &:active {
        background-color: rgba($grey-800, 0.4);
    }
}

.open .menu-toggle span {
    background: transparent;

    &:before {
        transform: rotate(45deg) translate(0.5em, 0.4em);
    }

    &:after {
        transform: rotate(-45deg) translate(0.4em, -0.3em);
    }
}

.sub-menu {
    position: absolute;
    visibility: hidden;
    width: 100%;
    margin: 0;
    margin-left: -1px;
    text-align: left;
    background-color: $white;
    border-radius: $base-radius;
    z-index: 1000;
    transition: 0.1s 0.1s;
    color: $color-text;
    padding-top: 4px;
    padding-bottom: 4px;
    list-style-type: none;

    @include md {
        width: 200px;
        @include shadow-z2;
    }

    > li {
        display: block;

        > a {
            display: block;
            padding: 10px 20px;
            width: 100%;
            @include font-size($base-font-size - 1, false);
        }
    }

    &.active {
        display: block;
        visibility: visible;

        @include sm-only {
            position: relative;
        }
    }
}
