/*------------------------------------*\
    #SITE-HEADER
\*------------------------------------*/

body.is-open {
    overflow: hidden;
}

.site-header {
    display: block;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: $color-primary;
    overflow: hidden;
    z-index: 1;
    @include shadow-z2;

    @include md {
        position: relative;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 40px 5%;

        &.is-open,
        &.is-open ~ .main-container {
            transform: translate(0px, 0);
        }

        &::after {
            content: ' ';
            display: block;
            height: 0;
            overflow: hidden;
            clear: both;
        }
    }

    @include sm-only {
        height: 60px;
    }
}

.site-title {
    color: $white;
    padding: 0;
    float: none;
    max-width: none;
    display: initial;

    @include sm-only {
        font-size: 2em;
    }

    a {
        color: inherit;
    }
}

.site-description {
    color: $white;
    opacity: .8;
    margin: 0;

    @include sm-only {
        display: none;
    }
}

.site-logo {
    display: none;
    float: left;
    margin-right: $base-spacing-unit-tiny;

    &:hover ~ .site-title a {
        opacity: .5;
    }

    @include md {
        display: inline-block;
    }
}

.site-header.is-open,
.is-open .site-footer,
.is-open .breadcrumbs,
.is-open .main-container {
    transform: translate(250px, 0);
    cursor: default;
}

.breadcrumbs,
.site-footer,
.site-header,
.menu.has-opened,
.main-container {
    transition: transform 0.3s ease-out;
}

.main-container {
    min-height: 100%;
}

.site-branding {
    @include md {
        display: block;
        height: auto;
        flex: 1;
    }
}
