/*------------------------------------*\
    #FORMS
\*------------------------------------*/

input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="week"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="color"],
input:not([type]),
select,
textarea {
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    background-color: $grey-200;
    border: 1px solid $grey-300;
    height: $base-spacing-unit-lg;
    padding: 7px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
    border-radius: $base-radius;
    box-shadow: none;
    background: #fff;

    &:focus {
    outline: thin dotted \9; /* IE6-9 */
    border-color: lighten($color-links, 20);
    outline: 0;
    background-color: #fff;
    }

    &[disabled] {
    cursor: not-allowed;
    background-color: $color-grey-lighter;
    color: $color-gray;
    }
}

textarea {
  min-height: $base-spacing-unit-lg * 3;
}

input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
    outline: thin dotted $color-gray;
    outline: 1px auto lighten($color-links, 20);
}

.disabled input,
.disabled select,
.disabled textarea{
    cursor: not-allowed;
    background-color: $grey-50;
    border-color: $grey-50;
    color: $color-gray;

    &:focus {
      background-color: $grey-50;
      border-color: $grey-50;
      color: $color-gray;
    }

    }

input[readonly],
select[readonly],
textarea[readonly] {
    background: $color-grey-lighter;
    color: $color-text;
    border-color: $color-grey-lighter;
}

// input:invalid,
// textarea:invalid,
// select:invalid,
// input:hover:invalid,
// textarea:hover:invalid,
// select:hover:invalid,
// input:focus:invalid,
// textarea:focus:invalid,
// select:focus:invalid {
//     color: #b94a48;
//     border-color: $color-error;
// }



select[multiple] {
    height: auto;
}

label,
legend {
  display: block;
  font-weight: 500;
  color: $color-text-light;
}

fieldset {
  border-width: 0;
  padding: 0;
}

input[type="checkbox"],
input[type="radio"] {
  display: inline;
}

label > .label-body {
  display: inline-block;
  font-weight: normal;
  margin-left: $base-spacing-unit-sm;
}

.search-form {
position: relative;
}

input[type=search] {
  background-color: $white;
  font-size: $base-font-size;
  margin: 0;
  padding: $base-spacing-unit-tiny;
  width: 100%;
  appearance: none;
}

input[type="submit"].search-submit {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  outline: 0;
  padding: 0 $base-spacing-unit-sm;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  color: $white;
  @include font-icon();
}












$input-bg:           #fff !default;
$input-color:        #999 !default;
$input-border:       #ddd !default;
$input-border-focus: #999 !default;
$input-label:        #666 !default;
$input-error:        #ca3c3c !default;
$input-shadow:       1px 1px 2px #eee inset !default;
$input-transition:   all .3s ease-in-out !default;

$form-button-background:       #333 !default;
$form-button-background-hover: #0078e7 !default;
$form-button-color:            #fff !default;

$form-required: #f00 !default;
$form-muted:    #858585 !default;

$form-font-size:   16px !default;
$form-line-height: $form-font-size * 1.5 !default;
$form-space:       $form-line-height / 2 !default;

$white: #fff !default;
$gray:  #aaa !default;


// Form mixins - Handles the calculations and abstracted fun

// Font sizing mixin
// @link https://github.com/csswizardry/inuit.css/blob/master/generic/_mixins.scss [props]
// @example
//@include form-font-size(10px);
@mixin form-font-size($font-size) {
  font-size: $font-size;
  font-size: ($font-size / $form-font-size) * 1rem;
}

// Micro clearfix mixin
// @link http://www.css-101.org/articles/clearfix/latest-new-clearfix-so-far.php [props]
// @example
// @include form-clearfix;
@mixin form-clearfix {
  &::after {
    clear: both;
    content: '';
    display: table;
  }
}

// Spacing mixin
// @link https://twitter.com/HugoGiraudel [props]
// @example
// @include form-spacing(padding, 0 $form-space auto);
@mixin form-spacing($spacing-type, $args) {
  $fallback: ();
  $regular: ();

  @each $value in $args {
    @if type-of($value) == 'number' and unit($value) == 'px' {
      $fallback: append($fallback, $value);
      $regular: append($regular, $value / $form-font-size * 1rem);
    }

    @else if type-of($value) == 'number' and unit($value) == 'rem' {
      $fallback: append($fallback, $value / 1rem * $form-font-size);
      $regular: append($regular, $value);
    }

    @else {
      $fallback: append($fallback, $value);
      $regular: append($regular, $value);
    }
  }

  #{$spacing-type}: $fallback;
  #{$spacing-type}: $regular;
}


.ginput_complex,
.clear-multi,
.ginput_full,
.gf_list_2col,
.gf_list_3col,
.gf_list_4col,
.gf_list_5col,
.gf_list_inline,
.gf_page_steps,
.ui-datepicker-header {
  @include form-clearfix;
}

.gform_wrapper form {
  @include form-spacing(margin-bottom, $form-space);
}

.gform_heading {
  @include form-spacing(margin-bottom, $form-space * 2);

}

.gsection {
  @include form-spacing(margin-bottom, $form-space);
  @include form-spacing(padding-bottom, $form-space);
  border-bottom: 1px solid $form-muted;

  .gsection_title {
    @include form-spacing(margin-bottom, $form-space);
  }
}

.gfield_required {
  color: $form-required;
  padding-left: 2px;
}

.ginput_complex label {
  font-weight: normal;
}

.gform_fields {
  margin: 0;
  list-style: none;
}

.gfield {
  @include form-spacing(margin-bottom, $form-space);
}

.gfield_description {
  @include form-font-size(14px);
  font-style: italic;
  color: $grey-600;
}

.validation_message {
  font-style: normal;
}

.gfield_checkbox,
.gfield_radio {
  list-style: none;
  margin: 0;

  li {
    display: inline-block;
    margin: 0 $base-spacing-unit;
  }

  input {
    @include form-spacing(margin-right, 4px);
  }
}

.gfield_radio {
  input[type="text"] {
    width: auto;
    display: inline-block;
  }
}

.ginput_complex {
  .ginput_left {
    width: 49%;
    float: left;
    clear: left;
  }

  .ginput_right {
    width: 49%;
    float: right;
    clear: right;
  }
}

.name_prefix {
  width: 10%;
  float: left;
  margin-right: 1%;
}

.name_first {
  width: 39%;
  float: left;
  margin-right: 1%;
}

.name_last {
  width: 39%;
  float: left;
  margin-right: 1%;
}

.name_suffix {
  width: 9%;
  float: right;
}

input.datepicker_with_icon {
  @include form-spacing(margin-right, $form-space);
  display: inline-block;
  width: auto;
}

.gfield_date_month,
.gfield_date_dropdown_month {
  display: inline-block;
  width: auto;
  margin-right: 1%;
}

.gfield_date_day,
.gfield_date_dropdown_day {
  display: inline-block;
  width: auto;
  margin-right: 1%;
}

.gfield_date_year,
.gfield_date_dropdown_year {
  display: inline-block;
  width: auto;
}

.gfield_time_hour {
  float: left;
  margin-right: 1%;

  input {
    width: inherit;
    display: inline-block;
  }

  label { display: block; }
}

.gfield_time_minute {
  width: 30%;
  float: left;
  margin-right: 1%;
}

.gfield_time_ampm {
  width: 20%;
  float: left;
  margin-right: 1%;
}

.gfield,
.gform_footer {
  clear: both;
}

.gf_left_half {
  width: 49%;
  float: left;
  clear: left;
}

.gf_right_half {
  width: 49%;
  float: right;
  clear: right;
}

.gf_left_third {
  clear: none;
  width: 32.5%;
  float: left;
  margin-right: 1.25%;
}

.gf_middle_third {
  clear: none;
  width: 32.5%;
  float: left;
}

.gf_right_third {
  clear: none;
  width: 32.5%;
  float: right;
}

.gf_inline {
  width: auto;
  display: inline-block;
  margin-right: 1%;
  vertical-align: top;
}

.gf_list_2col li {
  width: 50%;
  float: left;
}

.gf_list_3col li {
  width: 33%;
  float: left;
}

.gf_list_4col li {
  width: 25%;
  float: left;
}

.gf_list_5col li {
  width: 20%;
  float: left;
}

.gf_list_inline li {
  display: inline-block;
  margin-right: 1%;
}

.gf_list_height_25 li {
  height: 25px;
}

.gf_list_height_50 li {
  height: 50px;
}

.gf_list_height_75 li {
  height: 75px;
}

.gf_list_height_100 li {
  height: 100px;
}

.gf_list_height_125 li {
  height: 125px;
}

.gf_list_height_150 li {
  height: 150px;
}

.gfield_list {
  margin: 0;

}

.gfield_list > tbody > tr:nth-child(odd) > td,
.gfield_list > tbody > tr:nth-child(odd) > th {
  @include form-spacing(padding-right, $form-space);
  background: none;
  line-height: normal;
  padding: 0;
  border: 0;
}

.gfield_list > thead > tr > th {
  border: 0;
}

.gf_scroll_text {
  padding: 12px;
  border: 1px solid #cecece;
  height: 180px;
  overflow: auto;

  p:last-of-type {
    margin-bottom: 0;
  }
}

.gf_hide_ampm {
  .gfield_time_ampm {
    display: none;
  }
}

.gf_hide_charleft {
  .charleft {
    display: none;
  }
}

.gf_page_steps {
  @include form-spacing(margin-bottom, $form-space);
  line-height: 1;
}

.gf_step {
  display: inline-block;
  opacity: .2;
  margin-right: 1%;

  &:last-of-type {
    margin-right: 0;
  }
}

.gf_step_active {
  opacity: 1;
}

.gf_step_number {
  font-weight: bold;
  font-size: 150%;
}

.gfield_error {
  padding: $form-space;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-left-color: #d9534f;

  > label,
  .validation_message {
    color: $input-error;
  }

  input,
  textarea,
  select {
    border-color: $input-error;

    &:focus {
      border-color: darken($input-error, 10%);
    }
  }
}

// honeypot field, hide it from human beings
.gform_validation_container {
  display: none;
  position: absolute;
  left: -9000px;
}

.ui-datepicker {
  background: $white;
  border: 1px solid $gray;
}

.ui-datepicker-prev {
  width: 20%;
  float: left;
}

.ui-datepicker-next {
  width: 20%;
  float: right;
}

.ui-datepicker-title {
  width: 60%;
  float: left;

  select {
    width: auto;
    display: inline-block;
  }
}








label {
  color: $input-label;
  font-weight: 700;
}

input[type="text"],
input[type="search"],
input[type="password"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="file"],
textarea,
select {
  @include form-spacing(padding, $form-space);
  background: $input-bg;
  color: $input-color;
  line-height: normal;
  display: block;
  width: 100%;

}

input[type="file"] {
  &:hover { cursor: pointer; }
}

input[type="search"] {
  width: auto;
  display: inline-block;
}

select {
  height: ceil($form-line-height * 1.33);
}

select[multiple],
select[size] {
  height: auto;
}

input[type="checkbox"],
input[type="radio"] {
  width: auto;
  display: inline-block;
}

input[type="submit"],
input[type="reset"],
input[type="button"],
button {
  @include form-spacing(padding, $form-space $form-space * 2);
  @include form-font-size(14px);
  background: $form-button-background;
  color: $form-button-color;
  display: inline-block;
  font-weight: 400;
  text-transform: uppercase;
  border: 0;
  transition: $input-transition;

  &:hover {
    background: $form-button-background-hover;
  }
}












.entry .gform_wrapper form {
  background-color: $grey-50;
}

.gform_body {
  @include padding-space($base-spacing-unit-sm);
}

.entry .gform_wrapper h3.gform_title {
  box-sizing: border-box;
  margin-top: 0;
  margin-bottom: 0;
  padding: 20px;
  border-top-left-radius: $base-radius;
  border-top-right-radius: $base-radius;
  color: #fff;
  background: $grey-500;
}


.ginput_container span {
  display: inline-block;
}



.gform_footer {
  text-align: center;

input[type="submit"] {
  margin-bottom: $base-spacing-unit;
}

}
