/*------------------------------------*\
    #FOOTER
\*------------------------------------*/

.site-info {
  background-color: darken($footer-bg, 10);

  a {
    font-weight: bold;
    color: inherit;
  }
}

.site-footer {
  display: block;
  margin: 0;
  width: 100%;
  text-align: left;
  background-color: $footer-bg;
  color: #fff;

  a {
    color: inherit;
    transition: opacity .3s, border-color .3s;

    &:hover {
      opacity: 0.7;
    }
  }

  @include md {
    .sidebar-col-1 {
        .widget {
          width: 100%;
        }
    }

    .sidebar-col-3, .sidebar-col-2 {
        .widget {
            width: 48.6%;
        }
    }
  }
  @include lg {
    .sidebar-col-3 {
        .widget {
            width: 31%;
        }
    }
  }

}


.sidebar__footer-widgets {
  display: block;
  margin: 0 auto;
  text-align: left;
  width: 100%;
  max-width: 95%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  @include padding-space($base-spacing-unit-sm n n);

  .widget-title {
    color: inherit;
  }

  .widget {
    background-color: $footer-widget-bg;
    border: 0;
    display: inline-block;
    text-align: left;
    vertical-align: top;
    min-width: 300px;
    max-width: 700px;
    width: 100%;
  }

  @include lg {
    max-width: $site-width;
    padding-left: $base-spacing-unit-lg;
    padding-right: $base-spacing-unit-lg;
  }
}

.wrap__footer {
  padding: 10px 0;
}

.credit {
  display: inline-block;
  vertical-align: middle;
}

.menu__social {
  display: inline-block;
  vertical-align: middle;
}

.menu-items__social {
  margin-bottom: 0;
}
