.widget {
    @include padding-space(n $base-spacing-unit-sm $base-spacing-unit-tiny);
    @include margin-space(n n $base-spacing-unit-sm);
    word-wrap: break-word;

    .entry {
        margin: 0;
        padding: 0;
    }

    .entry-content, .entry-header {
        padding-right: 0;
        padding-left: 0;
    }

    &.widget_nav_menu {
        overflow: visible;
    }
}

.widget-title {
    padding: $base-spacing-unit-sm;
    @include margin-space(n $base-spacing-unit-sm * -1 $base-spacing-unit-tiny);
    line-height: 1;
    background-color: $color-primary-dark;
    color: #fff;

    &:before {
        @include font-icon;
        content: $angle-double-right;
        // margin-left: -15px;
        padding-right: $base-spacing-unit-sm;
    }
}

.sidebar {
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    li {
        //border-bottom: 1px dotted $grey-300;
        margin-bottom: 10px;
        padding-bottom: 10px;
    }

    @include lg {
        max-width: $site-width;
    }
}

.sidebar__primary {
    display: block;
    text-align: left;
    width: 100%;
    max-width: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .widget {
        display: inline-block;
        text-align: left;
        vertical-align: top;
        min-width: 290px;
        max-width: 700px;
        width: 100%;

        @include md {
            width: 48.6%;
        }

        @include lg {
            width: 100%;
        }
    }
}

.widget_search {
    background: none;
    border: 0;
    padding: 0;
    align-self: center;

    label {
        padding: 0;
        margin: 0;
    }

    .search-field {
        border-color: #fff;
        background-color: #fff;
    }

    // @include sm-only {
    //     @include padding-space($base-spacing-unit-sm n);
    // }
}
