/*--------------------------------------------------------------
# Buttons
--------------------------------------------------------------*/

.btn-hollow,
input[type="reset"],
input[type="button"] {
    color: $color-links;
    border-color: $color-links;
	border-radius: $base-radius;
}

.btn-hollow:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
    color: #fff;
    background-color: $color-links-hover;
    border-color: $color-links-hover;
}

.btn-hollow:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
.btn-hollow:active,
input[type="button"]:active,
input[type="reset"]:active {
	outline: 0;
	color: #fff;
	background-color: $color-links-hover;
    border-color: $color-links;
	box-shadow: 0 0 0 1px rgba($color-links,0.25);
}

.btn1,
input[type="submit"] {
    color: #fff;
    background-color: $color-links;
	border-radius: $base-radius;
}

.btn1:hover,
input[type="submit"]:hover {
    color: #fff;
	border-color: $color-links-hover;
    background-color: $color-links-hover;
}

.btn1:focus,
input[type="submit"]:focus,
.btn1:active,
input[type="submit"]:active {
	outline: 0;
	background-color: $color-links;
    border-color: $color-links-hover;
	box-shadow: 0 0 0 1px rgba($color-links-hover,0.25);
}

.btn-round {
	border-radius: 50%;
	overflow: hidden;
	height: 2.5rem;
    width: 2.5rem;
	margin-left: 0;
    margin-right: 0;
	padding: 0;

    > i {
        line-height: 2.4rem;
    }
}

.btn-small {
	padding: .5 * $space1 .5 * $space2;
}
