.v-icon {
	width: 1em;
	height: auto;
	vertical-align: -0.15em;
	fill: currentColor;
}

.icon-xs {
	font-size: 1rem;
}

.icon-sm {
	font-size: 1.5rem;
}

.icon-md {
	width: 100%;
	max-width: 90px;
	max-height: 90px;

	svg {
		height: auto;
		width: 100%;
	}
}

.icon-lg {
	width: 100%;
	max-width: 210px;
	max-height: 210px;

	svg {
		height: auto;
		width: 100%;
	}
}

.icon-xl {
	width: 100%;
	max-width: 310px;
	max-height: 310px;

	svg {
		height: auto;
		width: 100%;
	}
}
