/*------------------------------------*\
    #FOOTER
\*------------------------------------*/

.site-info {
    background-color: darken($color-secondary, 20);
    color: $white;
}

.site-footer {
    display: block;
    color: darken($color-secondary, 10);
    margin: 0;
    width: 100%;
    text-align: left;
    background-color: currentColor;

    @include md {
        .sidebar-col-1 {
            .widget {
                width: 100%;
            }
        }

        .sidebar-col-3, .sidebar-col-2 {
            .widget {
                width: 48.6%;
            }
        }
    }

    @include lg {
        .sidebar-col-3 {
            .widget {
                width: 31%;
            }
        }
    }
}

.wrap__footer {
    padding: 10px 0;
}

.credit {
    display: inline-block;
    vertical-align: middle;
}

.menu__social {
    display: inline-block;
    vertical-align: middle;
}

.menu-items__social {
    margin-bottom: 0;
}
