
.v-icon {
    width: 1em;
	height: 1em;
	vertical-align: -0.15em;
	fill: currentColor;
}

.icon-xs {
    max-width: 16px;
    max-height: 16px;
    display: inline-block;
}

.icon-sm {
    max-width : 24px;
    max-height: 24px;
}

.icon-md {
    max-width : 90px;
    max-height: 90px;
}

.icon-lg {
    max-width : 210px;
    max-height: 210px;
}

.icon-xl {
    max-width : 310px;
    max-height: 310px;
}
