/*--------------------------------------------------------------
# Buttons
--------------------------------------------------------------*/

.btn-hollow,
input[type="reset"],
input[type="button"] {
    color: $color1-dark;
    border-color: $color1-dark;
	border-radius: $base-radius;
    background-color: $lighten3;
}

.btn-hollow:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
    color: #fff;
    background-color: $color1-dark;
    border-color: $color1-dark;
}

.btn-hollow:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
.btn-hollow:active,
input[type="button"]:active,
input[type="reset"]:active {
	outline: none;
	color: #fff;
	background-color: $color1-dark;
    border-color: $color1-dark;
	box-shadow: 0 0 0 1px rgba($color1-dark,0.25);
}

.btn-round {
	border-radius: 50%;
	overflow: hidden;
	height: 2.5rem;
    width: 2.5rem;
	margin-left: 0;
    margin-right: 0;
	padding: 0;

    > i {
        line-height: 2.4rem;
    }
}

.btn-small {
	padding: .25rem .5rem;
}

.btn-big {
  padding: 1rem 1.25rem;
  font-size: 1.1rem;
  font-weight: $bold;
}
