/*------------------------------------*\
    #SIDEBAR
\*------------------------------------*/

.sidebar {
    margin-left: auto;
    margin-right: auto;

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    li {
        margin-bottom: 10px;
        padding-bottom: 10px;
    }

    &-primary {
        display: block;
        text-align: left;
        width: 100%;
        max-width: 95%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        @include lg {
            max-width: $site-width;
        }

        &__widget {
            display: inline-block;
            text-align: left;
            vertical-align: top;
            min-width: 290px;
            max-width: 700px;
            width: 100%;

            @include md {
                width: 48.6%;
            }

            @include lg {
                width: 100%;
            }

            &-title {
                background-color: $color-primary-dark;
            }
        }
    }

    &-footer {
        display: block;
        margin: 0 auto;
        text-align: left;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        @include padding-space($base-spacing-unit-sm n n);

        @include lg {
            //max-width: $site-width;
            padding-left: $base-spacing-unit;
            padding-right: $base-spacing-unit;
        }

        .sub-menu {
            right: 100%;
            bottom: 0;
        }

        &__widget {
            background-color: $color-secondary;
            color: $white;
            border: 0;
            display: inline-block;
            text-align: left;
            vertical-align: top;
            min-width: 300px;
            flex: 1;
            margin: 0 $base-spacing-unit-sm;
            width: 100%;

            &-title {
                background-color: darken($color-secondary, 20);
                color: $white;
            }
        }
    }
}

.widget {
    @include padding-space($base-spacing-unit-tiny $base-spacing-unit-sm);
    @include margin-space(n n $base-spacing-unit-sm);
    word-wrap: break-word;
    background-color: #fff;

    .entry {
        margin: 0;
        padding: 0;
    }

    .entry-content, .entry-header {
        padding-right: 0;
        padding-left: 0;
    }

    &.widget_nav_menu {
        overflow: visible;
    }

    &-title {
        padding: $base-spacing-unit-sm;
        @include margin-space($base-spacing-unit-tiny * -1 $base-spacing-unit-sm * -1 $base-spacing-unit-tiny);
        line-height: 1;
        color: #fff;
          text-transform: capitalize;

        &:before {
            @include font-icon;
            content: $angle-double-right;
            padding-right: $base-spacing-unit-sm;
        }
    }

    &_search {
        background: none;
        border: 0;
        padding: 0;
        align-self: center;

        label {
            padding: 0;
            margin: 0;
        }

        .search-field {
            border-color: #fff;
            background-color: #fff;
        }
    }
}
