
.v-icon {
    width: 100%;
}

.icon-sm {
    max-width : 24px;
    max-height: 24px;
}

.icon-md {
    max-width : 90px;
    max-height: 90px;
}

.icon-lg {
    max-width : 210px;
    max-height: 210px;
}

.icon-xl {
    max-width : 310px;
    max-height: 310px;
}
