// /*------------------------------------*\
//     #GLOBAL
// \*------------------------------------*/

$base-font-size: 16px;
$base-line-height: $base-font-size * 1.5;

$base-radius: 2px;

$base-transition-speed: 0.3s;

$site-width: 1280px;

$base-spacing-unit: $base-line-height;
$base-spacing-unit-tiny: round($base-spacing-unit * 0.444);
$base-spacing-unit-sm: round($base-spacing-unit / 1.5);
$base-spacing-unit-lg: round($base-spacing-unit * 1.5);
$base-spacing-unit-xl: round($base-spacing-unit * 2.25);

$font-body: "Roboto", sans-serif;
$font-heading: 'Raleway', sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
