/*------------------------------------*\
    #THEME-COLORS
\*------------------------------------*/


.t-primary-base {
    color: $color-primary;
}

.t-primary-light {
    color: $color-primary-light;
}

.t-primary-dark {
    color: $color-primary-dark;
}

.t-white {
    color: $white;
}

.t-black {
    color: $black;
}
