/*------------------------------------*\
#HELPERS
\*------------------------------------*/
.hidden {
	display: none;
	visibility: hidden;
}

@include sm {
	.hidden-sm {
		display: none;
		visibility: hidden;
	}
}

@include md {
	.hidden-md {
		display: none;
		visibility: hidden;
	}
}

@include lg {
	.hidden-lg {
		display: none;
		visibility: hidden;
	}
}

.screen-reader-text,
.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

.clear:before,
.clear:after {
	content: "";
	display: table;
}

.clear:after {
	clear: both;
}

.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin: 0 auto;
}

.disabled {
	pointer-events: none;
	cursor: default;
	opacity: 0.5;
}

.u-shadow0 {
	box-shadow: none;
}

.u-shadow1 {
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.u-shadow2 {
	box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
}

.u-shadow3 {
	box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
}

.u-shadow4 {
	box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.u-shadow5 {
	box-shadow: 0 9px 46px 8px rgba(0, 0, 0, 0.14), 0 11px 15px -7px rgba(0, 0, 0, 0.12), 0 24px 38px 3px rgba(0, 0, 0, 0.2);
}

.u-shadow--2dp {
	@extend .u-shadow1;
}

.u-shadow--3dp {
	@extend .u-shadow2;
}

.u-shadow--4dp {
	@extend .u-shadow2;
}

.u-shadow--6dp {
	@extend .u-shadow3;
}

.u-shadow--8dp {
	@extend .u-shadow3;
}

.u-shadow--16dp {
	@extend .u-shadow4;
}

.u-shadow--24dp {
	@extend .u-shadow5;
}
