

.u-fit {
    max-width  : 100%;
    white-space: normal;
}

.u-max-width {
    max-width: $container-wide;
}

.u-max-center {
    max-width: $container-wide;
    margin-left: auto;
    margin-right: auto;
}

.u-width-auto {
    width: auto;
}

.u-1of1 {
    width: 100%;
}

.u-1of2 {
    width: calc(1 / 2 * 100% - #{$gutter});
}

.u-1of3 {
    width: calc(1 / 3 * 100% - #{$gutter});
}

.u-2of3 {
    width: calc(2 / 3 * 100% - #{$gutter});
}

.u-1of4 {
    width: calc(1 / 4 * 100% - #{$gutter});
}

.u-3of4 {
    width: calc(3 / 4 * 100% - #{$gutter});
}

.u-1of5 {
    width: calc(1 / 5 * 100% - #{$gutter});
}

.u-2of5 {
    width: calc(2 / 5 * 100% - #{$gutter});
}

.u-3of5 {
    width: calc(3 / 5 * 100% - #{$gutter});
}

.u-4of5 {
    width: calc(4 / 5 * 100% - #{$gutter});
}

@include md {
    .u-1of1-md {
        width: 100%;
    }

    .u-1of2-md {
        width: calc(50% - #{$gutter});
    }

    .u-1of3-md {
        width: calc(1 / 3 * 100% - #{$gutter});
    }

    .u-2of3-md {
        width: calc(2 / 3 * 100% - #{$gutter});
    }

    .u-1of4-md {
        width: calc(1 / 4 * 100% - #{$gutter});
    }

    .u-3of4-md {
        width: calc(3 / 4 * 100% - #{$gutter});
    }

    .u-1of5-md {
        width: calc(1 / 5 * 100% - #{$gutter});
    }

    .u-2of5-md {
        width: calc(2 / 5 * 100% - #{$gutter});
    }

    .u-3of5-md {
        width: calc(3 / 5 * 100% - #{$gutter});
    }

    .u-4of5-md {
        width: calc(4 / 5 * 100% - #{$gutter});
    }

    .u-width-auto-md {
        width: auto;
    }
}

@include lg {
    .u-1of1-lg {
        width: 100%;
    }

    .u-1of2-lg {
        width: calc(50% - #{$gutter});
    }

    .u-1of3-lg {
        width: calc(1 / 3 * 100% - #{$gutter});
    }

    .u-2of3-lg {
        width: calc(2 / 3 * 100% - #{$gutter});
    }

    .u-1of4-lg {
        width: calc(1 / 4 * 100% - #{$gutter});
    }

    .u-3of4-lg {
        width: calc(3 / 4 * 100% - #{$gutter});
    }

    .u-1of5-lg {
        width: calc(1 / 5 * 100% - #{$gutter});
    }

    .u-2of5-lg {
        width: calc(2 / 5 * 100% - #{$gutter});
    }

    .u-3of5-lg {
        width: calc(3 / 5 * 100% - #{$gutter});
    }

    .u-4of5-lg {
        width: calc(4 / 5 * 100% - #{$gutter});
    }
}

@include sm {
    .u-1of1-sm {
        width: 100%;
    }
}
