// /*------------------------------------*\
// 	#COLORS
// \*------------------------------------*/

// Greys

$grey-500:          #9E9E9E;

$grey-50:           lighten($grey-500, 50);
$grey-100:          lighten($grey-500, 40);
$grey-200:          lighten($grey-500, 30);
$grey-300:          lighten($grey-500, 20);
$grey-400:          lighten($grey-500, 10);
$grey-600:          darken($grey-500, 10);
$grey-700:          darken($grey-500, 20);
$grey-800:          darken($grey-500, 30);
$grey-900:          darken($grey-500, 50);


// Reds

$red-500:          #F44336;

$red-50:           lighten($red-500, 50);
$red-100:          lighten($red-500, 40);
$red-200:          lighten($red-500, 30);
$red-300:          lighten($red-500, 20);
$red-400:          lighten($red-500, 10);
$red-600:          darken($red-500, 10);
$red-700:          darken($red-500, 20);
$red-800:          darken($red-500, 30);
$red-900:          darken($red-500, 50);


// Blues

$blue-500:          #0074D9;

$blue-50:           lighten($blue-500, 50);
$blue-100:          lighten($blue-500, 40);
$blue-200:          lighten($blue-500, 30);
$blue-300:          lighten($blue-500, 20);
$blue-400:          lighten($blue-500, 10);
$blue-600:          darken($blue-500, 10);
$blue-700:          darken($blue-500, 20);
$blue-800:          darken($blue-500, 30);
$blue-900:          darken($blue-500, 50);

// Blue Greys

$blue-grey-500:          #607D8B;

$blue-grey-50:           lighten($blue-grey-500, 50);
$blue-grey-100:          lighten($blue-grey-500, 40);
$blue-grey-200:          lighten($blue-grey-500, 30);
$blue-grey-300:          lighten($blue-grey-500, 20);
$blue-grey-400:          lighten($blue-grey-500, 10);
$blue-grey-600:          darken($blue-grey-500, 10);
$blue-grey-700:          darken($blue-grey-500, 20);
$blue-grey-800:          darken($blue-grey-500, 30);
$blue-grey-900:          darken($blue-grey-500, 50);

// Greens

$green-500:          #4CAF50;

$green-50:           lighten($green-500, 50);
$green-100:          lighten($green-500, 40);
$green-200:          lighten($green-500, 30);
$green-300:          lighten($green-500, 20);
$green-400:          lighten($green-500, 10);
$green-600:          darken($green-500, 10);
$green-700:          darken($green-500, 20);
$green-800:          darken($green-500, 30);
$green-900:          darken($green-500, 50);


// Yellows

$yellow-500:          #FFEB3B;

$yellow-50:           lighten($yellow-500, 50);
$yellow-100:          lighten($yellow-500, 40);
$yellow-200:          lighten($yellow-500, 30);
$yellow-300:          lighten($yellow-500, 20);
$yellow-400:          lighten($yellow-500, 10);
$yellow-600:          darken($yellow-500, 10);
$yellow-700:          darken($yellow-500, 20);
$yellow-800:          darken($yellow-500, 30);
$yellow-900:          darken($yellow-500, 50);


// Indigo

$indigo-500:          #3F51B5;

$indigo-50:           lighten($indigo-500, 50);
$indigo-100:          lighten($indigo-500, 40);
$indigo-200:          lighten($indigo-500, 30);
$indigo-300:          lighten($indigo-500, 20);
$indigo-400:          lighten($indigo-500, 10);
$indigo-600:          darken($indigo-500, 10);
$indigo-700:          darken($indigo-500, 20);
$indigo-800:          darken($indigo-500, 30);
$indigo-900:          darken($indigo-500, 50);


// Teal

$teal-500:          #009688;

$teal-50:           lighten($teal-500, 50);
$teal-100:          lighten($teal-500, 40);
$teal-200:          lighten($teal-500, 30);
$teal-300:          lighten($teal-500, 20);
$teal-400:          lighten($teal-500, 10);
$teal-600:          darken($teal-500, 10);
$teal-700:          darken($teal-500, 20);
$teal-800:          darken($teal-500, 30);
$teal-900:          darken($teal-500, 50);


// Orange

$orange-500:          #FF9800;

$orange-50:           lighten($orange-500, 50);
$orange-100:          lighten($orange-500, 40);
$orange-200:          lighten($orange-500, 30);
$orange-300:          lighten($orange-500, 20);
$orange-400:          lighten($orange-500, 10);
$orange-600:          darken($orange-500, 10);
$orange-700:          darken($orange-500, 20);
$orange-800:          darken($orange-500, 30);
$orange-900:          darken($orange-500, 50);


// Black and White

$black:             #000000;
$white:             #ffffff;


// Brand

$color-primary:         	$blue-500;
$color-primary-light:     lighten($color-primary, 10);
$color-primary-dark:      darken($color-primary, 10);
$color-secondary:       	$green-800;


// Accents

$color-grey-ui: 			$grey-400;


// Text

$color-text-light:        $grey-500;
$color-text:              $grey-900;
$color-headings:          $grey-600;

$color-text-light-hover:  $grey-700;

$color-links:         $color-primary-dark;
$color-links-hover:   $color-primary-light;
$color-links-active:  $color-primary;



// Objects

// Sections
$color-header: 				$color-primary;

// Buttons
$btn-text:            #fff;
$btn-bg:              $color-primary;
$btn-bg-hover:        $color-primary-light;
$btn-bg-active:       $color-primary-dark;
$btn-primary-bg:      $color-primary;
$btn-primary-text:    #fff;


$color-hr: 					$color-grey-ui;

//Alerts
$color-error:  				$red-400;
$color-valid: 				$green-400;
$color-warning: 			$yellow-400;
$color-information: 		$blue-400;





// Helpers

$color-black: 				$grey-900;
$color-grey-darker: 		$grey-800;
$color-grey-dark: 			$grey-600;
$color-gray: 				$grey-500;
$color-grey-light: 			$grey-400;
$color-grey-lighter: 		$grey-200;
$color-grey-lightest: 		$grey-50;





$color-white: 				#fff;



// Formats

$format-standard:     $indigo-300;
$format-image:        $teal-300;
$format-gallery:      $yellow-300;
$format-video:        $red-300;
$format-quote:        $green-300;
$format-audio:        $green-300;

// Sections

$footer-bg:   $color-primary;
$footer-widget-bg: $color-primary-light;
