/* #BORDERS
\*------------------------------------*/
$border-width: 1px;
$border-color: $color-grey;

.u-border {
	border-style: solid;
	border-width: $border-width;
	border-color: $border-color;
}

.u-border-t {
	border-top-style: solid;
	border-top-width: $border-width;
	border-top-color: $border-color;
}

.u-border-r {
	border-right-style: solid;
	border-right-width: $border-width;
	border-right-color: $border-color;
}

.u-border-b {
	border-bottom-style: solid;
	border-bottom-width: $border-width;
	border-bottom-color: $border-color;
}

.u-border-l {
	border-left-style: solid;
	border-left-width: $border-width;
	border-left-color: $border-color;
}

.u-border0 {
	border: 0;
}

.u-br {
	border-radius: $base-radius;
}

.u-br0 {
	border-radius: 0;
}

.u-round {
	border-radius: 50%;
}

.u-br-t {
	border-radius: $base-radius $base-radius 0 0;
}

.u-br-r {
	border-radius: 0 $base-radius $base-radius 0;
}

.u-br-b {
	border-radius: 0 0 $base-radius $base-radius;
}

.u-br-l {
	border-radius: $base-radius 0 0 $base-radius;
}
