/*------------------------------------*\
    #HEADINGS
\*------------------------------------*/
.u-h0 {
    font-size: $jumbo;
}

.u-h1 {
    font-size: $h1;
}

.u-h2 {
    font-size: $h2;
}

.u-h3 {
    font-size: $h3;
}

.u-h4 {
    font-size: $h4;
}

.u-h5 {
    font-size: $h5;
}

.u-h6 {
    font-size: $h6;
}
