// /*------------------------------------*\
// 	#COLOR VARIABLES
// \*------------------------------------*/


$base-blue:             #118ef2;
$base-grey:             #858585;
$base-blue-grey:        #6e8895;
$base-cyan:             #29c7dc;
$base-teal:             #4db6ac;
$base-green:            #1ce884;
$base-indigo:           #4659bf;
$base-red:              #ff0636;
$base-yellow:           #ffe504;
$base-orange:           #ff9e03;
$base-brown:            #a27463;

$black:                 #000000;
$white:                 #ffffff;




// Greys

$grey-50:               lighten($base-grey, 45);
$grey-100:              lighten($base-grey, 40);
$grey-200:              lighten($base-grey, 30);
$grey-300:              lighten($base-grey, 20);
$grey-400:              lighten($base-grey, 10);
$grey-500:              $base-grey;
$grey-600:              darken($base-grey, 10);
$grey-700:              darken($base-grey, 20);
$grey-800:              darken($base-grey, 30);
$grey-900:              darken($base-grey, 40);




// Reds

$red-100:               lighten($base-red, 40);
$red-200:               lighten($base-red, 30);
$red-300:               lighten($base-red, 20);
$red-400:               lighten($base-red, 10);
$red-500:               $base-red;
$red-600:               darken($base-red, 10);
$red-700:               darken($base-red, 20);
$red-800:               darken($base-red, 30);
$red-900:               darken($base-red, 40);




// Blues

$blue-100:              lighten($base-blue, 40);
$blue-200:              lighten($base-blue, 30);
$blue-300:              lighten($base-blue, 20);
$blue-400:              lighten($base-blue, 10);
$blue-500:              $base-blue;
$blue-600:              darken($base-blue, 10);
$blue-700:              darken($base-blue, 20);
$blue-800:              darken($base-blue, 30);
$blue-900:              darken($base-blue, 40);




// Blue Greys

$blue-grey-100:         lighten($base-blue-grey, 40);
$blue-grey-200:         lighten($base-blue-grey, 30);
$blue-grey-300:         lighten($base-blue-grey, 20);
$blue-grey-400:         lighten($base-blue-grey, 10);
$blue-grey-500:         $base-blue-grey;
$blue-grey-600:         darken($base-blue-grey, 10);
$blue-grey-700:         darken($base-blue-grey, 20);
$blue-grey-800:         darken($base-blue-grey, 30);
$blue-grey-900:         darken($base-blue-grey, 40);




// Greens

$green-100:             lighten($base-green, 40);
$green-200:             lighten($base-green, 30);
$green-300:             lighten($base-green, 20);
$green-400:             lighten($base-green, 10);
$green-500:             $base-green;
$green-600:             darken($base-green, 10);
$green-700:             darken($base-green, 20);
$green-800:             darken($base-green, 30);
$green-900:             darken($base-green, 40);




// Yellows

$yellow-100:            lighten($base-yellow, 40);
$yellow-200:            lighten($base-yellow, 30);
$yellow-300:            lighten($base-yellow, 20);
$yellow-400:            lighten($base-yellow, 10);
$yellow-500:            $base-yellow;
$yellow-600:            darken($base-yellow, 10);
$yellow-700:            darken($base-yellow, 20);
$yellow-800:            darken($base-yellow, 30);
$yellow-900:            darken($base-yellow, 40);




// Indigos

$indigo-100:            lighten($base-indigo, 40);
$indigo-200:            lighten($base-indigo, 30);
$indigo-300:            lighten($base-indigo, 20);
$indigo-400:            lighten($base-indigo, 10);
$indigo-500:            $base-indigo;
$indigo-600:            darken($base-indigo, 10);
$indigo-700:            darken($base-indigo, 20);
$indigo-800:            darken($base-indigo, 30);
$indigo-900:            darken($base-indigo, 40);




// Teals

$teal-100:              lighten($base-teal, 40);
$teal-200:              lighten($base-teal, 30);
$teal-300:              lighten($base-teal, 20);
$teal-400:              lighten($base-teal, 10);
$teal-500:              $base-teal;
$teal-600:              darken($base-teal, 10);
$teal-700:              darken($base-teal, 20);
$teal-800:              darken($base-teal, 30);
$teal-900:              darken($base-teal, 40);




// Oranges

$orange-100:            lighten($base-orange, 40);
$orange-200:            lighten($base-orange, 30);
$orange-300:            lighten($base-orange, 20);
$orange-400:            lighten($base-orange, 10);
$orange-500:            $base-orange;
$orange-600:            darken($base-orange, 10);
$orange-700:            darken($base-orange, 20);
$orange-800:            darken($base-orange, 30);
$orange-900:            darken($base-orange, 40);




// Browns

$brown-100:             lighten($base-brown, 40);
$brown-200:             lighten($base-brown, 30);
$brown-300:             lighten($base-brown, 20);
$brown-400:             lighten($base-brown, 10);
$brown-500:             $base-brown;
$brown-600:             darken($base-brown, 10);
$brown-700:             darken($base-brown, 20);
$brown-800:             darken($base-brown, 30);
$brown-900:             darken($base-brown, 40);




// Cyans

$cyan-100:              lighten($base-cyan, 40);
$cyan-200:              lighten($base-cyan, 30);
$cyan-300:              lighten($base-cyan, 20);
$cyan-400:              lighten($base-cyan, 10);
$cyan-500:              $base-cyan;
$cyan-600:              darken($base-cyan, 10);
$cyan-700:              darken($base-cyan, 20);
$cyan-800:              darken($base-cyan, 30);
$cyan-900:              darken($base-cyan, 40);
