/* #TYPOGRAPHY UTILITY
\*------------------------------------*/

.u-text-display {
	font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Liberation Serif", Georgia, "Times New Roman", serif;
	font-weight: normal;
}

.u-small {
	font-size: 80%;
}

.u-f1 {
	font-size: 1rem;
}

.u-f-minus {
	font-size: 0.9rem;
}

.u-f-plus {
	font-size: 1.1rem;
}

.u-h0 {
    font-size: $jumbo;
}

.u-h1 {
    font-size: $h1;
}

.u-h2 {
    font-size: $h2;
}

.u-h3 {
    font-size: $h3;
}

.u-h4 {
    font-size: $h4;
}

.u-h5 {
    font-size: $h5;
}

.u-h6 {
    font-size: $h6;
}

.u-lh-1 {
	line-height: 1;
}

.u-lh-2 {
	line-height: 2;
}

.u-bold {
	font-weight: 700;
}

.u-regular,
.u-normal {
	font-weight: 400;
}

.u-italic {
	font-style: italic;
}

.u-caps {
	text-transform: uppercase;
	letter-spacing: 0.2em;
}

.u-text-shadow {
	text-shadow: 1px 1px 5px rgba($color-text-dark, 0.6);
}

.u-text-left {
	text-align: left;
}

.u-text-center {
	text-align: center;
}

.u-text-right {
	text-align: right;
}

.u-text-justify {
	text-align: justify;
}

.u-nowrap {
	white-space: nowrap;
}

.u-break-word {
	word-wrap: break-word;
}

.u-truncate {
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.u-lead {
	font-size: 1.2rem;
	opacity: 0.8;
}

.u-dropcap:first-letter {
	float: left;
	margin: 0;
	padding: 0.1rem 0.125rem 0 0;
	font-size: 4rem;
	font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
	line-height: 0.7;
	text-indent: 0;
	margin-left: -0.2rem;
	background: transparent;
	color: inherit;
	opacity: 0.6 !important;

	//color: inherit;
}

.u-list-reset {
	list-style: none;

	> ul,
	> li {
		list-style: none;
		padding-left: 0;
		margin-left: 0;
	}
}
