.custom-header-media > source,
.custom-header-media > img {
	height: auto;
	min-height: 100%;
	left: 0;
	object-fit: cover;
	top: 0;
	-ms-transform: none;
	-moz-transform: none;
	-webkit-transform: none;
	transform: none;
	width: 100%;
	position: fixed;
}

.home .section-row__content.tile-row {
	padding-top: 7.5rem;
}

/*.site-wrap {
	padding-top: 0;
	min-height: 64.9vh;
}*/

.archive-header {
	margin-top: 3.5rem;
}

.archive-header {
	color: #fff;
}

.custom-header-media::after {
	content: '';
	height: 100vh;
	width: 100%;
	position: absolute;
	top: 0;
	background-image: linear-gradient(to bottom, #000, rgba(0, 0, 0, 0.4) 25vh, rgba(255, 255, 255, 0));
	opacity: .5;
}
