

/* Custom media queries */
@custom-media --sm (max-width: 47em);
@custom-media --md (min-width: 48em);
@custom-media --lg (min-width: 62em);

/* sanitize.css vars */
:root {
	--root-background-color: #fff;

	--root-box-sizing: border-box;

	--root-color: var(--color-grey-ui-dark);

	--root-cursor: default;

	--root-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Liberation Sans", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

	--root-font-size: 100%;

	--root-line-height: 1.6;

	--background-repeat: no-repeat;

	--form-element-background-color: color(var(--color-grey-ui-light) a(80%));

	--form-element-color: var(--root-color);

	--form-element-min-height: 2.5rem;

	--media-element-vertical-align: middle;

	--monospace-font-family: Menlo, Consolas, Liberation Mono;

	--selection-background-color: #b3d4fc;

	--selection-text-shadow: none;

	--small-font-size: 75%;

	--table-border-collapse: collapse;

	--table-border-spacing: 0;

	--paragraph-width: 64rem;
	--container: 74rem;
	--container-wide: 84rem;

	--h0: 4.4rem;
	--h1: 3rem;
	--h2: 2.5rem;
	--h3: 2rem;
	--h4: 1.5rem;
	--h5: 1.25rem;
	--h6: 0.9rem;

	--h0-mobile: 2.5rem;
	--h1-mobile: 2rem;
	--h2-mobile: 1.75rem;
	--h3-mobile: 1.5rem;
	--h4-mobile: 1.25rem;
	--h5-mobile: 1.1rem;
	--h6-mobile: 0.9rem;

	--space-1: 0.5rem;
	--space-2: 1rem;
	--space-3: 1.5rem;
	--space-4: 2.5rem;
	--space-5: 3.5rem;
	--gutter: var(--space-3);
	--gutter-mobile: var(--space-2);

	--font-bold: 700;
	--border-radius: 0.2rem;

	--transition-time: 0.3s;
	--animation-curve: cubic-bezier(0.4, 0, 0.2, 1);

	--opacity: 0.8;

	/* Cool */
	--aqua: #7fdbff;
	--blue: #0074d9;
	--navy: #001f3f;
	--teal: #39cccc;
	--green: #2ecc40;
	--olive: #3d9970;
	--lime: #01ff70;

	/* Warm */
	--yellow: #ffdc00;
	--orange: #ff851b;
	--red: #ff4136;
	--fuchsia: #f012be;
	--purple: #b10dc9;
	--maroon: #85144b;

	/* Grey */
	--white: #fff;
	--silver: #edeff3;
	--grey: #aaa;
	--blue-grey: #678695;
	--grey-nuetral: #90a4ae;
	--black: #111;

	--color-info: var(--aqua);
	--color-success: var(--olive);
	--color-warning: var(--red);

	--color-info-light: color(var(--aqua) lightness(+22%));
	--color-info-dark: color(var(--aqua) lightness(-50%));
	--color-success-light: color(var(--olive) lightness(+50%));
	--color-success-dark: color(var(--olive) lightness(-15%));
	--color-warning-light: color(var(--red) lightness(+35%));
	--color-warning-dark: color(var(--red) lightness(-30%));

	--color-1: var(--blue);
	--color-1-light: color(var(--color-1) lightness(+20%));
	--color-1-dark: color(var(--color-1) lightness(-20%));

	--color-2: var(--olive);
	--color-2-light: color(var(--color-2) lightness(+20%));
	--color-2-dark: color(var(--color-2) lightness(-20%));

	--color-links: color(var(--aqua) lightness(-45%));
	--color-links-hover: color(var(--aqua) lightness(-32%));
	--color-links-active: color(var(--aqua) lightness(-40%));

	--color-grey-ui: color(var(--blue-grey) lightness(+20%));
	--color-grey-ui-light: color(var(--blue-grey) lightness(+45%));
	--color-grey-ui-dark: color(var(--blue-grey) lightness(-25%));

	--color-frost-1: color(var(--color-grey-ui-light) a(0.15));
	--color-frost-2: color(var(--color-grey-ui-light) a(0.3));
	--color-frost-3: color(var(--color-grey-ui-light) a(0.6));
	--color-frost-4: color(var(--color-grey-ui-light) a(0.9));

	--color-tint-1: color(var(--color-grey-ui-dark) a(0.15));
	--color-tint-2: color(var(--color-grey-ui-dark) a(0.3));
	--color-tint-3: color(var(--color-grey-ui-dark) a(0.6));
	--color-tint-4: color(var(--color-grey-ui-dark) a(0.9));

	/* Box Shadows */
	--shadow-1: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);

	--shadow-2: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);

	--shadow-3: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);

	--shadow-4: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);

	--shadow-5: 0 9px 46px 8px rgba(0, 0, 0, 0.14), 0 11px 15px -7px rgba(0, 0, 0, 0.12), 0 24px 38px 3px rgba(0, 0, 0, 0.2);
}
