/* #LINKS
\*------------------------------------ */

a {
	color: var(--color-links);
	text-decoration: none;
	font-weight: 600;
	letter-spacing: 0.02em;
	vertical-align: top;
	transition-duration: var(--transition-time);
	transition-timing-function: var(--animation-curve);
	transition-property: all;
	border-radius: var(--border-radius);
	box-shadow: inset 0 -1px 0 0 color(var(--color-grey-ui) a(40%));

	&:hover {
		color: var(--color-links-hover);
		background-color: color(var(--color-grey-ui) a(20%));
		transition-duration: var(--transition-time-out);
		transition-timing-function: var(--animation-curve-out);
	}

	&.active,
	&:active {
		color: var(--color-links-active);
		background-color: color(var(--color-grey-ui) a(40%));
	}
}

a::before,
a::after {
	background-size: contain;
	min-width: 1em;
	line-height: 1;
	width: 1em;
	height: 1em;
	vertical-align: inherit;
}

a::before {
	margin-right: 0.2em;
	margin-left: 0.3em;
}

a::after {
	margin-right: 0.3em;
	margin-left: 0.2em;
}

article:not(.arch-no-link-title) .entry-title {
    padding: 0;
}

.entry-title {
	> a {
		width: 100%;
		display: inline-flex;
		align-items: center;
		padding: 0.75rem;
	}
	.icon-sm {
		margin-left: auto;
	}
}

[class*="u-bg-1"] a,
[class*="u-bg-2"] a {
	color: inherit;
}

/*a[class] {
	color: inherit;
}*/

li > a,
h1 > a,
h2 > a,
h3 > a {
	box-shadow: none;
}
