/* #PAGE
\*------------------------------------ */

* {
	flex-basis: auto;
	flex-grow: 0;
	flex-shrink: 1;
}

/* specify the root styles of the document */
html {
	background-color: var(--root-background-color);
	box-sizing: var(--root-box-sizing);
	color: var(--root-color);
	cursor: var(--root-cursor);
	font-size: var(--root-font-size);
	line-height: var(--root-line-height);
	font-family: var(--root-font-family);
}

body {
	font-family: inherit;

	@media (--sm) {
		font-size: 0.95rem;
	}
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary,
legend {
	display: block;
	position: relative;
}

.site {
	max-width: 100%;
	width: 100%;
	overflow-x: hidden;
	word-wrap: break-word;
}

hr {
	margin-top: var(--space-3);
	margin-bottom: var(--space-3);
	border: 0;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: var(--grey-nuetral);
}

article p,
article ul,
article ol {
	max-width: var(--paragraph-width);
	margin-left: auto;
	margin-right: auto;
}

article ul {
	list-style-type: disc;
	padding-left: var(--space-4);
}

article ol {
	list-style-type: upper-roman;
	padding-left: var(--space-4);

	li {
		padding-left: 0.5rem;
	}
}

article h1,
article h2,
article h3,
article h4,
article h5,
article h6 {
	max-width: var(--paragraph-width);
	margin-left: auto;
	margin-right: auto;
}

/* Embedded content
========================================================================== */
canvas {
	-ms-touch-action: double-tap-zoom;
}

iframe[src*="google.com/maps"] {
	width: 100%;
	max-width: 100%;
}

::-webkit-input-placeholder {
	color: inherit;
	opacity: 0.54;
}
