/* #IMAGES
\*------------------------------------ */

img {
	max-width: 100%;
	height: auto;
}

svg {
	max-height: 100%;
}

.taxonomy-agency .thumbnail {
	max-width: 100px;

	@media (--md) {
		max-width: 130px;
	}
}

a > img {
	transition-duration: var(--transition-time);
	transition-timing-function: var(--animation-curve);
	transition-property: opacity;
	backface-visibility: hidden;

	&:hover {
		opacity: var(--opacity);
	}
}
