/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
form {
	margin-bottom: var(--space-2);
}

input,
select,
textarea {
	font-size: 1rem;
	vertical-align: middle;
	border: 1px solid color(var(--color-grey-ui) a(50%));
	padding: 0 var(--space-1);
	max-width: 100%;
	margin-bottom: var(--space-2);
	border-radius: var(--border-radius);
	transition-duration: var(--transition-time);
	transition-timing-function: var(--animation-curve);
	transition-property: color, background-color, border-color;

	&:focus {
		outline: 0;
		background-color: color(#fff a(95%));
		border-color: var(--color-links-hover);
	}
}

legend {
	font-size: 1.25rem;
	font-weight: 700;
}

textarea {
	display: block;
	width: 100%;
}

label {
	font-size: 0.875rem;
	font-weight: 700;
	display: block;
	margin-bottom: var(--space-1);
}

input[type=checkbox],
input[type=radio] {
	display: inline-block;
	vertical-align: middle;
	margin: 0 var(--space-1) 0 0;
}

select {
	@mixin icon select-arrows, #678695;
	background-size: 1em;
	background-position: 98% 50%;
	padding-right: 1.5em;
}

input[type=search] {
	@mixin icon search, #678695;
	background-size: 1.4em;
	background-position: 97% 50%;
	padding-right: 1.5em;
}

.search-form .search-submit {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	min-height: 0;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

input[value=Other]:not(:focus) {
	color: color(var(--root-color) a(50%));
}
