/* #IMAGES
\*------------------------------------ */

img {
	max-width: 100%;
	height: auto;
}

svg {
	max-height: 100%;
}

.taxonomy-agency .thumbnail {
	max-width: 100px;

	@media (--md) {
		max-width: 130px;
	}
}
