
#menu-primary {
	display: none;
}

@media (--lg) {

	#menu-primary {
		display: inline-block;
	}

	#nav_menu-5 {
		display: none;
	}
}


@media (--sm) {

}

@media (--md) {

	.arch-flag:not(.arch-none) > .portrait {
	    height: calc(150px + 5vw);
		width: calc(90px + 5vw);
	}
}

@media (--lg) {

	.arch-flag:not(.arch-none) > .portrait {
	    height: calc(140px + 5vw);
		width: calc(90px + 5vw);
	}
}

@media (--xl) {

	.arch-flag:not(.arch-none) > .portrait {
	    height: calc(92px + 5vw);
	}
}

.entry-title {
    width: 100%;
}

.singular-parish .gv-list-view {
    max-width: calc(33.33% - 1.5rem);
}
