
#menu-primary {
	display: none;
}

@media (--lg) {

	#menu-primary {
		display: inline-block;
	}

	#nav_menu-5 {
		display: none;
	}
}




.entry-title {
    width: 100%;
}

.singular-parish .gv-list-view {
    max-width: calc(33.33% - 1.5rem);
}
