/* #BORDERS
\*------------------------------------ */

.u-border {
	border-width: 1px;
	border-style: solid;
	border-color: currentColor;
}

.u-border-t {
	border-top-width: 1px;
}

.u-border-r {
	border-right-width: 1px;
}

.u-border-b {
	border-bottom-width: 1px;
}

.u-border-l {
	border-left-width: 1px;
}

.u-border0 {
	border: 0;
}

.u-br {
	border-radius: var(--border-radius);
}

.u-br0 {
	border-radius: 0;
}

.u-round {
	border-radius: 50%;
}

.u-br-t {
	border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.u-br-r {
	border-radius: 0 var(--border-radius) var(--border-radius) 0;
}

.u-br-b {
	border-radius: 0 0 var(--border-radius) var(--border-radius);
}

.u-br-l {
	border-radius: var(--border-radius) 0 0 var(--border-radius);
}
