.btn,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	color: inherit;
	background-color: transparent;
	transition-duration: $transition-time;
	transition-timing-function: $animation-base;
	transition-property: all;
	padding: 0.5em 0.75em;
	line-height: 1.5;
	border-width: 0;
	border-radius: $border-radius;
	font-size: inherit;
	font-family: inherit;
	display: inline-block;
	margin: 0;
	word-break: normal;
	vertical-align: middle;
	cursor: pointer;
	box-shadow: none;

	&:hover,
	&:active,
	&:focus,
	&.is-active {
		box-shadow: inset 0 0 0 20rem $color-frost-2;
		transition-duration: $transition-time-slow;
		transition-timing-function: $animation-enter;
	}
}
