/* #BREADCRUMBS
\*------------------------------------*/
.breadcrumbs {

    //text-transform: uppercase;
    li {
        display: inline-block;
        + li:before {
            content: "\E5CC";
            opacity: $opacity;
            padding: $space1;
            font-family: 'Material Icons';
            vertical-align: middle;
            @include rem(font-size, 24px);
        }
    }

    a {
        color: inherit;
    }
}

.trail-end span {
    display: none;
}
