/* #BUTTONS
\*------------------------------------*/

// Raised buttons
input[type="button"],
input[type="reset"],
input[type="submit"],
.btn--default {
  background: $color-1;
  color: white;
  //@include shadow-2dp();

  &:active,
  &:hover {
    //@include shadow-4dp();
    background-color: $color1-light;
  }

  &:focus:not(:active) {
    //@include focus-shadow();
    background-color: $color1-light;
  }

  &.button--colored {
    background: $color-3;
    color: white;

    &:hover {
      background-color: $color3-light;
    }

    &:active, &.active, &:focus {
      background-color: $color3-dark;
    }

    & .ripple {
      background: $button-ripple-color-alt;
    }
  }

  // Bump up specificity by using [disabled] twice.
  &[disabled][disabled] {
    background-color: $button-primary-color-disabled;
    color: $button-secondary-color-disabled;
    @include shadow-2dp();
  }
}

input[type="button"],
input[type="reset"],
input[type="submit"] {
    @extend .button;
    width: auto;
    margin-bottom: .5em;
}
