/* #BREADCRUMBS
\*------------------------------------*/
.breadcrumbs {

    //text-transform: uppercase;
    li {
        display: inline-block;
        + li:before {
            content: "\E5CC";
            opacity: $opacity;
            padding: .2em;
            font-family: 'Material Icons';
            vertical-align: middle;
            font-size: 1.5em;
            line-height: 1;
        }
    }

    a {
        color: inherit;
    }
}

.trail-end span {
    display: none;
}
