///* #RESET
//\*------------------------------------*/
:root {
    min-height: 100%;
    @include sm {
        font: 14px/1.7 sans-serif;
    }

}

body {
    color: $body-color;
    // background-color: $body-background-color;
    // @include font-size($base-font-size);
}

* {
    position: relative;
    background-repeat: no-repeat;
    flex-shrink: 1;
    flex-grow: 0;
    flex-basis: auto;
    vertical-align: middle;

    //background-position: 50%;
    // color: inherit;
}

*,
*:before,
*:after {
    word-wrap: break-word;
}

input[type="submit"] {
    -webkit-appearance: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

pre,
code {
    background-color: $pre-background-color;
    border-radius: $pre-border-radius;
}


/**
 * Correct `block` display not defined for any HTML5 element in IE.
 */
article,
aside,
cite,
//details,
//summary,
figcaption,
figure,
footer,
header,
//main,
menu,
nav,
section {
    display: block;
}

span,
a {
    vertical-align: initial;
}

// ::-moz-selection {
//     background-color: #b3d4fc;
//     text-shadow: none;
// }
//
// ::selection {
//     background-color: #b3d4fc;
//     text-shadow: none;
// }

img {
    max-width: 100%;
    height: auto;
}

svg {
    max-height: 100%;
}

canvas {
    -ms-touch-action: double-tap-zoom;
}

iframe[src*="google.com/maps"] {
    max-width: 100%;
    width: 100%;
}

// [hidden],
// audio:not([controls]),
// template {
//     display: none;
// }

p:empty {
        margin: 0;
        padding: 0;
        line-height: 0;
}

p:last-child,
ul:last-child {
        margin-bottom: 0;
}
