/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/

input,
select,
textarea {
	background-color: rgba($blue-grey-50, 0.9);
	font-family: inherit;
    font-size: 1rem;
	color: $color-text;
	vertical-align: middle;
	border: 1px solid $blue-grey-300;
	transition-duration: $transition-time;
	transition-timing-function: $animation-curve-default;
	transition-property: color, background-color, border-color;

	&:focus {
		outline: 0;
		background-color: rgba($white, 0.9);
		border-color: $color-links-hover;
	}
}

label {
	vertical-align: middle;
}

input[type=text],
input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=time],
input[type=url],
input[type=week] {
	height: 2.25rem;
	padding: .5rem;
	border-radius: $base-radius;
}

select {
	line-height: 1.25;
	padding: .5rem;
}

select:not([multiple]) {
	height: 2.25rem;
}

textarea {
	line-height: 1.75;
	padding: .5rem;
	border-radius: $base-radius;
	width: 100%;
}
