/* #FORMS
\*------------------------------------*/

input,
input[type=text],
input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=time],
input[type=url],
input[type=week],
select,
textarea,
.container .gform_wrapper .chosen-container-multi .chosen-choices {
	width: 100%;
	padding: 0.3rem 0.75rem;
	border: 1px solid $blue-grey-400;
	border-radius: $border-radius;
	color: $color-text;
	background-color: #fff;
	background-image: none;
	box-shadow: none;
	font-size: 1rem;
	line-height: 1.5;

	&:focus {
		border-color: $color-1;
		outline: none;
	}
}
