/*
 * Normalization
 */

 /*
  * Universal inheritance
  */

 *,
 :before,
 :after {
 	box-sizing: inherit;
	border-style: solid;
 	border-width: 0;
 }

 * {
 	font-size: inherit;
 	line-height: inherit;
	margin: 0;
 	padding: 0;
 }

 :before,
 :after {
 	text-decoration: inherit;
 	vertical-align: inherit;
 }

 /* specify the root styles of the document */

 :root {
 	background-color: #ffffff;
 	box-sizing: border-box;
 	color: #000000;
 	cursor: default;
 	font: 100%/1.5 sans-serif;
 }

 body {
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
   font-size: 1rem;
   line-height: 1.5;
   color: #373a3c;
   background-color: #fff;
 }


audio:not([controls]) {
	display: none; /* Chrome 44-, iOS 8+, Safari 9+ */
}

button {
	overflow: visible; /* Internet Explorer 11- */
	-webkit-appearance: button; /* iOS 8+ */
}

details {
	display: block; /* Edge 12+, Firefox 40+, Internet Explorer 11-, Windows Phone 8.1+ */
}

html {
	-ms-overflow-style: -ms-autohiding-scrollbar; /* Edge 12+, Internet Explorer 11- */
	overflow-y: scroll; /* All browsers without overlaying scrollbars */
	-webkit-text-size-adjust: 100%; /* iOS 8+ */
}




/**
 * FORMS
 */
input {
	-webkit-border-radius: 0 /* iOS 8+ */
}

textarea {
	overflow: auto; /* Edge 12+, Internet Explorer 11- */
	resize: vertical;
}

input[type="button"], input[type="reset"], input[type="submit"] {
	-webkit-appearance: button;/* iOS 8+ */
}

input[type="number"] {
	width: auto;/* Firefox 36+ */
}

input[type="search"] {
	-webkit-appearance: textfield;/* Chrome 45+, Safari 9+ */
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;/* Chrome 45+, Safari 9+ */
}

/* specify the inherited color and font of form elements */

button,
input,
select,
textarea {
	color: inherit;
	font-family: inherit;
	font-style: inherit;
	font-weight: inherit;
	background-color: transparent;
	line-height: inherit;
    border-radius: 0;
}

/* specify the minimum height of form elements */

button,
[type="button"],
[type="date"],
[type="datetime"],
[type="datetime-local"],
[type="email"],
[type="month"],
[type="number"],
[type="password"],
[type="reset"],
[type="search"],
[type="submit"],
[type="tel"],
[type="text"],
[type="time"],
[type="url"],
[type="week"],
select,
textarea {
	min-height: 1.5em;
}

label {
  display: inline-block;
  margin-bottom: .5rem;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

/* specify the standard appearance of selects */

select {
	-moz-appearance: none;    /* Firefox 40+ */
	-webkit-appearance: none /* Chrome 45+ */
}

select::-ms-expand {
	display: none;/* Edge 12+, Internet Explorer 11- */
}

select::-ms-value {
	color: currentColor;/* Edge 12+, Internet Explorer 11- */
}


fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: .5rem;
  font-size: 1.5rem;
  line-height: inherit;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
    font-weight: bold;
}




main {
	display: block; /* Android 4.3-, Internet Explorer 11-, Windows Phone 8.1+ */
}

progress {
	display: inline-block; /* Internet Explorer 11-, Windows Phone 8.1+ */
}

small {
	font-size: 75%; /* All browsers */
}

summary {
	display: block; /* Firefox 40+, Internet Explorer 11-, Windows Phone 8.1+ */
}

svg:not(:root) {
	overflow: hidden; /* Internet Explorer 11- */
}

template {
	display: none; /* Android 4.3-, Internet Explorer 11-, iOS 7-, Safari 7-, Windows Phone 8.1+ */
}

[hidden] {
	display: none; /* Internet Explorer 10- */
}



/* specify the text decoration of anchors */

a {
  text-decoration: none;
}

a:focus, a:hover {
  text-decoration: underline;
}

a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

/* specify the alignment of media elements */

audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align: middle;
}



/* specify the font family of code elements */

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
}

pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto; /* Internet Explorer 11- */
}

/**
 * tables
 */

table {
	border-collapse: collapse;
	border-spacing: 0;
	background-color: transparent;
}

caption {
  padding-top: .75rem;
  padding-bottom: .75rem;
  color: #818a91;
  text-align: left;
  caption-side: bottom;
}

th {
  text-align: left;
}



/* specify the background color, font color, and drop shadow of text selections */

::-moz-selection {
	background-color: #b3d4fc; /* required when declaring ::selection */
	color: #4c2b03;
	text-shadow: none;
}

::selection {
	background-color: #b3d4fc; /* required when declaring ::selection */
	color: #4c2b03;
	text-shadow: none;
}

/* specify the progress cursor of updating elements */

[aria-busy="true"] {
	cursor: progress;
}

/* specify the pointer cursor of trigger elements */

[aria-controls] {
	cursor: pointer;
}

/* specify the unstyled cursor of disabled, not-editable, or otherwise inoperable elements */

[aria-disabled] {
	cursor: default;
}

/* specify the style of visually hidden yet accessible elements */

[hidden][aria-hidden="false"] {
	clip: rect(0 0 0 0);
	display: inherit;
	position: absolute
}

[hidden][aria-hidden="false"]:focus {
	clip: auto;
}




// Reboot
//



[tabindex="-1"]:focus {
  outline: none !important;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: .5rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

abbr[title],
abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted #818a91;
}

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}


/**
 * LISTS
 */
ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}


dt {
  font-weight: bold;
}

dd {
  margin-bottom: .5rem;
  margin-left: 0;
}





blockquote {
  margin: 0 0 1rem;
}

figure {
  margin: 0 0 1rem;
}

[role="button"] {
  cursor: pointer;
}

a,
area,
button,
[role="button"],
input,
label,
select,
summary,
textarea {
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}



output {
  display: inline-block;
}
