/* #LISTS
\*------------------------------------*/

ul, ol, dl {
    line-height: 1.6;
    margin-bottom: 1rem;
    list-style-position: inside;
}

ol ol,
ul ul,
ol ul,
ul ol {
	margin-left: 1.25rem;
    margin-bottom: 0;
}

ul:last-child {
    margin-bottom: 0;
}

/* specify the list style of nav lists */

nav ol,
nav ul,
nav li {
	list-style: none;
    padding: 0;
    margin: 0;
}
