/* #LINKS
\*------------------------------------*/

a {
	color: inherit;
    text-decoration: none;
	line-height: inherit;
	cursor: pointer;
	transition-duration: $transition-time;
    transition-timing-function: $animation-curve-default;
    transition-property: border-color, opacity;
}

a:not([class]) {
	font-weight: bold;
    padding: 1px 0;
}

a:not([class]):hover {
    color: inherit;
    text-decoration: none;
	opacity: $opacity;
}

.entry-content a:not([class]), .entry-summary a:not([class]), .comment-content a:not([class]) {
  border-bottom: 1px solid rgba( $color-links, 0.25 );

	&:hover,
	&:focus,
	&:active {
	  border-color: rgba( $color-links, 0.75 );
	  opacity: 1;
	}
}

li,
h1,
h2,
h3,
h4,
h5,
h6 {
    > a[href]:not(.btn) {
		font-weight: inherit;
        color: inherit;
		opacity: 1;
		border-bottom: 0;
    }
    > a[href]:not(.btn):hover {
        color: inherit;
        opacity: $opacity;
    }
}
