/* #TYPOGRAPHY
\*------------------------------------*/
body {
    font-family: $font-family;
    line-height: $line-height;
    font-size: $body-font-size;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $heading-font-family;
    font-weight: $heading-font-weight;
    line-height: $heading-line-height;
    margin-top: $heading-margin-top;
    margin-bottom: $heading-margin-bottom;
}

p {
    margin-top: $paragraph-margin-top;
    margin-bottom: $paragraph-margin-bottom;
}

dl,
ol,
ul {
    margin-top: $list-margin-top;
    margin-bottom: $list-margin-bottom;
}

pre,
code,
samp {
    font-family: $monospace-font-family;
    font-size: $pre-font-size;
}

pre {
    margin-top: $pre-margin-top;
    margin-bottom: $pre-margin-bottom;
    overflow-x: scroll;
}

h1 {
    font-size: $h1;
}

h2 {
    font-size: $h2;
}

h3 {
    font-size: $h3;
}

h4 {
    font-size: $h4;
}

h5 {
    font-size: $h5;
}

h6 {
    font-size: $h6;
}
