/* #FORMS
\*------------------------------------*/
label {
	//display: inline-block;
	margin-bottom: $space-1;
}

input,
select,
textarea {
	line-height: inherit;
}

textarea {
	resize: vertical; // Textareas should really only resize vertically.
	overflow: auto; // Edge 12+, Internet Explorer 11-.
}

fieldset {
	min-width: 0; // Chrome and Firefox set a `min-width: min-content;`
	border: 0;
}

legend {
	display: block;
	width: 100%;
	margin-bottom: $space-1;
	font-size: 1.5rem;
	line-height: inherit;
}

input[type=search] {
	-webkit-appearance: textfield; // Chrome 45+, Safari 9+
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
	-webkit-appearance: none; // Chrome 45+, Safari 9+
}


// specify the inherited color and font of form elements
input,
select,
textarea {
	color: inherit;
	font-family: inherit;
	font-style: inherit;
	font-weight: inherit;
	background-color: $form-element-background-color;
}


// specify the minimum height of form elements
[type="button"],
[type="date"],
[type="datetime"],
[type="datetime-local"],
[type="email"],
[type="month"],
[type="number"],
[type="password"],
[type="reset"],
[type="search"],
[type="submit"],
[type="tel"],
[type="text"],
[type="time"],
[type="url"],
[type="week"],
select,
textarea {
	min-height: $form-element-min-height;
}

select {
    text-transform: none;
	-moz-appearance: none; // Firefox 40+
	-webkit-appearance: none; // Chrome 45+
}

select::-ms-expand {
	display: none; // Edge 12+, Internet Explorer 11-
}

select::-ms-value {
	color: currentColor; // Edge 12+, Internet Explorer 11-
}

audio:not([controls]) {
	display: none; // Chrome 44-, iOS 8+, Safari 9+
}

button {
	overflow: visible; // Internet Explorer 11-
}

input[type=number] {
	width: auto; // Firefox 36+
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
	font-weight: bold;
}



input,
input[type=text],
input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=time],
input[type=url],
input[type=week],
select,
textarea,
.container .gform_wrapper .chosen-container-multi .chosen-choices {
    //display: block;
    //width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #55595c;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: $border-radius;
    box-shadow: none;
	width: 100%;

    &:focus {
      border-color: #66afe9;
      outline: none;
    }
}
