/* #TYPOGRAPHY
\*------------------------------------*/
p {
    margin-bottom: $space-2;
}

address {
    margin-bottom: $space-2;
    font-style: normal;
    line-height: inherit;
}

pre,
kbd,
code,
samp {
    font-family: $monospace-font-family;
    font-size: $pre-font-size;
}

pre {
    margin-bottom: $space-2;

    //overflow-x: scroll;
    overflow: auto; // Internet Explorer 11-
}

b,
strong {
    font-weight: bold;
}

small {
    font-size: 80%; // All browsers
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

p:empty {
    margin: 0;
    padding: 0;
    line-height: 0;
}

p:last-child {
    margin-bottom: 0;
}
