
.btn,
.button,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  font-family: inherit;
  font-size: inherit;
  font-weight: 500;
  margin: 0;
  cursor: pointer;
  padding: $space1 $space2;
  border: 1px solid transparent;
}
