/* #LINKS
\*------------------------------------*/

a {
    color: $link-color;
    text-decoration: none;
    transition-duration: 0.3s;
    transition-timing-function: $animation-curve-default;
    transition-property: opacity;
    padding: 2px 0;
}

a:not([class]):not([rel]) {
  color: $link-color;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0) 50%, rgba(0,0,0,0.6) 50%);
  background-repeat: repeat-x;
  background-size: 2px 2px;
  background-position: 0 18px;
}

a:hover:not([class]):not([rel]) {
  opacity: $opacity;
}

a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

nav a {
    color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    > a[href]:not(.u-underline) {
        color: inherit;
        background: none;
    }
}
