img {
    max-width: 100%;
    height: auto;
    border: 0; // Remove border when inside `a` element in IE 8/9/10.
}

svg {
    max-height: 100%;
}

svg:not(:root) {
    overflow: hidden; // Correct overflow not hidden in IE 9/10/11.
}
