///* #LINKS
//\*------------------------------------*/

a {
    color: $link-color;
    text-decoration: none;
    transition-duration: 0.28s;
    transition-timing-function: $animation-curve-default;
    transition-property: opacity;
}

a[href]:not([class]):not([rel]) {
  color: $link-color;
  text-decoration: underline;
}

a:focus:not(.btn), a:hover:not(.btn) {
  text-decoration: none;
  opacity: $opacity;
}

a[href]:hover:not([class]):not([rel]) {
  text-decoration: underline;
  opacity: $opacity;
}

a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

nav a {
    color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    > a {
        color: inherit;
    }
}
