///* #RESET
//\*------------------------------------*/
 :root {
    width: 100%; // Make html take up the entire width of screen
    height: 100%; // Make html take up the entire height of screen
}

html {
    font-size: 16px;
    line-height: 1.5;
    background-color: white;
    color: $color-text;

    @include sm {
        font-size: 14px;
        line-height: 1.7;
    }
}

body {
    width: 100%; // Make html take up the entire width of screen
    height: 100%; // Make html take up the entire height of screen
}

.site-container {
    height: 100%;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/* Embedded content
   ========================================================================== */
canvas {
    -ms-touch-action: double-tap-zoom;
}

iframe[src*="google.com/maps"] {
    max-width: 100%;
    width: 100%;
}
