/* #GRID
\*------------------------------------*/
$gutter: $space2;

$cell-padding: $space1;

.o-grid {

	// @include md {
	// 	padding: $cell-padding;
	// }

	display: flex;
	flex-flow: row wrap;
	margin-right: auto;
	margin-left: auto;
	align-items: stretch;
}

.o-cell {
	//min-width: calc(33.33333% - #{$gutter});
	margin: 0 $cell-padding $space2;
	flex: 1 1 auto;
}
