/* #GRID
\*------------------------------------*/
$gutter: 16px;

$cell-padding: calc(1 / 2 * #{$gutter});

.o-grid {

	@include md {
		padding: $cell-padding;
	}

	display: flex;
	margin-right: auto;
	margin-left: auto;

	align-items: stretch;
	flex-flow: row wrap;
}

.o-cell {
	width: calc(33.33333% - $gutter);
	margin: $cell-padding;
}
