/* #BUTTONS
\*------------------------------------*/

.btn,
.button,
button {
    display: inline-block;
    padding: .375rem 1rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    white-space: nowrap;
    background-color: transparent;
    color: inherit;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    border: .0625rem solid transparent;
    border-radius: $border-radius;
    outline: 0;

  &:hover,
  &:focus {
      background-color: $darken-2;
      transition: background-color .3s;
  }

  &:active, &.active {
      background-color: $darken-3;
      transition: background-color .3s;
  }

  &.button--colored {
    color: $button-primary-color-alt;

    &:focus:not(:active) {
      background-color: $button-focus-color-alt;
    }
  }
}

.btn--small {
    padding: .5rem;
}

.btn--tiny {
    padding: .25rem;
}
