// /* #COLOR VARIABLES
// \*------------------------------------*/

// Cool
$aqua: #7fdbff;
$blue: #0074d9;
$navy: #001f3f;
$teal: #39cccc;
$green: #2ecc40;
$olive: #3d9970;
$lime: #01ff70;

// Warm
$yellow: #ffdc00;
$orange: #ff851b;
$red: #ff4136;
$fuchsia: #f012be;
$purple: #b10dc9;
$maroon: #85144b;

// Gray Scale
$white: #fff;
$silver: #ddd;
$gray: #808080;
$grey: #808080;
$black: #111;
$blue-grey: #607d8b;

// Greys
$grey-50: lighten($grey, 45);
$grey-100: lighten($grey, 40);
$grey-200: lighten($grey, 30);
$grey-300: lighten($grey, 20);
$grey-400: lighten($grey, 10);
$grey-500: $grey;
$grey-600: darken($grey, 10);
$grey-700: darken($grey, 20);
$grey-800: darken($grey, 30);
$grey-900: darken($grey, 40);

// Blue Greys
$blue-grey-50: lighten($blue-grey, 45);
$blue-grey-100: lighten($blue-grey, 40);
$blue-grey-200: lighten($blue-grey, 30);
$blue-grey-300: lighten($blue-grey, 20);
$blue-grey-400: lighten($blue-grey, 10);
$blue-grey-500: $blue-grey;
$blue-grey-600: darken($blue-grey, 10);
$blue-grey-700: darken($blue-grey, 20);
$blue-grey-800: darken($blue-grey, 30);
$blue-grey-900: darken($blue-grey, 40);

// Reds
$red-100: lighten($red, 40);
$red-200: lighten($red, 30);
$red-300: lighten($red, 20);
$red-400: lighten($red, 10);
$red-500: $red;
$red-600: darken($red, 10);
$red-700: darken($red, 20);
$red-800: darken($red, 30);
$red-900: darken($red, 40);

// Blues
$blue-100: lighten($blue, 40);
$blue-200: lighten($blue, 30);
$blue-300: lighten($blue, 20);
$blue-400: lighten($blue, 10);
$blue-500: $blue;
$blue-600: darken($blue, 10);
$blue-700: darken($blue, 20);
$blue-800: darken($blue, 30);
$blue-900: darken($blue, 40);

// Greens
$green-100: lighten($green, 40);
$green-200: lighten($green, 30);
$green-300: lighten($green, 20);
$green-400: lighten($green, 10);
$green-500: $green;
$green-600: darken($green, 10);
$green-700: darken($green, 20);
$green-800: darken($green, 30);
$green-900: darken($green, 40);

// Yellows
$yellow-100: lighten($yellow, 40);
$yellow-200: lighten($yellow, 30);
$yellow-300: lighten($yellow, 20);
$yellow-400: lighten($yellow, 10);
$yellow-500: $yellow;
$yellow-600: darken($yellow, 10);
$yellow-700: darken($yellow, 20);
$yellow-800: darken($yellow, 30);
$yellow-900: darken($yellow, 40);

// purples
$purple-100: lighten($purple, 40);
$purple-200: lighten($purple, 30);
$purple-300: lighten($purple, 20);
$purple-400: lighten($purple, 10);
$purple-500: $purple;
$purple-600: darken($purple, 10);
$purple-700: darken($purple, 20);
$purple-800: darken($purple, 30);
$purple-900: darken($purple, 40);

// Teals
$teal-100: lighten($teal, 40);
$teal-200: lighten($teal, 30);
$teal-300: lighten($teal, 20);
$teal-400: lighten($teal, 10);
$teal-500: $teal;
$teal-600: darken($teal, 10);
$teal-700: darken($teal, 20);
$teal-800: darken($teal, 30);
$teal-900: darken($teal, 40);

// Oranges
$orange-100: lighten($orange, 40);
$orange-200: lighten($orange, 30);
$orange-300: lighten($orange, 20);
$orange-400: lighten($orange, 10);
$orange-500: $orange;
$orange-600: darken($orange, 10);
$orange-700: darken($orange, 20);
$orange-800: darken($orange, 30);
$orange-900: darken($orange, 40);

// olives
$olive-100: lighten($olive, 40);
$olive-200: lighten($olive, 30);
$olive-300: lighten($olive, 20);
$olive-400: lighten($olive, 10);
$olive-500: $olive;
$olive-600: darken($olive, 10);
$olive-700: darken($olive, 20);
$olive-800: darken($olive, 30);
$olive-900: darken($olive, 40);

// aquas
$aqua-100: lighten($aqua, 40);
$aqua-200: lighten($aqua, 30);
$aqua-300: lighten($aqua, 20);
$aqua-400: lighten($aqua, 10);
$aqua-500: $aqua;
$aqua-600: darken($aqua, 10);
$aqua-700: darken($aqua, 20);
$aqua-800: darken($aqua, 30);
$aqua-900: darken($aqua, 40);
