/*------------------------------------*\
    #DEFAULTS
\*------------------------------------*/
/*// These variables are inuitcss’ defaults; they should not be modified or
// adjusted directly; you should predefine the variables in your own project.
// High-level base settings.*/
$base-font-size: 16px !default;
$base-line-height: 1.5 !default;
$base-text-color: $blue-grey-700 !default;
$base-background-color: #fff !default;
$base-radius: 3px !default;

/*// Namespace.
//
// namespace? */
$namespace: null !default;

/*// These variables are framework variables, sourced from variables defined
// above. Feel free to use these variables throughout your project, but do not
// modify or reassign them.*/
$base-spacing-unit: $base-font-size * $base-line-height;
$base-spacing-unit--tiny: calc($base-spacing-unit / 4);
$base-spacing-unit--small: calc($base-spacing-unit / 2);
$base-spacing-unit--large: calc($base-spacing-unit * 2);
$base-spacing-unit--huge: calc($base-spacing-unit * 4);

$gutter: 1em;

/*// Theme Colors*/
$color1: #004899;
$color2: $olive;
$color3: #ffd870;
$color-1: $color1;
$color-2: $color2;
$color-3: $color3;
$color1-light: color($color-1 lightness(10%));
$color2-light: color($color-2 lightness(10%));
$color3-light: color($color-3 lightness(10%));
$color1-dark: color($color-1 lightness(- 10%));
$color2-dark: color($color-2 lightness(- 10%));
$color3-dark: color($color-3 lightness(- 10%));
$color-text: $base-text-color;
$color-text-muted: color($color-text a(50%));
$color-links: $blue;
$color-links-border: $blue-200;
$color-links-hover: $blue-700;
$link-text-decoration: none;
$link-hover-text-decoration: none;

/*// Base Styles*/
$font-family: 'Helvetica Neue', Helvetica, sans-serif;
$line-height: 1.5;
$heading-font-family: $font-family;
$heading-font-weight: 500;
$heading-line-height: 1.25;
$monospace-font-family: 'Source Code Pro', Consolas, monospace;
$h1: 2.5rem;
$h2: 2rem;
$h3: 1.75rem;
$h4: 1.5rem;
$h5: 1.25rem;
$h6: 1rem;
$body-font-size: $base-font-size;
$bold-font-weight: bold;
$pre-font-size: inherit;
$space-1: 0.5rem;
$space-2: 1rem;
$space-3: 2rem;
$space-4: 4rem;
$heading-margin-top: 1em;
$heading-margin-bottom: 0.5em;
$paragraph-margin-top: 0;
$paragraph-margin-bottom: $space-2;
$list-margin-top: 0;
$list-margin-bottom: $space-2;
$pre-margin-top: 0;
$pre-margin-bottom: $space-2;
$form-field-font-family: inherit;
$form-field-font-size: 1rem;
$form-field-height: 2.25rem;
$form-field-padding-y: 0.5rem;
$form-field-padding-x: 0.5rem;
$button-font-size: inherit;
$button-font-weight: normal;
$button-line-height: 1.125rem;
$button-padding-y: 0.5rem;
$button-padding-x: 1rem;
$container-width: 64em;
$container-wide: 84em;
$darken-1: color($blue-grey-900 a(6%));
$darken-2: color($blue-grey-900 a(25%));
$darken-3: color($blue-grey-900 a(50%));
$darken-4: color($blue-grey-900 a(80%));
$lighten-1: color($blue-grey-50 a(6%));
$lighten-2: color($blue-grey-50 a(25%));
$lighten-3: color($blue-grey-50 a(50%));
$lighten-4: color($blue-grey-50 a(80%));
$border-width: 4px;
$border-radius: 2px;
$border-color: $darken-4;
$table-header-font-weight: $bold-font-weight;
$table-cell-padding-x: $space-2;
$table-cell-padding-y: 0.25rem;
$opacity: 0.7;
$body-color: $color-text;
$body-background-color: $white;
$pre-background-color: transparent;

/*// ANIMATION*/
$animation-curve-fast-out-slow-in: cubic-bezier(0.4, 0, 0.2, 1) !default;
$animation-curve-linear-out-slow-in: cubic-bezier(0, 0, 0.2, 1) !default;
$animation-curve-fast-out-linear-in: cubic-bezier(0.4, 0, 1, 1) !default;
$animation-curve-default: $animation-curve-fast-out-slow-in !default;

$transition-time: 0.3s;
