/*--------------------------------------------------------------
# Defaults
--------------------------------------------------------------*/
$base-font-size: 16px;
$base-line-height: 1.5;
$base-background-color: #fff;
$base-radius: 2px;
$base-opacity: 0.75;

$sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;

$container: 64em;
$container-wide: 84em;

$h1: 2.5rem;
$h2: 2rem;
$h3: 1.75rem;
$h4: 1.5rem;
$h5: 1.25rem;
$h6: 1rem;
$heading-line-height: 1.25;
$heading-font-family: $sans-serif;
$heading-font-weight: 500;

/*--------------------------------------------------------------
# Colors
--------------------------------------------------------------*/
$color1: #004899;
$color1-light: lighten($color1, 10);
$color1-dark: darken($color1, 10);
$color2: $olive;
$color2-light: lighten($color2, 10);
$color2-dark: darken($color2, 10);
$color3: #ffd870;
$color3-light: lighten($color3, 10);
$color3-dark: darken($color3, 10);

$color-grey: $blue-grey-500;
$color-grey-dark: darken($color-grey, 20);
$color-grey-light: lighten($color-grey, 20);

$color-black: $black;
$color-white: $white;

$darken1: rgba($blue-grey-900,0.0625);
$darken2: rgba($blue-grey-900,0.25);
$darken3: rgba($blue-grey-900,0.5);
$darken4: rgba($blue-grey-900,0.8);
$lighten1: rgba($blue-grey-50,0.0625);
$lighten2: rgba($blue-grey-50,0.25);
$lighten3: rgba($blue-grey-50,0.5);
$lighten4: rgba($blue-grey-50,0.8);

$color-text: $color-grey-dark;
$color-text-light: lighten($color-text, 40);
$color-text-dark: darken($color-text, 10);
$text-muted: rgba($color-text, .5);
$color-links: $color1-dark;
$color-links-hover: $color1;

$opacity: $base-opacity;

/*--------------------------------------------------------------
# Alerts
--------------------------------------------------------------*/
$color-error: $red-400;
$color-valid: $green-400;
$color-warning: $yellow-400;
$color-information: $blue-400;


/*--------------------------------------------------------------
# Spacing
--------------------------------------------------------------*/
$space1: 0.5rem;
$space2: 1rem;
$space3: 2rem;
$space4: 4rem;

$paragraph-margin-bottom: $space2;
$heading-margin-bottom: $space1;
$list-margin-bottom: $space2;

/*--------------------------------------------------------------
# Animation
--------------------------------------------------------------*/
$animation-curve-fast-out-slow-in: cubic-bezier(0.4, 0, 0.2, 1) !default;
$animation-curve-linear-out-slow-in: cubic-bezier(0, 0, 0.2, 1) !default;
$animation-curve-fast-out-linear-in: cubic-bezier(0.4, 0, 1, 1) !default;
$animation-curve-default: $animation-curve-fast-out-slow-in !default;
$transition-time: 0.3s;
