///*------------------------------------*\
//    #DEFAULTS
//\*------------------------------------*/
// These variables are inuitcss’ defaults; they should not be modified or
// adjusted directly; you should predefine the variables in your own project.
// High-level base settings.
$base-font-size: 16px !default;
$base-line-height: 24px !default;
$base-text-color: #333 !default;
$base-background-color: #fff !default;
$base-radius: 3px !default;

// Namespace.
//
// Would you like inuitcss’ classes to be prepended with a namespace? If so,
// define it here.
$namespace: null !default;

// These variables are framework variables, sourced from variables defined
// above. Feel free to use these variables throughout your project, but do not
// modify or reassign them.
$base-spacing-unit: $base-line-height;
$base-spacing-unit--tiny: round($base-spacing-unit / 4);
$base-spacing-unit--small: round($base-spacing-unit / 2);
$base-spacing-unit--large: round($base-spacing-unit * 2);
$base-spacing-unit--huge: round($base-spacing-unit * 4);

// Theme Colors
$color-1: #004899;
$color-2: $olive;
$color-3: #ffd870;
$color1-light: lighten($color-1, 10);
$color2-light: lighten($color-2, 10);
$color3-light: lighten($color-3, 10);
$color1-dark: darken($color-1, 10);
$color2-dark: darken($color-2, 10);
$color3-dark: darken($color-3, 10);
$color-text: $grey-700;
$text-muted: rgba($color-text, .5);
$base-font-size: 16px;
$base-line-height: 1.5;

// Base Styles
$font-family: 'Helvetica Neue', Helvetica, sans-serif;
$line-height: 1.5;
$heading-font-family: $font-family;
$heading-font-weight: 500;
$heading-line-height: 1.25;
$monospace-font-family: 'Source Code Pro', Consolas, monospace;
$h1: 2rem;
$h2: 1.5rem;
$h3: 1.25rem;
$h4: 1rem;
$h5: 0.875rem;
$h6: 0.75rem;
$body-font-size: $base-font-size;
$bold-font-weight: bold;
$pre-font-size: inherit;
$space-1: 0.5rem;
$space-2: 1rem;
$space-3: 2rem;
$space-4: 4rem;
$heading-margin-top: 1em;
$heading-margin-bottom: 0.5em;
$paragraph-margin-top: 0;
$paragraph-margin-bottom: $space-2;
$list-margin-top: 0;
$list-margin-bottom: $space-2;
$pre-margin-top: 0;
$pre-margin-bottom: $space-2;
$form-field-font-family: inherit;
$form-field-font-size: 1rem;
$form-field-height: 2.25rem;
$form-field-padding-y: 0.5rem;
$form-field-padding-x: 0.5rem;
$button-font-size: inherit;
$button-font-weight: normal;
$button-line-height: 1.125rem;
$button-padding-y: 0.5rem;
$button-padding-x: 1rem;
$container-width: 64em;
$container-wide: 84em;

$darken-1: rgba($blue-grey-900,0.0625);
$darken-2: rgba($blue-grey-900,0.25);
$darken-3: rgba($blue-grey-900,0.5);
$darken-4: rgba($blue-grey-900,0.8);
$lighten-1: rgba($blue-grey-50,0.0625);
$lighten-2: rgba($blue-grey-50,0.25);
$lighten-3: rgba($blue-grey-50,0.5);
$lighten-4: rgba($blue-grey-50,0.8);

$border-width: 4px;
$border-radius: 2px;
$border-color: $darken-4;

$table-header-font-weight: $bold-font-weight;
$table-cell-padding-x: $space-2;
$table-cell-padding-y: 0.25rem;

$opacity: 0.7;

$body-color: $color-text;
$body-background-color: $white;

$link-color: $blue;
$link-text-decoration: none;
$link-hover-text-decoration: none;

$pre-background-color: transparent;

$form-element-background-color: transparent !default;
$form-element-min-height: if(unitless($line-height), #{$line-height}em, if(unit($line-height) != '%', $line-height, null)) !default;


// ANIMATION
$animation-curve-fast-out-slow-in: cubic-bezier(0.4, 0, 0.2, 1) !default;
$animation-curve-linear-out-slow-in: cubic-bezier(0, 0, 0.2, 1) !default;
$animation-curve-fast-out-linear-in: cubic-bezier(0.4, 0, 1, 1) !default;

$animation-curve-default: $animation-curve-fast-out-slow-in !default;
