//@import "settings.animations";

.animating {
    //animation-fill-mode: both;
    transition-duration : $transition-time;
    transition-timing-function: $animation-curve-default;
    //backface-visibility: hidden;
}

.fadeIn {
    opacity: 0;
    transition-property: opacity;
}

.fadeIn.animating {
    opacity: 1;
}

.fadeInDown {
    opacity: 0;
    transform: translateY(-100%);
    transition-property: transform, opacity;
}

.fadeInDown.animating {
    transform: translateY(0);
    opacity: 1;
}

.fadeOutUp {
    opacity: 1;
    transform: translateY(0);
    transition-property: transform, opacity;
}

.fadeOutUp.animating {
    opacity: 0;
    transform: translateY(-100%);
}




// .fadeInUp {
//     animation-name: fadeInUp;
// }
//
// .fadeInDownBig {
//     animation-name: fadeInDownBig;
// }
//
// .fadeInUpBig {
//     animation-name: fadeInUpBig;
// }
//
// .fadeOut {
//     animation-name: fadeOut;
// }
//
// .fadeOutUpBig {
//     animation-name: fadeOutUpBig;
// }
