// Mixin to create a declaration whose value is a rem unit. Also provide pixel fallback.
//
// .simple-uabraham {
//   @include rem(padding, 10px);
// }
@mixin rem($property, $value) {
    #{$property}: $value / $base-font-size * 1rem;
}


@mixin truncate($limit: 100%) {
    max-width: $limit;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


@function set-text-color($color) {
  @if (lightness($color) > 50) {
    @return $color-text-dark; // Lighter backgorund, return dark color
  } @else {
    @return $color-text-white; // Darker background, return light color
  }
}

@mixin bg-text($bg-color) {
    background-color: $bg-color;
    color: set-text-color($bg-color);
}
