body.custom-background {
    background-size: cover;
}

.posts-navigation {
    width: 80%;
    margin: 0 auto;
    margin-bottom: $space-2;
    @include md {
        margin-bottom: $space-3;
    }
}

.nav-links {
    display: flex;
    justify-content: space-between;
    a {
        @extend .btn;
    }
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
    margin-bottom: 1.5em;
}

.gallery-item {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 100%;
}

.gallery-columns-2 .gallery-item {
    max-width: 50%;
}

.gallery-columns-3 .gallery-item {
    max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
    max-width: 25%;
}

.gallery-columns-5 .gallery-item {
    max-width: 20%;
}

.gallery-columns-6 .gallery-item {
    max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
    max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
    max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
    max-width: 11.11%;
}

.gallery-caption {
    display: block;
}














/**
 * Sets dropdown link to relative positioning
 */
.has-dropdown {
  position: relative;
}


/**
 * Styling for the dropdown content.
 * Hides the content by default.
 */
.dropdown {
  position: absolute;
  top: 100%;
  display: none;
  visibility: hidden;
  float: left;
  min-width: 10em;
  margin-top: 0.5em;
  margin-left: 0;
  text-align: left;
  z-index: 1000;
  background-color: $white;
  border-radius: 2px;
  color: $color-text;
  @include shadow-6dp();

  li {
      width: 100%;
      a {
          width: 100%;
      }
  }
}

/**
 * Remove list-style and margin-left from dropdown menu lists
 */
.dropdown ul,
.dropdown ol {
  margin-left: 0;
  list-style: none;
}

/**
 * When a dropdown is active, display it.
 */
.dropdown.is-active {
  display: block;
  visibility: visible;
}

/**
 * If dropdown link is near the right edge of the screen, shift the dropdown menu position to avoid content clipping.
 */
.dropdown.dropdown-right {
  right: 0;
  left: auto;
  min-width: 300px;
}

/**
 * Optional small screen styling for use with collapse-and-toggle navigation menus.
 * @link http://cferdinandi.github.com/astro/
 */
@media (max-width: 40em) {
  /**
   * Switch dropdown content to relative positioning.
   * Remove styling.
   */
  .js-drop .dropdown {
    position: relative;
    float: none;
    border: none;
    box-shadow: none;
  }
}


// .mdl-tabs__panel:first-of-type {
//     display: block!important;
// }

// .mdl-tabs__panel.active ~ .mdl-tabs__panel:first-of-type {
//     display: none!important;
// }



.meh__tab {
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    overflow: hidden;
    //background-color: transparent;

        &:hover,
        &:active,
        &.is-active,
        &:focus {
            //background-color: transparent;
        }
}
.meh__tab:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: $color-2;
  height: 4px;
  transition-property: left, right;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
.meh__tab:hover:before,
.meh__tab:focus:before,
.meh__tab.is-active:before,
.meh__tab:active:before {
  left: 0;
  right: 0;
}

.meh__tab:hover:before {
    background: rgba($color-2, $opacity);
}

.meh__tab:focus:before,
.meh__tab.is-active:before,
.meh__tab:active:before {
    background: $color-2;
}

.meh__tab {
    background-color: transparent;

    &:hover, &.is-active {
        background-color: transparent!important;
    }
}






.pages-highlight .pages-highlight {
    padding: 0;
}


















.flickity-slider {
    transition: none;
}

button.flickity-prev-next-button {
    padding: 0;
}

.meh-slider {
.flickity-page-dots {
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.meh-slider__cell {
  background: $color1-dark;
}

.meh-slider__text {
  text-shadow: 0 2px rgba($color1-dark,0.4);
}

.flickity-page-dots .dot {
  flex: 1;
  border-radius: 0;
  margin: 0;
  background: $color1-light;
}

.flickity-prev-next-button {
    background: $color-2;
    opacity: .5;

    &:hover {
        background: $color-2;
        opacity: 1;
    }
}

.meh-slider__image {
    opacity: .8;
}
}



.meh-slider .meh-slider__text {
    display: none;
}
