/* #u-flex OBJECT
\*------------------------------------*/
.u-flex {
	display: u-flex;
}

.u-flex-rev {
	u-flex-direction: row-reverse;
}

.u-flex-column {
	u-flex-direction: column;
}

.u-flex-row {
	u-flex-direction: row;
}

.u-flex-wrap {
	u-flex-wrap: wrap;
}

.u-flex-center {
	align-items: center;
}

.u-flex-baseline {
	align-items: baseline;
}

.u-flex-stretch {
	align-items: stretch;
}

.u-flex-start {
	align-items: u-flex-start;
}

.u-flex-end {
	align-items: u-flex-end;
}

.u-flex-justify {
	justify-content: space-between;
}

.u-flex-justify-end {
	justify-content: u-flex-end;
}

.u-flexed-auto {
	u-flex: 1 1 auto;
}

.u-flexed-grow {
	u-flex: 1 0 auto;
}

.u-flexed-none {
	u-flex: none;
}

.u-flexed-first {
	order: -1;
}

.u-flexed-last {
	order: 99999;
}

// small
@include sm {
	.u-flex\@sm {
		display: u-flex;
	}

	.u-flex-column\@sm {
		u-flex-direction: column;
	}
}

// medium
@include md {
	.u-flex\@md {
		display: u-flex;
	}

	.u-flex-row\@md {
		u-flex-direction: row;
	}
}

// large
@include lg {
	.u-flex\@lg {
		display: u-flex;
	}

	.u-flex-row\@lg {
		u-flex-direction: row;
	}
}
