/* #TYPOGRAPHY UTILITY
\*------------------------------------*/
.h1 {
    font-size: $h1;
}

.h2 {
    font-size: $h2;
}

.h3 {
    font-size: $h3;
}

.h4 {
    font-size: $h4;
}

.h5 {
    font-size: $h5;
}

.h6 {
    font-size: $h6;
}

.small {
    font-size: 80%;
}

.lh-1 {
    line-height: 1;
}

.bold {
    font-weight: $bold-font-weight;
}

.regular {
    font-weight: normal;
}

.italic {
    font-style: italic;
}

.caps {
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.text-shadow {
    text-shadow: 1px 1px 5px rgba($black, 0.6);
}

.text-left, .left-align {
    text-align: left;
}

.text-center, .center {
    text-align: center;
}

.text-right, .right-align {
    text-align: right;
}

.justify {
    text-align: justify;
}

.nowrap {
    white-space: nowrap;
}

.break-word {
    word-wrap: break-word;
}

.truncate {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.list-reset {
    list-style: none;
    padding-left: 0;
    ul,
    li {
        list-style: none;
        padding-left: 0;
    }

}
