/* #UTILITY LAYOUT
\*------------------------------------*/
.u-inline {
    display: inline;
}

.u-block {
    display: block;
}

.u-inline-block {
    display: inline-block;
}

.u-table {
    display: table;
}

.u-table-cell {
    display: table-cell;
}

.u-none {
    display: none;
}

.u-vh100 {
    height: 100vh;
}

.u-vw100 {
    height: 100vw;
}

.u-align-baseline {
    vertical-align: baseline;
}

.u-align-top {
    vertical-align: top;
}

.u-align-middle {
    vertical-align: middle;
}

.u-align-bottom {
    vertical-align: bottom;
}

.u-overflow-hidden {
    overflow: hidden;
}

.u-overflow-visible {
    overflow: visible;
}

.u-overflow-scroll {
    overflow: scroll;
}

.u-overflow-auto {
    overflow: auto;
}

.u-nowrap {
    white-space: nowrap;
}

.u-relative {
    position: relative;
}

.u-absolute {
    position: absolute;
}

.u-fixed {
    position: fixed;
}

.u-static {
    position: static;
}

.u-top0 {
    top: 0;
}

.u-right0 {
    right: 0;
}

.u-bottom0 {
    bottom: 0;
}

.u-left0 {
    left: 0;
}

.u-z0 {
    z-index: 0;
}

.u-z1 {
    z-index: 1;
}

.u-z2 {
    z-index: 2;
}

.u-z3 {
    z-index: 3;
}

.u-z4 {
    z-index: 4;
}

.u-z999 {
    z-index: 999;
}

.u-left {
    float: left;
}

.u-right {
    float: right;
}

.u-fit {
    max-width: 100%;
}

@media (--md) {
    .u-relative-md {
        position: relative;
    }

    .u-absolute-md {
        position: absolute;
    }

    .u-fixed-md {
        position: fixed;
    }

    .u-static-md {
        position: static;
    }
}

.shadow-hover:hover {
    box-shadow: 0 0 8px rgba(0,0,0,.18),0 8px 16px rgba(0,0,0,.36);
}
