/* #WIDTHS
\*------------------------------------*/

.u-max-width {
    max-width: $container-wide;
}

.u-width-auto {
    width: auto;
}

.u-1of1 {
    width: 100%;
}

.u-1of2 {
    width: calc(50% - $gutter);
}

.u-1of3 {
    width: calc(33.33333% - $gutter);
}

.u-2of3 {
    width: calc(66.66666% - $gutter);
}

.u-1of4 {
    width: calc(25% - $gutter);
}

.u-3of4 {
    width: calc(75% - $gutter);
}

.u-1of5 {
    width: calc(20% - $gutter);
}

.u-2of5 {
    width: calc(40% - $gutter);
}

.u-3of5 {
    width: calc(60% - $gutter);
}

.u-4of5 {
    width: calc(80% - $gutter);
}

@media (--md) {
    .u-1of1-md {
        width: 100%;
    }

    .u-1of2-md {
        width: calc(50% - $gutter);
    }

    .u-1of3-md {
        width: calc(33.33333% - $gutter);
    }

    .u-2of3-md {
        width: calc(66.66666% - $gutter);
    }

    .u-1of4-md {
        width: calc(25% - $gutter);
    }

    .u-3of4-md {
        width: calc(75% - $gutter);
    }

    .u-1of5-md {
        width: calc(20% - $gutter);
    }

    .u-2of5-md {
        width: calc(40% - $gutter);
    }

    .u-3of5-md {
        width: calc(60% - $gutter);
    }

    .u-4of5-md {
        width: calc(80% - $gutter);
    }

    .u-width-auto-md {
        width: auto;
    }
}

@media (--lg) {
    .u-1of1-lg {
        width: 100%;
    }

    .u-1of2-lg {
        width: calc(50% - $gutter);
    }

    .u-1of3-lg {
        width: calc(33.33333% - $gutter);
    }

    .u-2of3-lg {
        width: calc(66.66666% - $gutter);
    }

    .u-1of4-lg {
        width: calc(25% - $gutter);
    }

    .u-3of4-lg {
        width: calc(75% - $gutter);
    }

    .u-1of5-lg {
        width: calc(20% - $gutter);
    }

    .u-2of5-lg {
        width: calc(40% - $gutter);
    }

    .u-3of5-lg {
        width: calc(60% - $gutter);
    }

    .u-4of5-lg {
        width: calc(80% - $gutter);
    }
}

@media (--sm) {
    .u-1of1-sm {
        width: 100%;
    }
}
