/* #u-flex OBJECT
\*------------------------------------*/
.u-flex {
	display: flex!important;
}

.u-flex-rev {
	flex-direction: row-reverse!important;
}

.u-flex-column {
	flex-direction: column!important;
}

.u-flex-row {
	flex-direction: row!important;
}

.u-flex-wrap {
	flex-wrap: wrap!important;
}

.u-flex-center {
	align-items: center!important;
}

.u-flex-baseline {
	align-items: baseline!important;
}

.u-flex-stretch {
	align-items: stretch!important;
}

.u-flex-start {
	align-items: flex-start!important;
}

.u-flex-end {
	align-items: flex-end!important;
}

.u-flex-justify {
	justify-content: space-between!important;
}

.u-flex-justify-end {
	justify-content: flex-end!important;
}

.u-flexed-auto {
	flex: 1 1 auto!important;
}

.u-flexed-grow {
	flex: 1 0 auto!important;
}

.u-flexed-none {
	flex: none!important;
}

.u-flexed-first {
	order: -1!important;
}

.u-flexed-last {
	order: 99999!important;
}

// small
@include sm {
	.u-flex\@sm {
		display: flex!important;
	}

	.u-flex-column\@sm {
		flex-direction: column!important;
	}
}

// medium
@include md {
	.u-flex\@md {
		display: flex!important;
	}

	.u-flex-row\@md {
		flex-direction: row!important;
	}
}

// large
@include lg {
	.u-flex\@lg {
		display: flex!important;
	}

	.u-flex-row\@lg {
		flex-direction: row!important;
	}
}
