/* #TYPOGRAPHY UTILITY
\*------------------------------------*/

.u-small {
    font-size: 80%;
}

.u-lh-1 {
    line-height: 1!important;
}

.u-lh-2 {
    line-height: 2!important;
}

.u-bold {
    font-weight: $bold-font-weight;
}

.u-regular {
    font-weight: normal;
}

.u-italic {
    font-style: italic;
}

.u-caps {
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.u-text-shadow {
    text-shadow: 1px 1px 5px rgba($black, 0.6);
}

.u-text-left {
    text-align: left;
}

.u-text-center {
    text-align: center;
}

.u-text-right {
    text-align: right;
}

.u-text-justify {
    text-align: justify;
}

.u-nowrap {
    white-space: nowrap;
}

.u-break-word {
    word-wrap: break-word;
}

.u-truncate {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.u-list-reset {
    list-style: none;
    > ul,
    > li {
        list-style: none;
        padding-left: 0;
        margin-left: 0;
    }

}
