/*------------------------------------*\
    #HEADINGS
\*------------------------------------*/
.u-h1 {
    font-size: $h1;
}

.u-h2 {
    font-size: $h2;
}

.u-h3 {
    font-size: $h3;
}

.u-h4 {
    font-size: $h4;
}

.u-h5 {
    font-size: $h5;
}

.u-h6 {
    font-size: $h6;
}

@media (--sm) {
    .u-h1 {
        font-size: $h2;
    }

    .u-h2 {
        font-size: $h3;
    }

    .u-h3 {
        font-size: $h4;
    }

    .u-h4 {
        font-size: $h5;
    }

    .u-h5 {
        font-size: $h6;
    }
}

.u-display-1 {
    font-size: 34px;
    font-weight: 400;
    line-height: 40px;
}

.u-display-2 {
    font-size: 45px;
    font-weight: 400;
    line-height: 48px;
}

.u-display-3 {
    font-size: 56px;
    font-weight: 400;
    line-height: 1.35;
    letter-spacing: -0.02em;
}
