/* #BORDERS
\*------------------------------------*/
.u-border {
	border-style: solid!important;
	border-width: $border-width!important;
	border-color: $border-color!important;
}

.u-border-t {
	border-top-style: solid!important;
	border-top-width: $border-width!important;
	border-top-color: $border-color!important;
}

.u-border-r {
	border-right-style: solid!important;
	border-right-width: $border-width!important;
	border-right-color: $border-color!important;
}

.u-border-b {
	border-bottom-style: solid!important;
	border-bottom-width: $border-width!important;
	border-bottom-color: $border-color!important;
}

.u-border-l {
	border-left-style: solid!important;
	border-left-width: $border-width!important;
	border-left-color: $border-color!important;
}

.u-border0 { border: 0!important; }

.u-br { border-radius: $border-radius; }

.u-br0 { border-radius: 0; }

.u-round { border-radius: 50%; }

.u-br-t { border-radius: $border-radius $border-radius 0 0; }

.u-br-r { border-radius: 0 $border-radius $border-radius 0; }

.u-br-b { border-radius: 0 0 $border-radius $border-radius; }

.u-br-l { border-radius: $border-radius 0 0 $border-radius; }
