/* #WHITE SPACE
\*------------------------------------*/
.u-m1 {
	margin: $space1;
}

.u-mt1 {
	margin-top: $space1;
}

.u-mr1 {
	margin-right: $space1;
}

.u-mb1 {
	margin-bottom: $space1;
}

.u-ml1 {
	margin-left: $space1;
}

.u-m2 {
	margin: $space2;
}

.u-mt2 {
	margin-top: $space2;
}

.u-mr2 {
	margin-right: $space2;
}

.u-mb2 {
	margin-bottom: $space2;
}

.u-ml2 {
	margin-left: $space2;
}

.u-m3 {
	margin: $space3;
}

.u-mt3 {
	margin-top: $space3;
}

.u-mr3 {
	margin-right: $space3;
}

.u-mb3 {
	margin-bottom: $space3;
}

.u-ml3 {
	margin-left: $space3;
}

.u-m4 {
	margin: $space4;
}

.u-mt4 {
	margin-top: $space4;
}

.u-mr4 {
	margin-right: $space4;
}

.u-mb4 {
	margin-bottom: $space4;
}

.u-ml4 {
	margin-left: $space4;
}

.u-mx1 {
	margin-right: $space1;
	margin-left: $space1;
}

.u-mx2 {
	margin-right: $space2;
	margin-left: $space2;
}

.u-mx3 {
	margin-right: $space3;
	margin-left: $space3;
}

.u-mx4 {
	margin-right: $space4;
	margin-left: $space4;
}

.u-mtn1 {
	margin-top: -$space1;
}

.u-mxn1 {
	margin-right: -$space1;
	margin-left: -$space1;
}

.u-mtn2 {
	margin-top: -$space2;
}

.u-mxn2 {
	margin-right: -$space2;
	margin-left: -$space2;
}

.u-mxn3 {
	margin-right: -$space3;
	margin-left: -$space3;
}

.u-mxn4 {
	margin-right: -$space4;
	margin-left: -$space4;
}

.u-ml-auto {
	margin-left: auto;
}

.u-mr-auto {
	margin-right: auto;
}

.u-mt-auto {
	margin-top: auto;
}

.u-mb-auto {
	margin-bottom: auto;
}

.u-mx-auto {
	margin-right: auto;
	margin-left: auto;
}

.u-m0 {
	margin: 0;
}

.u-mt0 {
	margin-top: 0;
}

.u-mr0 {
	margin-right: 0;
}

.u-mb0 {
	margin-bottom: 0;
}

.u-ml0 {
	margin-left: 0;
}

.u-mx0 {
	margin-right: 0;
	margin-left: 0;
}

.u-p1\/2 {
	padding: $space1 / 2;
}

.u-p1-half {
	padding: $space1 / 2;
}

.u-p1 {
	padding: $space1;
}

.u-py1 {
	padding-top: $space1;
	padding-bottom: $space1;
}

.u-px1 {
	padding-right: $space1;
	padding-left: $space1;
}

.u-pt1 {
	padding-top: $space1;
}

.u-pb1 {
	padding-bottom: $space1;
}

.u-p2 {
	padding: $space2;
}

.u-py2 {
	padding-top: $space2;
	padding-bottom: $space2;
}

.u-px2 {
	padding-right: $space2;
	padding-left: $space2;
}

.u-pt2 {
	padding-top: $space2;
}

.u-pb2 {
	padding-bottom: $space2;
}

.u-p3 {
	padding: $space3;
}

.u-pl3 {
	padding-left: $space3;
}

.u-py3 {
	padding-top: $space3;
	padding-bottom: $space3;
}

.u-px3 {
	padding-right: $space3;
	padding-left: $space3;
}

.u-pt3 {
	padding-top: $space3;
}

.u-pb3 {
	padding-bottom: $space3;
}

.u-p4 {
	padding: $space4;
}

.u-pl4 {
	padding-left: $space4;
}

.u-py4 {
	padding-top: $space4;
	padding-bottom: $space4;
}

.u-px4 {
	padding-right: $space4;
	padding-left: $space4;
}

.u-pt4 {
	padding-top: $space4;
}

.u-pb4 {
	padding-bottom: $space4;
}

.u-p0 {
	padding: 0;
}

.u-py0 {
	padding-top: 0;
	padding-bottom: 0;
}

.u-px0 {
	padding-right: 0;
	padding-left: 0;
}

.u-pt0 {
	padding-top: 0;
}

@include md {
	.u-m2-md {
		margin: $space2;
	}

	.u-mt2-md {
		margin-top: $space2;
	}

	.u-mr2-md {
		margin-right: $space2;
	}

	.u-mb2-md {
		margin-bottom: $space2;
	}

	.u-ml2-md {
		margin-left: $space2;
	}

	.u-m3-md {
		margin: $space3;
	}

	.u-mt3-md {
		margin-top: $space3;
	}

	.u-mr3-md {
		margin-right: $space3;
	}

	.u-mb3-md {
		margin-bottom: $space3;
	}

	.u-ml3-md {
		margin-left: $space3;
	}

	.u-m4-md {
		margin: $space4;
	}

	.u-mt4-md {
		margin-top: $space4;
	}

	.u-mr4-md {
		margin-right: $space4;
	}

	.u-mb4-md {
		margin-bottom: $space4;
	}

	.u-ml4-md {
		margin-left: $space4;
	}

	.u-mxn2-md {
		margin-right: -$space2;
		margin-left: -$space2;
	}

	.u-mxn3-md {
		margin-right: -$space3;
		margin-left: -$space3;
	}

	.u-mxn4-md {
		margin-right: -$space4;
		margin-left: -$space4;
	}

	.u-mx-auto-md {
		margin-right: auto;
		margin-left: auto;
	}

	.u-px1-md {
		padding-right: $space1;
		padding-left: $space1;
	}

	.u-p2-md {
		padding: $space2;
	}

	.u-py2-md {
		padding-top: $space2;
		padding-bottom: $space2;
	}

	.u-px2-md {
		padding-right: $space2;
		padding-left: $space2;
	}

	.u-p3-md {
		padding: $space3;
	}

	.u-py3-md {
		padding-top: $space3;
		padding-bottom: $space3;
	}

	.u-px3-md {
		padding-right: $space3;
		padding-left: $space3;
	}

	.u-pt3-md {
		padding-top: $space3;
	}

	.u-pb3-md {
		padding-bottom: $space3;
	}

	.u-p4-md {
		padding: $space4;
	}

	.u-py4-md {
		padding-top: $space4;
		padding-bottom: $space4;
	}

	.u-px4-md {
		padding-right: $space4;
		padding-left: $space4;
	}

	.u-pt4-md {
		padding-top: $space4;
	}

	.u-pb4-md {
		padding-bottom: $space4;
	}
}

@include lg {
	.u-mx4-lg {
		margin-right: $space4;
		margin-left: $space4;
	}
}

.u-strip-space {
	margin: 0;
	padding: 0;

	> * {
		margin: 0;
		padding: 0;
	}
}
