/* #COLORS
\*------------------------------------*/

.color-1 { color: $color-1!important; }
.color-2 { color: $color-2!important; }
.color-3 { color: $color-3!important; }

.bg-1 { background-color: $color-1!important; }
.bg-2 { background-color: $color-2!important; }
.bg-3 { background-color: $color-3!important; }
.bg-1--light { background-color: lighten($color-1, 10)!important; }
.bg-2--light { background-color: lighten($color-2, 10)!important; }
.bg-3--light { background-color: lighten($color-3, 10)!important; }
.bg-1--dark { background-color: darken($color-1, 10)!important; }
.bg-2--dark { background-color: darken($color-2, 10)!important; }
.bg-3--dark { background-color: darken($color-3, 10)!important; }

.fill-1 { fill: $color-1!important; }
.fill-2 { fill: $color-2!important; }
.fill-3 { fill: $color-3!important; }

.black  { color: $black!important; }
.gray   { color: $gray!important; }
.silver { color: $silver!important; }
.white  { color: $white!important; }

.muted { opacity: $opacity!important; }

.color-inherit * {
    color: inherit!important;
}

.currentcolor,
.currentcolor a {
    color: currentColor!important;
}

/* Basscss Background Colors */

.bg-black  { background-color: $black!important; }
.bg-gray   { background-color: $gray!important; }
.bg-silver { background-color: $silver!important; }
.bg-white  { background-color: $white!important; }
.bg-transparent  { background-color: transparent!important; }

.bg-lighten-1 { background-color: $lighten-1!important; }
.bg-lighten-2 { background-color: $lighten-2!important; }
.bg-lighten-3 { background-color: $lighten-3!important; }
.bg-lighten-4 { background-color: $lighten-4!important; }

.bg-darken-1 { background-color: $darken-1!important; }
.bg-darken-2 { background-color: $darken-2!important; }
.bg-darken-3 { background-color: $darken-3!important; }
.bg-darken-4 { background-color: $darken-4!important; }
