/* #UTILITY LAYOUT
\*------------------------------------*/

.u-inline       { display: inline }
.u-block        { display: block!important; }
.u-inline-block { display: inline-block }
.u-table        { display: table }
.u-table-cell   { display: table-cell }
.u-none         { display: none; }

.u-align-baseline { vertical-align: baseline }
.u-align-top      { vertical-align: top }
.u-align-middle   { vertical-align: middle }
.u-align-bottom   { vertical-align: bottom }

.u-overflow-hidden { overflow: hidden!important; }
.u-overflow-visible { overflow: visible!important; }
.u-overflow-scroll { overflow: scroll!important; }
.u-overflow-auto   { overflow: auto!important; }

.u-nowrap { white-space: nowrap; }

.u-relative { position: relative!important; }
.u-absolute { position: absolute!important; }
.u-fixed    { position: fixed!important; }
.u-static   { position: static!important; }

.u-top    { top: 0 }
.u-right  { right: 0 }
.u-bottom { bottom: 0 }
.u-left   { left: 0 }

.u-z1 { z-index: 1 }
.u-z2 { z-index: 2 }
.u-z3 { z-index: 3 }
.u-z4 { z-index: 4 }

.u-left  { float: left }
.u-right { float: right }

.u-fit { max-width: 100% }


@include md {
    .u-relative\@md { position: relative!important; }
    .u-absolute\@md { position: absolute!important; }
    .u-fixed\@md    { position: fixed!important; }
    .u-static\@md   { position: static!important; }
}
