.form-allowed-tags, pre {
  background: #f0f0f0;
  padding: 13px;
}

.form-allowed-tags code {
font-size: .8em;
color: #404040;
}

/*--------------------------------------------------------------
Accessibility
--------------------------------------------------------------*/
.screen-reader-text,
.assistive-text {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*--------------------------------------------------------------
Widgets
--------------------------------------------------------------*/
.widget {
  margin: 0 0 1.5em;
}

/* Make sure select elements fit in widgets */
.widget select {
  max-width: 100%;
}

/*--------------------------------------------------------------
Posts and pages
--------------------------------------------------------------*/
.sticky {
}
.hentry {
  margin: 0 0 1.5em;
}
.byline,
.updated {
  display: none;
}
.single .byline,
.group-blog .byline {
  display: inline;
}
.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0;
}

/*--------------------------------------------------------------
Comments
--------------------------------------------------------------*/
.comment-content a {
  word-wrap: break-word;
}

/*--------------------------------------------------------------
Media
--------------------------------------------------------------*/
img.wp-smiley {
  max-height: 12px;
  margin:     0;
  padding:    0;
  border:     none;
  background: transparent;
}

.wp-audio-shortcode,
.wp-video-shortcode,
audio,
video,
object,
embed,
iframe {
  max-width:     100%;
  margin-bottom: 1.5rem;
}

.wp-audio-shortcode,
.wp-video-shortcode,
audio,
video {
  display:   block;
  max-width: 100%;
}

/*--------------------------------------------------------------
Captions
--------------------------------------------------------------*/
.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%;
}
.wp-caption img[class*="wp-image-"] {
  display: block;
  margin: 0 auto;
}
.wp-caption-text {
  text-align: center;
}
.wp-caption .wp-caption-text {
  margin: 0.8075em 0;
}