/* #COLORS
\*------------------ */

/* Text Colors */
.u-text-color.u-text-color {
	color: $root-color;
}

.u-text-black {
	color: $black;
}

.u-text-link {
	color: $color-links;
}

.u-text-grey {
	color: $color-grey-ui;
}

.u-text-grey-sub {
	color: $color-text-light;
}

.u-text-silver {
	color: $silver;
}

.u-text-white {
	color: $white;
}

.u-text-muted {
	color: $color-tint-3;
}

.u-text-1 {
	color: $color-1;
}

.u-text-2 {
	color: $color-2;
}

.u-text-1-dark {
	color: $color-1-dark;
}

.u-text-2-dark {
	color: $color-2-dark;
}

/* Background Colors */
.u-bg-1 {
	background-color: $color-1;
	background-color: var(--color-1) !important;
}

.u-bg-2 {
	background-color: $color-2;
	background-color: var(--color-2) !important;
}

.u-bg-1-light {
	background-color: $color-1-light;
}

.u-bg-2-light {
	background-color: $color-2-light;
}

.u-bg-1-dark {
	background-color: $color-1-dark;
}

.u-bg-2-dark {
	background-color: $color-2-dark;
}

.u-bg-black {
	background-color: $black;
}

.u-bg-grey {
	background-color: $color-grey-bg;
}

.u-bg-grey-light {
	background-color: $color-grey-bg-light;
}

.u-bg-grey-dark {
	background-color: $color-grey-bg-dark;
}

.u-bg-silver {
	background-color: $silver;
	color: $root-color;
}

.u-bg-white {
	background-color: $white;
	color: $root-color;
}

/* Border Colors */
.u-b-1 {
	border-color: $color-1;
}

.u-b-2 {
	border-color: $color-2;
}

.u-b-1-light {
	border-color: $color-1-light;
}

.u-b-2-light {
	border-color: $color-2-light;
}

.u-b-1-dark {
	border-color: $color-1-dark;
}

.u-b-2-dark {
	border-color: $color-2-dark;
}

.u-b-black {
	border-color: $black;
}

.u-b-grey {
	border-color: $color-grey-ui;
}

.u-b-silver {
	border-color: $color-grey-ui-light;
}

/* Alerts */
.u-bg-info {
	background-color: $color-info-light;
	color: $color-info-dark;
	border-color: color($color-info-dark a(0.3));
}

.u-bg-success {
	background-color: $color-success-light;
	color: $color-success-dark;
	border-color: color($color-success-dark a(0.3));
}

.u-bg-warning {
	background-color: $color-warning-light;
	color: $color-warning-dark;
	border-color: color($color-warning-dark a(0.3));
}

.u-bg-transparent {
	background-color: transparent;
}

.u-bg-frost-1 {
	background-color: $color-frost-1;
}

.u-bg-frost-2 {
	background-color: $color-frost-2;
}

.u-bg-frost-3.u-bg-frost-3 {
	background-color: $color-frost-3;
}

.u-bg-frost-4.u-bg-frost-4 {
	background-color: $color-frost-4;
}

.u-bg-tint-1 {
	background-color: $color-tint-1;
}

.u-bg-tint-2 {
	background-color: $color-tint-2;
}

.u-bg-tint-3 {
	background-color: $color-tint-3;
}

.u-bg-tint-4 {
	background-color: $color-tint-4;
}

.u-bg-mask {
	background-color: $color-tint-3;
}

.u-bg-1-glass {
	background-color: color($color-1 a(0.96));
}

.u-bg-2-glass {
	background-color: color($color-2 a(0.96));
}

.u-bg-1-glass-light {
	background-color: color($color-1-light a(0.96));
}

.u-bg-2-glass-light {
	background-color: color($color-2-light a(0.96));
}

.u-bg-1-glass-dark {
	background-color: color($color-1-dark a(0.96));
}

.u-bg-2-glass-dark {
	background-color: color($color-2-dark a(0.96));
}

.u-hover-white.u-hover-white:hover {
	background-color: $white;
}

.u-hover-frost.u-hover-frost:hover {
	background-color: $color-frost-2;
}

.u-hover-tint:hover {
	background-color: $color-tint-2;
}

/* Fill Colors */
.u-fill-1 {
	fill: $color-1;
}

.u-fill-2 {
	fill: $color-2;
}

.u-fill-1-light {
	background-color: $color-1-light;
}

.u-fill-2-light {
	background-color: $color-2-light;
}

.u-fill-1-dark {
	background-color: $color-1-dark;
}

.u-fill-2-dark {
	background-color: $color-2-dark;
}
