@import "style.css";

.u-flex {
	diplay: block!important;
}

.u-flex > * {
	display: inline-block!important;
}


.u-bg-frost-1, .u-bg-frost-3, .u-bg-frost-4 {
	background: #fff!important;
}

.u-bg-tint-1, .u-bg-tint-2, .u-bg-tint-3, .u-bg-tint-4 {
	background: #999!important;
}

* {
	position: relative;
}

.o-cell {
	display: inline-block!important;
	min-width: 320px!important;
	position: relative!important;
}

.u-bg-white {
	background: #ffffff!important;
}

/*.entry {
	width: 900px!important;
}*/

.u-1of2,
.u-1of3 {
	width: 400px!important;
	display: inline-block!important;
}

/*.u-1of1 {
	width: 900px!important;
}*/

.u-container {
	display: block!important;
	width: 980px!important;
	position: relative!important;
}

img,
img.thumbnail {
	width: auto!important;
}


.u-mtn1 {
	margin-top: -$space1;
}

.u-mbn1 {
	margin-bottom: -$space1;
}

.u-mln1 {
	margin-left: -$space1;
}

.u-mrn1,
.u-mxn1,
.u-mtn2,
.u-mbn2,
.u-mtn3,
.u-mbn3,
.u-mtn4,
.u-mbn4,
.u-mxn2,
.u-mrn3,
.u-mrn4,
.u-mln3,
.u-mln4,
.u-mxn3,
.u-mxn4 {
	margin: 0!important;
}

.tile {
	/*background: #b2b2b2!important;*/
	position:relative !important;
}

.tile > * {
	position:relative !important;
}
